@import "global";

html
{
    height: 100%;
    font-size: $font-size;
}
body
{
    font-family: 'Raleway', sans-serif;
    line-height: 1.3333;
    min-height: 100%;
    position: relative;
}

section
{
  margin-bottom: $spacing-vertical;
  &:last-child
  {
    margin-bottom: 0;
  }
}

h1 { font-size: 2.0em; margin-bottom: $spacing-vertical / 2; margin-top: $spacing-vertical * 1.5; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
sup, sub {
 vertical-align: baseline;
 position: relative;
}
sup { top: -0.4em; }
sub { top: 0.4em; }
label { cursor: pointer; }

header
{
  line-height: $spacing-vertical;
}

p
{
  margin-bottom: 0.8em;
}


.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

input[type="search"]
{
  border: 0 none;
  border: 1px solid rgba(160,160,160,.5);
  padding-left: 5px;
  padding-right: 5px;
  height: $spacing-vertical * 1.5;
}

.busy-indicator
{
  background: url('../img/busy.gif') no-repeat center center;
  display: inline-block;
  margin: -1em 0;
  min-width: 16px;
  min-height: 8px;
  vertical-align: middle;
  padding: 0 30px;
  &:last-child
  {
    padding-right: 2px;
  }
  &:first-child
  {
    padding-left: 2px;
  }
}

.button-block
{
  cursor: pointer;
  display: inline-block;
  height: $spacing-vertical * 1.5;
  line-height: $spacing-vertical * 1.5;
  padding: 0 15px;
  text-decoration: none;
  border: 0 none;
  text-align: center;
  + .button-block
  {
    margin-left: 20px;
  }
  .icon
  {
    top: 0em;
  }
  .icon:first-child
  {
    padding-right: 5px;
  }
  .icon:last-child
  {
    padding-left: 5px;
  }
}

.button-primary
{
  color: white;
  @include linear-gradient(lighten($color-primary, 5), darken($color-primary, 5));
  background-color: $color-primary;
  border: 1px solid black;
}
.button-alt
{
  @include linear-gradient(lighten($color-light-alt, 5), darken($color-light-alt, 5));
  color: hsl(hue($color-primary), 85, 15);
  border: 1px solid darken($color-primary, 10);
}
.button-text
{
  color: $color-primary;
  text-decoration: underline;
  &:hover
  {
    opacity: 0.70;
    transition: opacity .225s ease;
  }
}

.icon {
  position: relative;
  top: 0.16em;
}

.fade-in-link {

  &:hover {
    opacity: 1;
  }
}

.help
{
  color: $color-help;
}
