@import '~ui/scss/init/breakpoints';
@import '~ui/scss/init/mixins';
@import '~ui/scss/init/breakpoints';

.navigation-section-header {
  @include between;
  padding: var(--spacing-xxxs) var(--spacing-s);
  margin-bottom: var(--spacing-xxxs);
  font-size: var(--font-xsmall);
  color: var(--color-text-subtitle);
  opacity: 0.7;
  border-bottom: 1px solid var(--color-border);

  svg {
    color: var(--color-text-subtitle);
    scale: 0.75;

    &:hover {
      color: var(--color-primary);
    }
  }
}
