// Generic html styles used accross the App
// component specific styling should go in the component scss file

*,
*::before,
*::after {
  -webkit-user-select: text;
}

html {
  @include font-sans;
  background-color: $lbry-white;
  font-size: 12px;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: $lbry-black;
  cursor: default;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  overflow: hidden;

  html[data-mode='dark'] & {
    color: mix($lbry-white, $lbry-gray-3, 50%);
  }
}

*::selection {
  background-color: $lbry-teal-3;
  color: $lbry-white;
}

blockquote {
  margin-bottom: 1rem;
  padding: 0.8rem;

  background-color: rgba($lbry-cyan-1, 0.1);
  border-left: 0.5rem solid $lbry-cyan-5;
}

code {
  @include font-mono;
  background-color: $lbry-gray-1;
  font-size: 1.5rem;
}

.columns {
  display: flex;
  justify-content: space-between;

  > * {
    flex-basis: 0;
    flex-grow: 1;

    &:not(:last-of-type) {
      margin-right: 1.5rem;
    }
  }
}

.divider__horizontal {
  border-top: $lbry-gray-2;
  margin: 16px 0;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.column {
  display: flex;

  .column__item:not(:first-child) {
    padding-left: $spacing-width * 2/3;
    flex: 1;
  }
}

.truncated-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.busy-indicator__loader {
  min-width: 16px;
  min-height: 8px;
  margin: -1rem 0;
  padding: 0 30px;

  background: url('../../../static/img/busy.gif') no-repeat center center;
  display: inline-block;
  vertical-align: middle;

  &:first-child {
    padding-left: 2px;
  }

  &:last-child {
    padding-right: 2px;
  }
}

.alert-text {
  color: $lbry-red-3;
  font-weight: 600;

  html[data-mode='dark'] & {
    color: $lbry-red-1;
  }
}

.card {
  .help:last-child {
    margin-bottom: 0;
  }
}

.help {
  font-size: 1rem;
  background-color: rgba($lbry-blue-1, 0.1);
  color: $lbry-gray-5;
  display: block;
  padding: 1rem;
  margin-top: var(--spacing-vertical-medium);
  margin-bottom: var(--spacing-vertical-medium);
  border-radius: 5px;

  html[data-mode='dark'] & {
    color: inherit;
  }
}

.help--warning {
  @extend .help;
  background-color: $lbry-yellow-3;
  color: $lbry-black;

  .button--link:not(:disabled) {
    // The normal colors we use for .button--link are too light for the warning background
    // This just darkens them a bit and adds an border-bottom so they are easier to see.
    $altered-color: mix($lbry-teal-5, $lbry-black, 80%);
    $altered-hover-color: mix($lbry-teal-5, $lbry-black, 60%);

    &:not(.button--disabled) {
      color: $altered-color;
      border-bottom: 1px solid $altered-color;

      &:hover {
        color: $altered-hover-color;
      }

      html[data-mode='dark'] & {
        color: $altered-color;
        border-bottom: 1px solid $altered-color;

        &:hover {
          color: $altered-hover-color;
        }
      }
    }
  }

  html[data-mode='dark'] & {
    background-color: $lbry-yellow-3;
    color: $lbry-black;
  }
}

.empty {
  color: $lbry-gray-5;
  font-style: italic;

  html[data-mode='dark'] & {
    color: inherit;
  }
}

.qr-code {
  width: 134px;
  height: 134px;
  border: 3px solid $lbry-white;

  &.qr-code--right-padding {
    margin-right: $spacing-vertical * 2/3;
  }

  &.qr-code--top-padding {
    margin-top: $spacing-vertical * 2/3;
  }
}

.error-text {
  color: $lbry-red-5;

  [data-mode='dark'] & {
    color: $lbry-red-3;
  }
}

.thumbnail-preview {
  width: var(--thumbnail-preview-width);
  height: var(--thumbnail-preview-height);

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
