@mixin placeholder {
  animation: pulse 2s infinite ease-in-out;
  background-color: $lbry-gray-1;
  border-radius: var(--card-radius);
}

@mixin mediaThumbHoverZoom {
  .media__thumb {
    transition: all 0.2s ease;
  }

  &:hover {
    .media__thumb {
      transform: scale(1.05);
    }
  }
}
