{
  "presets": ["@babel/react", "@babel/flow"],
  "plugins": [
    "import-glob",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "react-hot-loader/babel",
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties",
  ]
}
