/node_modules
/LBRY-darwin-x64
/dist

/src/renderer/dist/css/*
/src/renderer/dist/js/*
!/src/renderer/dist/js/mediaelement
/src/renderer/node_modules
/src/renderer/.sass-cache


/src/main/dist
/src/main/locales
/src/main/node_modules
/build/venv
/build/daemon.ver
/lbry-app-venv
/lbry-app
/lbry-venv
/daemon/build
/daemon/venv
/daemon/requirements.txt
/.idea

*.pyc
*.iml
.#*

build/daemon.zip
.vimrc

package-lock.json
