[submodule "lbry-web-ui"]
	path = lbry-web-ui
	url = git@github.com:lbryio/lbry-web-ui.git
[submodule "lbry"]
	path = lbry
	url = git@github.com:lbryio/lbry.git
[submodule "lbryum"]
	path = lbryum
	url = git@github.com:lbryio/lbryum.git
