/node_modules
/LBRY-darwin-x64
/dist

/ui/dist/css/*
/ui/dist/js/*
!/ui/dist/js/mediaelement
/ui/node_modules
/ui/.sass-cache


/app/dist
/app/node_modules
/build/venv
/lbry-app-venv
/lbry-venv
/daemon/build
/daemon/venv
/daemon/requirements.txt
/.idea

*.pyc
.#*

build/daemon.zip
.vimrc

package-lock.json
ui/yarn.lock
