.ads-wrapper {
  @extend .navigation;
  background-color: var(--color-ads-background);
  padding-top: 0.5rem;
  padding-right: 0.5rem;

  p {
    margin-left: 0.4rem; // The ads provider adds weird padding to their wrapper
    font-size: var(--font-xsmall);
    color: var(--color-ads-text);
  }

  .button--link {
    color: var(--color-ads-link);
  }
}

// Inline Video Ads
.ads__claim-item {
  border-bottom: 1px solid var(--color-border);
  padding: var(--spacing-m);
  background-color: var(--color-ads-background);
  display: flex;

  > div {
    width: 40%;
    position: relative !important;
  }

  .avp-p-gui {
    z-index: 1 !important;
  }

  @media (max-width: $breakpoint-small) {
    flex-direction: column;

    > div {
      width: 100%;
    }
  }
}

.ads__claim-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--spacing-l);

  @media (max-width: $breakpoint-small) {
    padding-left: 0;
  }
}

.ads__claim-text--small {
  font-size: var(--font-small);
}
