.block-list {
  .claim-preview__wrapper--channel {
    .button--no-style {
      .button__content {
        align-items: unset;
      }
    }
  }
}

.block-list--moderator {
  .button--no-style {
    .button__content {
      align-items: flex-start;
    }
  }

  .section__actions {
    flex-wrap: wrap;
  }
}

.block-list--delegator {
  padding: var(--spacing-s);
  background-color: rgba(var(--color-background-base), 0.6);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);

  .button--alt,
  .button--secondary {
    margin-top: var(--spacing-xxs);
  }

  .claim-preview__wrapper {
    border-bottom: none !important;
    margin-bottom: var(--spacing-xs);
  }

  .claim-preview--inline {
    .channel-thumbnail {
      @include handleChannelGif(3rem);
    }
  }

  .claim-preview__title {
    font-size: var(--font-small);
  }

  .channel-name {
    font-size: var(--font-xsmall);
  }

  .section {
    // margin-left: var(--spacing-m);
  }

  label {
    font-style: italic;
  }
}

.block-modal--values {
  margin-left: var(--spacing-s);

  .help {
    font-style: italic;
    font-size: var(--font-xsmall);
  }
}

.block-modal--finalize {
  margin-top: var(--spacing-l);
}

.block-modal--active-channel {
  padding: var(--spacing-xs);
  display: flex;
  align-items: center;

  .channel-thumbnail {
    margin-right: var(--spacing-xs);
    height: 1.8rem;
    width: 1.8rem;
  }

  @media (min-width: $breakpoint-small) {
    border-left: 1px solid var(--color-border);
    padding-left: var(--spacing-m);
    margin-left: calc(var(--spacing-l) * 2);
  }
}

.block-modal--active-channel-label {
  @extend .help;
  font-size: var(--font-xxsmall);
  margin-top: 0;
  max-width: 10rem;
  white-space: pre-line;
  margin-right: var(--spacing-s);
}
