@import "../global";

$padding-card-horizontal: $spacing-vertical * 2/3;

.card {
  margin-left: auto;
  margin-right: auto;
  max-width: $width-page-constrained;
  background: $color-bg;
  box-shadow: $box-shadow-layer;
  border-radius: 2px;
  margin-bottom: $spacing-vertical * 2/3;
  overflow: auto;
}
.card--obscured
{
  position: relative;
}
.card--obscured .card__inner {
  -webkit-filter: blur($blur-intensity);
  -moz-filter: blur($blur-intensity);
  -o-filter: blur($blur-intensity);
  -ms-filter: blur($blur-intensity);
  filter: blur($blur-intensity);
}
.card__title-primary {
  padding: 0 $padding-card-horizontal;
  margin-top: $spacing-vertical;
}
.card__title-identity {
  padding: 0 $padding-card-horizontal;
  margin-top: $spacing-vertical * 1/3;
  margin-bottom: $spacing-vertical * 1/3;
}
.card__actions {
  padding: 0 $padding-card-horizontal;
}
.card__actions {
  margin-top: $spacing-vertical * 2/3;
}
.card__actions--bottom {
  margin-top: $spacing-vertical * 1/3;
  margin-bottom: $spacing-vertical * 1/3;
}
.card__actions--form-submit {
  margin-top: $spacing-vertical;
  margin-bottom: $spacing-vertical * 2/3;
}
.card__content {
  margin-top: $spacing-vertical * 2/3;
  margin-bottom: $spacing-vertical * 2/3;
  padding: 0 $padding-card-horizontal;
}
.card__subtext {
  color: #444;
  margin-top: 12px;
  font-size: 0.9em;
  margin-top: $spacing-vertical * 2/3;
  margin-bottom: $spacing-vertical * 2/3;
  padding: 0 $padding-card-horizontal;
}
.card__subtext--allow-newlines {
  white-space: pre-wrap;
}
.card__subtext--two-lines {
  height: $font-size * 0.9 * $font-line-height * 2;
}
.card-overlay {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.8);
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: 600;
}

$card-link-scaling: 1.1;
.card__link {
  display: block;
}
.card--link:hover {
  position: relative;
  z-index: 1;
  box-shadow: $box-shadow-focus;
  transform: scale($card-link-scaling);
  transform-origin: 50% 50%;
  overflow-x: visible;
  overflow-y: visible;
}

.card__media {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

$width-card-small: $spacing-vertical * 12;
$height-card-small: $spacing-vertical * 15;

.card--small {
  width: $width-card-small;
  overflow-x: hidden;
  white-space: normal;
}
.card--small .card__media {
  height: $width-card-small * 9 / 16;
}

.card__subtitle {
  color: $color-help;
  font-size: 0.85em;
  line-height: $font-line-height * 1 / 0.85;
}

.card-series-submit
{
  margin-left: auto;
  margin-right: auto;
  max-width: $width-page-constrained;
  padding: $spacing-vertical / 2;
}

.card-row {
  > .card {
    vertical-align: top;
    display: inline-block;
    margin-right: $spacing-vertical / 3;
  }
  + .card-row {
    margin-top: $spacing-vertical * 1/3;
  }
}
.card-row--small {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 20px;
  margin-left: -20px; /*hacky way to give space for hover */
}
.card-row__header {
  margin-bottom: $spacing-vertical / 3;
}