.careers-overview-page {
  text-align: center;
}

.job-listings {
  color: rgba(var(--color-text-base), 0.8);
  margin-top: 29px;
  font-size: 18px;
}

.careers-mail-link {
  color: rgba(var(--color-text-base), 0.8);
}
