$cover-z-index: 0;
$metadata-z-index: 1;

.channel-cover {
  position: relative;
  background-image: linear-gradient(to right, #637ad2, #318794 80%);
  display: flex;
  align-items: flex-end;
  box-sizing: content-box;
  color: #fff;
  border-top-left-radius: var(--card-radius);
  border-top-right-radius: var(--card-radius);

  .button {
    color: #fff;
  }
}

.channel-cover__custom {
  z-index: $cover-z-index;
  align-self: flex-start;
  position: absolute;
  object-fit: cover;
  filter: brightness(30%);
}

.channel-cover,
.channel-cover__custom {
  height: var(--cover-photo-height);
  width: 100%;
}

.channel-thumbnail {
  display: flex;
  height: 5rem;
  width: 5rem;
  background-size: cover;
  margin-right: var(--spacing-medium);
}

.channel-thumbnail--small {
  height: 3rem;
  width: 3rem;
}

.channel__thumbnail--channel-page {
  position: absolute;
  height: var(--channel-thumbnail-width);
  width: var(--channel-thumbnail-width);
  box-shadow: 0px 8px 40px -3px #000;
  left: var(--spacing-medium);
  top: 4rem;

  @media (max-width: $breakpoint-small) {
    display: none;
  }
}

.channel-thumbnail__custom {
  width: 100%;
  object-fit: cover;
}

.channel-thumbnail__default {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-end;
}

.channel-thumbnail,
.channel-thumbnail__custom {
  border-radius: var(--card-radius);
}

.channel-thumbnail__default--0 {
  background-color: #748ffc;
}

.channel-thumbnail__default--1 {
  background-color: #ffa855;
}

.channel-thumbnail__default--2 {
  background-color: #339af0;
}

.channel-thumbnail__default--3 {
  background-color: #ec8383;
}

.channel-thumbnail__default--4 {
  background-color: #ccc;
}

.channel__primary-info {
  // Ensure the profile pic/title sit ontop of the default cover background
  z-index: $metadata-z-index;
  // Jump over the thumbnail photo because it is absolutely positioned
  // Then add normal page spacing, _then_ add the actual padding
  padding-left: calc(var(--channel-thumbnail-width) + var(--spacing-large));
  padding-right: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
  min-width: 0;
  width: 100%;

  @media (max-width: $breakpoint-small) {
    padding-left: var(--spacing-medium);
  }
}

.channel__title {
  display: inline;
  margin-right: var(--spacing-small);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: xx-large;
  font-weight: var(--font-weight-bold);

  // Quick hack to get this to work
  // We should have a generic style for "header with button next to it"
  .button {
    margin-left: var(--spacing-medium);
  }
}

.channel__meta {
  display: flex;
  justify-content: space-between;
}

.channel__image--blurred {
  filter: blur(16px);
}

.channel__quick-actions {
  @extend .card__actions;
  position: absolute;
  top: 0;
  right: var(--spacing-medium);
  margin-top: var(--spacing-medium);
  z-index: $metadata-z-index;
}
