
.channel-name {
  width: calc(var(--card-small-width) * 2 / 3);
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.channel-indicator__icon--invalid {
  color: var(--color-error);
}
