.support-claim-button {
  .icon--DollarSign {
    height: 16px;
    width: 16px;
    margin-right: -5px;
    // margin-top: 4px;
  }
}

.approved-bank-account__button {
  span,
  svg {
    color: var(--color-support-button);
    stroke: var(--color-support-button) !important;
    filter: brightness(0.85);
  }
}
