.claim-list {
  .claim-preview__wrapper {
    border-bottom: 1px solid var(--color-border);
  }
}

.claim-list__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: var(--spacing-medium) 0;
  margin-top: 0;
  font-size: var(--font-body);

  .spinner {
    margin-left: var(--spacing-medium);
  }
}

.claim-list__dropdown {
  padding: 0 var(--spacing-medium);

  @media (max-width: $breakpoint-small) {
    margin-left: 0;
  }
}

.claim-list__header-label {
  position: absolute;
  transform: translateY(-130%);
  font-size: var(--font-xsmall);
  color: var(--color-text-subtitle);

  .icon {
    margin-right: var(--spacing-xsmall);
  }

  @media (max-width: $breakpoint-small) {
    position: static;
    transform: none;
  }
}

.claim-list__conjuction {
  color: var(--color-text-subtitle);
  font-size: var(--font-small);
}

.claim-list__alt-controls {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-top: var(--spacing-medium);

  & > * {
    margin-left: var(--spacing-small);
  }

  @media (max-width: $breakpoint-small) {
    display: none;
  }
}

.claim-preview__wrapper {
  padding: var(--spacing-medium);
  list-style: none;
}

.claim-preview__wrapper--notice {
  background-color: var(--color-notice);
}

.claim-preview__wrapper--inline {
  padding: 0;
}

.claim-preview__wrapper--small {
  padding: var(--spacing-small);
}

.claim-preview {
  flex: 1;
  display: flex;
  position: relative;
  overflow: visible;

  &:not(.claim-preview--inline):not(.claim-preview--pending):not(.claim-preview--inactive) {
    cursor: pointer;
  }

  .media__thumb {
    width: var(--file-list-thumbnail-width);
    flex-shrink: 0;
    margin-right: var(--spacing-medium);
  }

  .channel-thumbnail {
    width: 6rem;
    height: 6rem;
  }

  &:hover {
    .claim-preview__hover-actions {
      display: block;
    }
  }

  @media (max-width: $breakpoint-small) {
    font-size: 14px;

    .media__thumb {
      width: 8rem;
      height: auto;
    }

    .channel-thumbnail {
      width: 5rem;
      height: 5rem;
    }
  }
}

.claim-preview--large {
  border: none;

  &:hover {
    background-color: transparent;
  }

  .media__thumb {
    width: 14rem;

    @media (max-width: $breakpoint-small) {
      width: 5rem;
    }
  }

  .channel-thumbnail {
    width: 7.5rem;
    height: 7.5rem;
  }
}

.claim-preview--small {
  .media__thumb {
    width: 8rem;
    height: auto;
  }

  .channel-thumbnail {
    width: 4rem;
    height: 4rem;
  }
}

.claim-preview--pending {
  opacity: 0.6;
}

.claim-preview--padded {
  padding: var(--spacing-small);
}

.claim-preview--inline {
  .channel-thumbnail {
    width: var(--channel-thumbnail-width--small);
    height: var(--channel-thumbnail-width--small);
  }

  .claim-preview__actions {
    align-self: flex-end;
    margin-top: 0;
    margin-bottom: auto;
    justify-content: flex-end;
    width: auto;
  }

  .claim-preview__text {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: $breakpoint-xsmall) {
    .claim-preview__text {
      flex-direction: column;
    }

    .claim-preview__actions {
      align-self: flex-start;
    }
  }
}

.claim-preview__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.claim-preview__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-body);
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: var(--color-text);
}

.claim-preview-metadata {
  display: flex;
  flex-direction: column;
  flex: 1;

  @media (max-width: $breakpoint-small) {
    margin-bottom: var(--spacing-small);
  }
}

.claim-preview-info {
  align-items: flex-start;
}

.claim-preview-info,
.claim-preview-properties {
  display: flex;
  justify-content: space-between;
}

.claim-preview__actions {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}

.claim-preview__actions--header {
  @extend .claim-preview__actions;
  flex-wrap: wrap;
}

.claim-preview__button {
  margin-left: 2rem;
}

.claim-preview-properties {
  align-items: flex-end;
  flex: 1;
  font-size: var(--font-small);
  color: var(--color-text-subtitle);
}

.claim-upload {
  flex: 1;
  display: flex;
  position: relative;
  overflow: visible;
  padding: var(--spacing-medium);

  .media__thumb {
    width: var(--file-list-thumbnail-width);
    flex-shrink: 0;
    margin-right: var(--spacing-medium);
  }
}

.claim-upload__progress--outer {
  width: 100%;
}

.claim-upload__progress--inner {
  background: var(--color-primary-alt);
  padding: var(--spacing-miniscule);
}

//
// The _other_ way to view claims
// A grid of tiles
// It should probably go into it's own file once we add more to it
//
.claim-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: flex-start;
}

.claim-grid__wrapper {
  &:not(:first-of-type) {
    margin-top: var(--spacing-large);
  }

  @media (max-width: $breakpoint-small) {
    &:not(:first-of-type) {
      margin-top: var(--spacing-medium);
    }
  }
}

.claim-grid__title {
  margin-bottom: var(--spacing-medium);

  &:not(:first-of-type) {
    margin-top: var(--spacing-xlarge);
  }
}

.claim-grid__help {
  margin-bottom: 12px;

  svg {
    stroke: var(--color-text-subtitle);
  }
}

.claim-preview--tile {
  width: calc((100% - var(--spacing-medium) * 3) / 4);
  margin-bottom: var(--spacing-large);
  margin-right: 0;
  margin-top: 0;
  margin-left: var(--spacing-medium);
  justify-content: flex-start;

  @media (min-width: $breakpoint-medium) {
    &:first-child,
    &:nth-child(4n + 1) {
      margin-left: 0;
    }
  }

  &:hover {
    cursor: pointer;
  }

  .media__thumb {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
    width: calc((100% - var(--spacing-medium) * 2) / 3);

    &:first-child,
    &:nth-child(3n + 1) {
      margin-left: 0;
    }

    .channel-thumbnail {
      display: none;
    }
  }

  @media (max-width: $breakpoint-small) {
    width: calc((100% - var(--spacing-medium) * 1) / 2);
    margin-bottom: var(--spacing-large);

    &:first-child,
    &:nth-child(2n + 1) {
      margin-left: 0;
    }

    .channel-thumbnail {
      display: none;
    }
  }
}

.claim-tile__title {
  margin-bottom: 0;
  margin: var(--spacing-small);
  font-weight: 600;
  font-size: var(--font-small);
  color: var(--color-text);
  min-height: 2.5rem;

  @media (max-width: $breakpoint-small) {
    font-size: var(--font-xsmall);
  }
}

.claim-tile__info {
  display: flex;
  margin-top: var(--spacing-small);
  padding: var(--spacing-small);
  border-top: 1px solid var(--color-border);
  color: var(--color-subtitle);

  .channel-thumbnail {
    width: 2.1rem;
    height: 2.1rem;
    margin-right: var(--spacing-small);
  }
}

.claim-tile__about {
  display: flex;
  flex-direction: column;
  font-size: var(--font-xsmall);
  color: var(--color-text-subtitle);
}

.claim-tile__publishes {
  font-size: var(--font-xsmall);
}

.claim-tile__about--channel {
  @extend .claim-tile__about;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2.1rem;
  font-size: var(--font-body);
}

.claim-tile__file-properties {
  position: absolute;
  bottom: var(--spacing-miniscule);
  right: var(--spacing-miniscule);
  background-color: var(--color-black);
  padding: 0.3rem;
  border-radius: var(--border-radius);

  .file-properties {
    color: var(--color-white);
  }

  .file-price {
    padding: 0.1rem;
  }

  @media (max-width: $breakpoint-small) {
    display: none;
  }
}

.claim-preview--tile {
  &:hover {
    .claim-preview__hover-actions {
      display: block;
    }
  }
}

.claim-preview__repost-author {
  transform: translateY(calc(var(--spacing-xsmall) * -1));
  font-size: var(--font-xsmall);
  color: var(--color-text-subtitle);

  .icon {
    margin-right: var(--spacing-miniscule);
    margin-bottom: -1px; // Offset it slightly because it doesn't look aligned next to all lowercase text + the @ from a channel
  }
}

.claim-tile__repost-author {
  margin: var(--spacing-small);
  margin-bottom: 0;
}

.claim-preview__hover-actions {
  display: none;
  position: absolute;
  top: var(--spacing-miniscule);
  right: var(--spacing-miniscule);

  & > * {
    color: var(--color-black);
    background-color: var(--color-white);
    padding: var(--spacing-xsmall);
    border-radius: var(--border-radius);
  }
}
