.comments {
}

.comment {
  display: flex;
  flex-direction: row;
  font-size: var(--font-small);
  margin: 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-border);
    padding: var(--spacing-m) var(--spacing-m);
  }
  &:last-of-type {
    padding: var(--spacing-m) var(--spacing-m) 0 var(--spacing-m);
  }

  .channel-thumbnail {
    @include handleChannelGif(3rem);
  }
}

.comment__create--reply {
  margin-top: var(--spacing-s);
}

.comment__create {
  padding-bottom: var(--spacing-l);
  width: 100%;
}

.comment__reply {
  border-left: 5px solid var(--color-primary-alt);
  margin-left: 0;
  padding-left: 0;

  .comment__author-thumbnail {
    margin-left: 0;
  }
}

.comment-new__label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  fieldset-section {
    padding-left: var(--spacing-s);
    max-width: 10rem;
  }
}

.comment-new__label {
  white-space: nowrap;
}
.comment__main {
}

.comment__highlighted {
  border-left: 5px solid var(--color-purchased);
  position: relative;
  box-sizing: border-box;
}

.comment__highlighted-title {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1rem;
}
.comment__reply-button {
  margin-top: var(--spacing-s);
}

.comment__body_container {
  flex: 1;
  width: 80%;
}

.comment__meta {
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
  margin-bottom: var(--spacing-s);
}

.comment__meta-information {
  justify-content: flex-start;
  display: flex;
  height: 100%;
}

.comment__message {
  br: {
  }
  word-break: break-word;
  margin-top: var(--spacing-s);
}

.comment__author {
  text-overflow: ellipsis;
  padding-right: var(--spacing-xs);
  height: 100%;
}

.comment__time {
  opacity: 0.3;
  white-space: nowrap;
  height: 100%;
}

.comment__menu {
  align-self: flex-end;
}

.comment__char-count {
  align-self: flex-end;
  font-size: var(--font-xsmall);
  padding-top: var(--spacing-xs);
}

.comment__char-count-mde {
  align-self: flex-end;
  font-size: var(--font-xsmall);
  padding-right: var(--spacing-xs); // Align with SimpleMDE's status bar
  padding-bottom: 0;
}

.comment__menu-option {
  display: flex;
  align-items: center;
  padding: var(--spacing-s);
  font-size: var(--font-small);
}

.comment__menu-icon--hovering {
  stroke: var(--color-comment-menu-hovering);
}

.comment__menu-icon {
  stroke: var(--color-comment-menu);
}

.comment__menu-list {
  box-shadow: var(--card-box-shadow);
  border-radius: var(--card-radius);
  padding: var(--spacing-s);
}

.comment__actions {
  display: flex;
  > *:not(:last-child) {
    margin-right: var(--spacing-m);
  }
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}

.comment__replies-container {
}

.comment-reply__actions {
  //@extend
}
