.comment__badge {
  padding-right: var(--spacing-xxs);

  .icon {
    margin-bottom: -5px;
  }
}

.comment__badge--globalMod {
  .st0 {
    // @see: ICONS.BADGE_MOD
    fill: #fe7500;
  }
}

.comment__badge--mod {
  .st0 {
    // @see: ICONS.BADGE_MOD
    fill: #ff3850;
  }
}
