@import '../../../web/scss/themes/odysee/init/vars';

.comments {
  list-style-type: none;
  font-size: var(--font-small);
  margin-top: var(--spacing-l);
}

.comments--contracted {
  max-height: 5rem;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left 30%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  overflow-wrap: anywhere;
}

.comment__sort {
  margin: var(--spacing-s) 0;
  margin-right: var(--spacing-s);
  display: block;

  @media (min-width: $breakpoint-small) {
    margin-top: 0;
    display: inline;
  }
}
