.comment__badge {
  padding-right: var(--spacing-xxs);

  .icon {
    margin-bottom: -4px;
    height: 1rem;
    width: 1rem;
  }
}

// fix contrast on hover of channel selector, couldn't come up with a better way
div[role='menuitem'] .channel__list-item .comment__badge svg {
  stroke: unset !important;
}

// icon is a bit bright and loud
.icon--PremiumPlus {
  filter: brightness(0.92);
}
