@import '../init/breakpoints';

$thumbnailWidth: 1.5rem;
$thumbnailWidthSmall: 1rem;

.create__comment {
  position: relative;
}

.commentCreate {
  font-size: var(--font-small);
  position: relative;

  fieldset-section,
  .form-field--SimpleMDE {
    margin-top: 0;
  }

  .form-field__two-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media (max-width: $breakpoint-small) {
  .commentCreate + .empty__wrap {
    p {
      font-size: var(--font-small);
      text-align: center;
    }
  }
}

.commentCreate--reply {
  margin-top: var(--spacing-m);
  position: relative;
}

.commentCreate--nestedReply {
  margin-top: var(--spacing-s);
  margin-left: calc((#{$thumbnailWidthSmall} + var(--spacing-xs)) * 2 + var(--spacing-m) + 4px);

  @media (min-width: $breakpoint-small) {
    margin-left: calc((#{$thumbnailWidth} + var(--spacing-m)) * 2 + var(--spacing-m) + 4px);
  }
}

.commentCreate--bottom {
  padding-bottom: 0;
}

.comment-create__label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;

  .comment-create__label {
    white-space: nowrap;
    margin-right: var(--spacing-xs);
  }

  fieldset-section {
    max-width: 10rem;
  }

  @media (max-width: $breakpoint-small) {
    fieldset-section {
      font-size: var(--font-xxsmall);
    }
  }
}

.commentCreate__supportCommentPreview {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-s);
  margin: var(--spacing-s) 0;

  .commentCreate__supportCommentPreviewAmount {
    margin-right: var(--spacing-m);
    font-size: var(--font-large);
  }
}

.commentCreate__minAmountNotice {
  .icon {
    margin-bottom: -3px; // TODO fix few instances of these (find "-2px")
  }
}

.commentCreate__stickerPreview {
  @extend .commentCreate;
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-s);
  margin: var(--spacing-s) 0;
  overflow: hidden;
  width: 100%;
  height: 10rem;

  .commentCreate__stickerPreviewInfo {
    display: flex;
    align-items: flex-start;
  }

  .commentCreate__stickerPreviewImage {
    width: 100%;
    height: 100%;
    margin-left: var(--spacing-m);
  }

  .filePrice {
    height: 1.5rem;
    width: 10rem;

    .credit-amount:not(:last-child) {
      &::after {
        margin-left: var(--spacing-xxs);
        content: '/';
      }
    }

    .credit-amount:not(:first-child) {
      margin-left: var(--spacing-xxs);
    }
  }
}
