.comment {
  display: flex;
  flex-direction: row;
  font-size: var(--font-body);
  margin: 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-border);
    padding: var(--spacing-medium) 0;
  }
  &:last-of-type {
    padding-top: var(--spacing-medium);
  }
}

.comment__create--reply {
  margin-top: var(--spacing-small);
}

.comment__reply {
  border-left: 5px solid var(--color-primary-alt);
  padding-left: var(--spacing-medium);
  margin-left: var(--spacing-medium);
}

.comment__reply-button {
  margin-top: var(--spacing-small);
}

.comment__body_container {
  padding-right: var(--spacing-small);
  flex: 1;
}

.comment__meta {
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
  margin-bottom: var(--spacing-small);
}

.comment__meta-information {
  justify-content: flex-start;
  display: flex;
}

.comment__message {
  white-space: pre-line;
  margin-top: var(--spacing-small);
}

.comment__author {
  text-overflow: ellipsis;
  padding-right: var(--spacing-xsmall);
}

.comment__time {
  opacity: 0.3;
  white-space: nowrap;
}

.comment__menu {
  align-self: flex-end;
}

.comment__char-count {
  align-self: flex-end;
  font-size: var(--font-small);
}

.comment__menu-option {
  display: flex;
  align-items: center;
  padding: var(--spacing-small);
  font-size: var(--font-small);
}

.comment__menu-icon--hovering {
  stroke: var(--color-comment-menu-hovering);
}

.comment__menu-icon {
  stroke: var(--color-comment-menu);
}
