@import '../init/vars';

$thumbnailWidth: 1.5rem;
$thumbnailWidthSmall: 1rem;

.comment__create {
  font-size: var(--font-small);
  position: relative;

  fieldset-section,
  .form-field--SimpleMDE {
    margin-top: 0;
  }

  .form-field__two-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.comment__create--reply {
  margin-top: var(--spacing-m);
  position: relative;
}

.content_comment {
  position: relative;
}

.comment__create--nested-reply {
  margin-top: var(--spacing-s);
  margin-left: calc((#{$thumbnailWidthSmall} + var(--spacing-xs)) * 2 + var(--spacing-m) + 4px);

  @media (min-width: $breakpoint-small) {
    margin-left: calc((#{$thumbnailWidth} + var(--spacing-m)) * 2 + var(--spacing-m) + 4px);
  }
}

.comment__create--bottom {
  padding-bottom: 0;
}

.comment-new__label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $breakpoint-small) {
    fieldset-section {
      max-width: 10rem;
    }
  }
}

.comment-new__label {
  white-space: nowrap;
  margin-right: var(--spacing-xs);
}

.comment__sc-preview {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-s);
  margin: var(--spacing-s) 0;
}

.comment__sc-preview-amount {
  margin-right: var(--spacing-m);
  font-size: var(--font-large);
}

.comment--min-amount-notice {
  .icon {
    margin-bottom: -3px; // TODO fix few instances of these (find "-2px")
  }
}
