.expandable--closed,
.expandable--open {
  margin-bottom: var(--spacing-s);
}

.expandable--closed {
  max-height: 10rem;
  overflow: hidden;
  position: relative;
}

.expandable--open {
  max-height: 100%;
}

.expandable__button-list {
  // Center:
  margin: auto;
  display: block;

  font-size: var(--font-small);
  @media (max-width: $breakpoint-small) {
    font-size: var(--font-xsmall);
  }
}
