.file-properties {
  display: flex;
  position: relative;
  align-items: center;
  font-size: var(--font-small);
  color: var(--color-text-help);
  margin-left: var(--spacing-medium);
  white-space: nowrap;

  & > *:not(:last-child) {
    margin-right: var(--spacing-small);
  }

  @media (max-width: $breakpoint-xsmall) {
    display: none;
  }
}

.file-properties--large {
  flex-wrap: wrap;
  margin-bottom: var(--spacing-large);
  margin-left: 0;

  & > * {
    margin-top: var(--spacing-small);
  }
}

.file-properties--small {
  font-size: var(--font-xsmall);
  line-height: 1.2;
  margin-left: 0;
  position: relative;

  .tag {
    font-size: var(--font-xsmall);
  }

  & > *:not(:last-child) {
    margin-right: var(--spacing-miniscule);
  }

  @media (max-width: $breakpoint-xsmall) {
    display: none;
  }
}

//
//
// purchase.scss
//
//

.file-properties__purchased,
.file-properties__not-purchased {
  position: relative;
  display: flex;
  align-items: center;

  span,
  .icon {
    position: relative;
    margin-left: 0.75rem;
  }

  &::before {
    position: absolute;
    content: '';
    left: 0;
    right: -10rem;
    height: 1.75rem;
    transform: skew(20deg);
    border-radius: var(--border-radius);
  }
}

.file-properties__purchased {
  margin-left: var(--spacing-xsmall);
  color: var(--color-gray-5);

  .icon {
    fill: white;
  }

  &::before {
    background-color: var(--color-purchased);
  }
}

.file-properties__not-purchased {
  color: var(--color-purchased-text);

  &::before {
    background-color: var(--color-purchased-alt);
    border: 2px solid var(--color-purchased);
  }
}

.file-properties__purchased--large,
.file-properties__not-purchased--large {
  font-size: var(--font-body);

  &::before {
    height: 3rem;
    border-radius: 0;
    border-bottom-left-radius: var(--border-radius);
  }
}

.file-properties__purchased--large {
  top: -0.25rem;

  .icon {
    margin: 0 var(--spacing-medium);
    margin-left: var(--spacing-large);
  }
}

.file-properties__not-purchased--large {
  top: -0.25rem;

  span {
    margin: 0 var(--spacing-medium);
    margin-left: var(--spacing-xlarge);
    top: -0.25rem;
  }

  &::before {
    border-width: 5px;
    border-top-width: 0;
  }
}

.file-properties__purchased--modal,
.file-properties__not-purchased--modal {
  font-size: var(--font-body);
  height: 4rem;
  background-color: var(--color-purchased-alt);
  border: 2px solid var(--color-purchased);
  border-radius: var(--border-radius);
  transform: skew(20deg);

  .icon,
  span {
    transform: skew(-20deg);
  }

  span {
    font-size: var(--font-large);
  }

  &::before {
    content: none;
  }
}

.file-properties__not-purchased--modal {
  border-width: 8px;

  span {
    margin: 0 var(--spacing-medium);
    margin-left: var(--spacing-large);
    font-weight: var(--font-bold);
  }
}

//
//
// Weird modal stuff
// Fill the modal
.file-properties__purchased--modal {
  // animation: show 2.5s 1 ease-out; // ease-out;
  top: 1.5rem;

  .icon {
    height: 100%;
    width: auto;
    left: calc(var(--spacing-xlarge) * 1.5);
    animation: moveKey 2.5s 1 ease-out; // ease-out;
    overflow: visible;
    stroke: var(--color-black);

    g {
      animation: turnKey 2.5s 1 ease-out;
    }
  }

  &::before {
    content: '';
    // width: 5rem;
    transform: skew(0deg);
    height: 0;
    animation: expand 2.5s 1 ease-out; // ease-out;

    left: -800%;
    border-width: 1000px;
    height: 30rem;
  }
}

// Probably should put this somewhere else
.purchase-stuff {
  display: flex;
  align-items: center;

  > *:first-child {
    width: 60%;
    padding-right: var(--spacing-small);
  }

  .file-properties__not-purchased,
  .file-properties__purchased {
    width: 700%;
  }
}

.purchase-stuff__text--purchased {
  font-weight: bold;
  font-size: var(--font-title);
  color: var(--color-black);
  position: absolute;
  top: calc(var(--spacing-xlarge) * 1.6);
  left: var(--spacing-large);
  bottom: 0;
  right: 0;
  z-index: 9999999999;
  animation: display 1s 1 ease-in;
  opacity: 1;
}

.purchase_stuff__subtext--purchased {
  color: var(--color-black);
  font-size: var(--font-body);
  margin-top: var(--spacing-medium);
}

@keyframes display {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    left: 0%;
    border-width: 8px;
    height: 0rem;
  }

  100% {
    left: -800%;
    border-width: 1000px;
    height: 50rem;
  }
}

@keyframes moveKey {
  0% {
    max-height: 3rem;
    left: -20rem;
  }

  20% {
    left: calc(var(--spacing-xlarge) * 1.5);
  }

  50% {
    left: calc(var(--spacing-xlarge) * 1.5);
  }

  70% {
    left: calc(var(--spacing-xlarge) * 1.5);
  }

  100% {
    max-height: 10rem;
    opacity: 1;
    left: 30rem;
  }
}

@keyframes turnKey {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }

  50% {
    transform: rotate3d(0, 0, 1, 45deg);
  }

  60% {
    transform: rotate3d(1, 0, 1, 45deg);
  }
  70% {
    transform: rotate3d(0, 0, 1, 45deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 45deg);
  }
}
