.form-field--file,
.form-field--directory {
  width: 100%;
}

.file-selector {
  display: flex;
}

.file-selector__choose-button {
  font-family: inherit;
  line-height: 0;
  color: inherit;
  margin-right: 16px;
}

.file-selector__path {
  font-size: 14px;
  flex-grow: 2;
  .input-copyable {
    width: 100%;
  }
}
