@import "../global";

.file-actions
{
  line-height: var(--button-height);
  min-height: var(--button-height);
}

.file-actions__download-status-bar, .file-actions__download-status-bar-overlay {
   .button__content {
     margin: 0 var(--text-link-padding);
   }
}

.file-actions__download-status-bar
{
  position: relative;
  color: var(--color-download);
}
.file-actions__download-status-bar-overlay
{
  background: var(--color-download);
  color: white;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
  top: 0px;
  left: 0px;
}
