.file-thumbnail__viewed-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--color-gray-7);
}

.file-thumbnail__viewed-bar-progress {
    height: 5px;
    background-color: var(--color-primary);
}
