@import "../global";

$height-file-tile: $spacing-vertical * 6;
.file-tile__row {
  overflow: hidden;
  height: $height-file-tile;
  .credit-amount {
    float: right;
  }
  .icon-featured {
    float: right;
  }
  //also a hack
  .card__media {
    height: $height-file-tile;
    max-width: $height-file-tile;
    width: $height-file-tile;
    margin-right: $spacing-vertical / 2;
    float: left;
  }
  //basically everything here is a hack now
  .file-tile__content {
    padding-top: $spacing-vertical * 1/3;
    margin-left: $height-file-tile + $spacing-vertical / 2;
  }
  .card__title-primary {
    margin-top: 0;
  }
}