.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: var(--spacing-xl);
  font-size: var(--font-small);

  @media (max-width: $breakpoint-small) {
    max-width: 100%;
    padding: var(--spacing-m);
    align-items: flex-start;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;

  .navigation-link {
    font-size: var(--font-small);
  }

  .button__label {
    color: var(--color-text-help);
  }

  .footer__link {
    margin-left: 0;
  }

  @media (min-width: $breakpoint-small) {
    flex-direction: row;

    .footer__link {
      margin-left: var(--spacing-m);
    }
  }
}

.footer__link {
  margin-bottom: var(--spacing-s);
}

.footer__section {
  margin-left: var(--spacing-xl);

  @media (max-width: $breakpoint-small) {
    margin-left: var(--spacing-l);
  }
}

.footer__section-title {
  @extend .help;
  margin-bottom: var(--spacing-m);
}

.footer__link {
  @extend .button--link;
  @extend .help;
}
