.footer {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: auto;
  padding: var(--spacing-xl);
  font-size: var(--font-small);

  @media (max-width: $breakpoint-small) {
    max-width: 100%;
    padding: var(--spacing-m);
    flex-direction: column;
  }
}

.footer__section {
  margin-left: var(--spacing-xl);

  @media (max-width: $breakpoint-small) {
    margin-left: var(--spacing-l);
  }
}

.footer__section-title {
  @extend .help;
  margin-bottom: var(--spacing-m);
}

.footer__link {
  @extend .button--link;
  @extend .help;
}
