.form-row-submit
{
  margin-top: $spacing-vertical;
}
.form-row-submit--with-footer
{
  margin-bottom: $spacing-vertical;
}

.form-row__label-row {
  margin-top: $spacing-vertical * 5/6;
  margin-bottom: 0px;
  line-height: 1;
  font-size:calc( 0.9 * var(--font-size));
}
.form-row__label-row--prefix {
  float: left;
  margin-right: 5px;
}

.form-row--focus {
  .form-field__label, .form-field__prefix {
    color: var(--color-primary) !important;
  }
}

.form-field {
  display: inline-block;
  margin: 8px 0;

  select {
    transition: outline var(--transition-duration) var(--transition-type);
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    height: $spacing-vertical;
    background: var(--select-bg);
    color: var(--select-color);
    &:focus {
      outline:  var(--input-border-size) solid var(--color-primary);
    }
  }

  input[type="radio"], input[type="checkbox"], {
    &:checked + .form-field__label,  {
      color: var(--text-color);
    }
  }

  input[type="text"].input-copyable {
    background: var(--input-bg);
    color:  var(--input-disabled-color);
    line-height: 1;
    padding-top: $spacing-vertical * 1/3;
    padding-bottom: $spacing-vertical * 1/3;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }

  input[readonly] {
      color:  var(--input-disabled-color) !important;
      border-bottom: 1px dashed var(--input-disabled-border-color) !important;
  }

  input[readonly]:focus {
      background: var(--input-bg) !important;
      border-bottom: 1px dashed var(--input-disabled-border-color) !important;
  }

  textarea,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="date"]{
    background: var(--input-bg);
    border-bottom: var(--input-border-size) solid var(--input-border-color);
    caret-color:  var(--color-primary);
    color: var(--input-color);
    cursor: pointer;
    line-height: 1;
    padding:0 1px 8px 1px;
    box-sizing: border-box;
    -webkit-appearance: none;
    transition: all  var(--transition-duration) var(--transition-type);

    &::-webkit-input-placeholder {
      color: var(--input-placeholder-color);
      opacity: var(--input-placeholder-opacity) !important;
   }

    &:focus {
      border-color: var(--color-primary);
      background: var(--input-active-bg);
    }

    &:hover:not(:focus){
      border-color: var(--input-hover-border-color);
    }

    &.form-field__input--error {
      border-color: var(--color-error);
    }

    &.form-field__input--inline {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom-width:  var(--input-border-size);
      margin-left: 8px;
      margin-right: 8px;
    }

  }

  textarea {
    padding: 2px;
    border: var(--input-border-size) solid var(--input-border-color);
  }
}
.form-field--address {
  width: 100%;
}

.form-field--SimpleMDE {
  display: block;
}

.form-field__label, .form-row__label {
  color: var(--form-label-color);
  &[for] {
    cursor: pointer;
  }
}

.form-row__label-row .form-field__label--error {
  /*the row restriction is to prevent coloring checkboxes and radio labels*/
  color: var(--color-error);
}

.form-field__input-text {
  width: var(--input-width);
}

.form-field__prefix {
  margin-right: 4px;
}
.form-field__postfix {
  margin-left: 4px;
}

.form-field__input-number {
  width: 70px;
  text-align: right;
}

.form-field--textarea {
  width: 100%;
}
.form-field__input-textarea {
  width: 100%;
}

.form-field__error, .form-field__helper {
  margin-top: $spacing-vertical * 1/3;
  font-size: 0.8em;
  transition: opacity  var(--transition-duration) var(--transition-type);
}

.form-field__error {
  color: var(--color-error);
}
.form-field__helper {
  color:var(--color-help);
}

.form-field__input.form-field__input-SimpleMDE .CodeMirror-scroll {
  height: auto;
}
