.header {
  z-index: 3; // Main content uses z-index: 1, other content uses z-index: 2, this ensures it always scrolls under the header
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-header-background);
  box-shadow: var(--card-box-shadow);
  font-size: var(--font-body);
  -webkit-user-select: none;
  -webkit-app-region: drag;

  & > * {
    user-select: none;
  }
}

.header--minimal {
  box-shadow: none;
  background-color: var(--color-background);
  border-bottom: none;
}

.header--mac {
  padding-top: var(--mac-titlebar-height);
}

.header__contents {
  height: calc(var(--header-height));
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-m);

  @media (max-width: $breakpoint-small) {
    padding: var(--spacing-xs);
  }
}

.header__navigation {
  flex: 1;
  display: flex;
  align-items: center;
}

.header__menu {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__buttons {
  display: flex;
}

.header__navigation-item {
  height: var(--height-button);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  position: relative;
  font-weight: var(--font-weight-bold);

  svg {
    stroke: var(--color-text);
  }
}

.header__navigation-item--back,
.header__navigation-item--forward,
.header__navigation-item--icon {
  width: var(--height-button);
  background-color: var(--color-header-button);
  border-radius: 1.5rem;
  margin-right: var(--spacing-s);

  &:hover {
    background-color: var(--color-header-button-hover);
  }

  @media (min-width: $breakpoint-small) {
    &:focus {
      @include focus;
    }
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__navigation-item--profile-pic {
  margin-left: var(--spacing-m);

  .channel-thumbnail {
    height: var(--height-button);
    width: var(--height-button);
    margin-right: 0;
  }

  &:hover {
    opacity: 0.7;
  }
}

.header__navigation-item--balance {
  @extend .button--file-action;
  margin: 0 var(--spacing-s);
  color: var(--color-text);

  &:hover {
    color: var(--color-text);
  }
}

.header__navigation-item--forward {
  margin-right: 0;
}

.header__navigation-item--icon {
  @media (max-width: $breakpoint-small) {
    margin: 0;
  }
}

.header__navigation-item--lbry {
  height: 4rem;
  display: flex;
  align-items: center;
  margin-left: var(--spacing-m);
  margin-right: var(--spacing-m);
  // move to lbry theme?
  .lbry-icon {
    height: var(--height-button);
    width: var(--height-button);
  }
  @media (max-width: $breakpoint-small) {
    margin-right: var(--spacing-m);
    height: 5rem;

    .button__label {
      display: none;
    }
  }
}

.header--minimal {
  .header__navigation-item--lbry {
    height: 3rem;
  }
}

.header__navigation-dropdown {
  @extend .menu__list--header;
  padding: 0;
  position: absolute;
  list-style-type: none;
  background-color: var(--color-header-background);
}

.header__navigation-button {
  margin: 0;
  padding: var(--spacing-xxs) var(--spacing-m);
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: var(--color-menu-background--active);
  }
}

.header__navigation-button-help {
  @extend .help;
  margin-top: 0;
  margin-left: var(--spacing-s);
}

.header__auth-buttons {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold);
  margin-left: var(--spacing-s);

  & > *:not(:last-child) {
    margin: 0 var(--spacing-m);
  }
}

.header__center {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @media (min-width: $breakpoint-small) {
    justify-content: center;
  }
}

.header__auth-title {
  @media (min-width: $breakpoint-small) {
    font-size: var(--font-large);
  }
}
