.header {
  z-index: 3; // Main content uses z-index: 1, other content uses z-index: 2, this ensures it always scrolls under the header
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-header-background);
  box-shadow: var(--card-box-shadow);
  font-size: var(--font-body);
  -webkit-user-select: none;
  -webkit-app-region: drag;

  & > * {
    user-select: none;
  }
}

.header--minimal {
  box-shadow: none;
  background-color: transparent;
  border-bottom: none;
}

.header--mac {
  padding-top: var(--mac-titlebar-height);
}

.header--noauth-web {
  .header__navigation-item--icon {
    margin: 0 10px;
  }
}

.header__contents {
  max-width: var(--page-max-width);
  height: calc(var(--header-height) - 1px);
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0 var(--spacing-l);

  @media (max-width: $breakpoint-small) {
    padding: var(--spacing-s);
  }
}

.header__navigation {
  flex: 1;
  display: flex;
  align-items: center;
  height: var(--height-input);
}

.header__menu {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .button:only-child {
    margin-left: auto;
  }

  @media (max-width: $breakpoint-small) {
    display: none;
  }
}

.header__menu--mobile {
  display: none;

  @media (max-width: $breakpoint-small) {
    display: block;
    margin-left: var(--spacing-m);

    svg {
      stroke: var(--color-text);
    }
  }
}

.header__menu--with-balance {
  button:first-child {
    margin-left: var(--spacing-l);
    margin-right: var(--spacing-m);
  }
}

.header__navigation-arrows {
  display: flex;
  margin-right: var(--spacing-s);
}

.header__navigation-item {
  height: var(--height-button);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  color: var(--color-text);

  svg {
    stroke: var(--color-text);
  }

  &:hover {
    color: var(--color-link-active);

    svg {
      stroke: var(--color-link-active);
    }
  }
}

.header__navigation-item--back,
.header__navigation-item--forward,
.header__navigation-item--icon {
  width: var(--height-button);
  background-color: var(--color-header-button);
  border-radius: 1.5rem;
  margin-left: var(--spacing-s);

  &:hover {
    background-color: var(--color-primary-alt);
  }

  @media (min-width: $breakpoint-small) {
    &:focus {
      @include focus;
    }
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__navigation-item--lbry {
  font-weight: var(--font-weight-bold);
  margin-right: var(--spacing-m);

  .lbry-icon {
    height: 2rem;
    width: 2rem;
  }
}

.header__navigation-item--button-mobile {
  @media (max-width: $breakpoint-small) {
    .button__label {
      display: none;
    }
  }
}

.header__navigation-item--balance {
  margin: 0 var(--spacing-m);
  font-weight: var(--font-weight-bold);
}

.header__navigation-dropdown {
  @extend .menu__list--header;
  padding: 0;
  position: absolute;
  list-style-type: none;
  background-color: var(--color-header-background);
}

.header__navigation-button {
  margin: 0;
  padding: var(--spacing-xxs) var(--spacing-m);
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: var(--color-menu-background--active);
  }
}

.header__navigation-button-help {
  @extend .help;
  margin-top: 0;
  margin-left: var(--spacing-s);
}

.header__auth-buttons {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold);

  & > *:not(:last-child) {
    margin: 0 var(--spacing-m);
  }
}
