@import '../init/breakpoints';
@import '../init/mixins';

$discussion-header__height: 3rem;
$recent-msg-button__height: 2rem;

.livestream__chat {
  width: 100%;
  // background-color: rgba(var(--color-header-background-base), 1);
  border-radius: var(--border-radius);
  margin-left: var(--spacing-m);
  // border: 2px solid var(--color-border);

  @media (max-width: $breakpoint-small) {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  .credit-amount {
    font-weight: unset;
  }

  .button-toggle--active {
    .credit-amount {
      color: var(--color-primary-contrast);
    }
  }
  .button__label {
    svg {
      margin-bottom: unset;
    }
  }

  .chat-resize {
    display: none;
    position: absolute;
    bottom: -3px;
    right: -6px;
    // width:20px;
    // height:20px;
    transform: rotate(135deg);

    div {
      position: absolute;
      display: block;
      background-color: var(--color-border);
      height: 2px;
      border-radius: 1px;
      &:nth-child(1) {
        top: 0;
        left: calc(50% - 2px);
        width: 4px;
      }
      &:nth-child(2) {
        top: 4px;
        left: calc(50% - 6px);
        width: 12px;
      }
      &:nth-child(3) {
        top: 8px;
        left: calc(50% - 10px);
        width: 20px;
      }
    }
  }

  @media (min-width: 1900px) {
    resize: horizontal;
    overflow: hidden;
    max-width: 30vw;

    .chat-resize {
      display: block;
    }
  }

  @media (min-width: $breakpoint-small) {
    top: calc(var(--header-height) + var(--spacing-m)) !important;
    position: sticky;
  }

  @media (min-width: $breakpoint-medium) {
    min-width: var(--livestream-comments-width);
    width: var(--livestream-comments-width);
    height: calc(100vh - var(--header-height) - var(--spacing-l));
    min-height: 626px;
    right: 0;
    top: 0px;
    bottom: 0;
    // border-top: none;
    // border-bottom: none;
    // border-right: none;

    .livestream-discussion__title {
      margin-left: 0;

      .menu__button {
        opacity: 1;
      }
    }

    .card__main-actions {
      padding: 0;
    }

    .recommended-content__toggles {
      .button-toggle--active {
        &:hover {
          p,
          span {
            color: var(--color-primary-contrast) !important;
          }
        }
      }

      .button-toggle {
        background-color: rgba(var(--color-primary-dynamic), 0.08);

        &:hover {
          background-color: rgba(var(--color-primary-dynamic), 0.1);
          p,
          span {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  @media (max-width: $breakpoint-medium) {
    width: 100%;
    margin: 0;
    margin-top: var(--spacing-l);
  }

  // Mobile
  @media (max-width: $breakpoint-small) {
    padding: 0 !important;
    .button-toggle:last-of-type {
      margin-right: var(--spacing-xs);
    }

    .livestream-discussion__title {
      margin-left: var(--spacing-xs);
    }

    .livestream-hyperchats__wrapper {
      padding-left: var(--spacing-xs);
    }

    .livestream__comments-wrapper {
      .button__label {
        color: var(--color-secondary);
      }
      .button__content {
        color: var(--color-primary);
      }

      .section__actions {
        .button__label {
          color: var(--color-primary-contrast);
        }
        .button--alt,
        .button--link {
          .button__content {
            color: var(--color-text);
            .button__label {
              color: var(--color-text);
            }
          }
        }
      }
    }

    @media all and (orientation: landscape) {
      height: calc(100vw - var(--header-height) - var(--spacing-l));
      .livestreamComments__wrapper {
        height: calc(100vw - var(--header-height) - 3rem - var(--spacing-l));
      }
    }
  }

  @media (max-width: $breakpoint-small) {
    margin: 0 !important;
    height: 100%;
    margin-bottom: 0px !important;
  }
}

.card.livestream__chat {
  padding: 0 !important;
}

.livestream__chat--popout {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  top: 0 !important;
  overflow: hidden;
  resize: none;
  max-width: unset;

  .livestreamComments__wrapper {
    height: 95vh !important;
  }

  .livestream-hyperchats__wrapper {
    width: 100%;
  }

  .livestream-pinned__wrapper {
    width: 100%;
  }

  .livestream__comment {
    padding-left: var(--spacing-xxxs);
  }

  .livestream__comment--hyperchat {
    padding-left: 0;
  }

  .livestream__commentCreate {
    padding-bottom: 0;
  }
  .livestream__comment-create {
    // padding-bottom: 13.5px;
    padding-bottom: 0 !important;
    textarea:focus-visible {
      box-shadow: unset;
    }
  }
  .livestreamDiscussion__header {
    .menu__button {
      padding: 8px;
    }
  }
}

.livestreamDiscussion__header {
  background-color: var(--color-header-background);

  .recommended-content__toggles {
    margin: var(--spacing-xs);
    .button-toggle {
      height: unset;
      padding: var(--spacing-xxxs) var(--spacing-s);
      border: 2px solid var(--color-border);
      .button__label {
        color: var(--color-text) !important;
        font-size: var(--font-body);
      }
      .credit-amount {
        svg {
          height: var(--font-body);
          width: var(--font-body);
          margin-right: var(--spacing-xxs);
        }
      }
    }

    .button-toggle--active {
      box-shadow: unset;
      background-color: var(--color-header-button) !important;
      border: 2px solid transparent;
      span {
        color: var(--color-text) !important;
      }
      &:hover {
        span {
          color: var(--color-text) !important;
        }
      }
    }

    .button-toggle:not(.button-toggle--active) {
      color: var(--color-text);
      &:hover {
        background-color: var(--color-header-button) !important;
        border: 2px solid transparent;
        span,
        p {
          color: var(--color-text);
        }
      }
    }

    .button-toggle:last-of-type {
      margin-right: 0;
    }
  }

  .menu__button {
    margin-top: var(--spacing-xs);
    margin-right: var(--spacing-xxs);
    background-color: var(--color-header-button);
    padding: 10px;
    border-radius: 50%;
    opacity: 1;

    &:hover {
      background-color: var(--color-primary);
      .icon {
        stroke: var(--color-primary-contrast);
      }
    }
    transition: transform 0.4s;

    &[aria-expanded='true'] {
      transform: rotate(90deg);
    }
  }

  @media (min-width: $breakpoint-small) {
    // height: $discussion-header__height;
    // padding: 0 var(--spacing-xxs);
    padding-top: 0;
    padding-right: 0;

    .button-toggle:last-of-type {
      // margin-right: var(--spacing-s) !important;
    }
  }

  @media (max-width: $breakpoint-small) {
    // padding: var(--spacing-xxs);
  }
}

.livestreamDiscussion__title {
  display: flex;
  align-items: center;
  padding-left: 20.5px;
  padding-top: 15.5px;
  padding-bottom: 15px;

  @media (max-width: $breakpoint-small) {
    .menu__button {
      margin-left: 5px;
    }
  }
}

.livestreamComments__wrapper {
  display: flex;
  flex-direction: column;
  // height: calc(100vh - var(--header-height) - #{$discussion-header__height} - var(--spacing-l));
  // overflow-x: scroll;

  .main--empty {
    border-left: 1px solid var(--color-header-background);
    border-right: 1px solid var(--color-header-background);
    margin: 0;
    height: 100%;
    .yrbl__wrap {
      flex-direction: column !important;
      align-items: center;

      img {
        margin: 0;
      }

      .section__title {
        text-align: center;
      }

      .section__actions {
        justify-content: center;
        .button--secondary {
          background-color: var(--color-header-button) !important;
        }
      }
    }
    .button--secondary {
      border: 2px solid var(--color-border);
    }
  }

  .commentCreate__stickerPreview {
    background-color: var(--color-header-button);
  }

  @media (min-width: $breakpoint-small) {
    height: calc(100vh - var(--header-height) - #{$discussion-header__height} - var(--spacing-l));
  }

  @media (max-width: $breakpoint-small) {
    height: 100%;
    flex-direction: column;

    .livestream__comment-create {
      .commentCreate__stickerPreview,
      .section__actions {
        margin-left: var(--spacing-xxxs);
        margin-right: var(--spacing-xxxs);
        width: auto;
      }
      .section__actions {
        .button {
          margin-bottom: var(--spacing-xxxs);
        }
      }
    }

    .section__actions {
      .comment-create__min-amount-notice {
        width: 100%;
        margin-bottom: var(--spacing-xxxs) !important;
        margin-left: 0 !important;
        margin-right: 0;
        text-align: center;
      }
    }
  }
}

.livestream__comments {
  display: flex;
  flex-direction: column-reverse;
  font-size: var(--font-small);
  overflow-y: scroll;
  overflow-x: visible;
  padding-top: var(--spacing-s);
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-left: 1px solid var(--color-header-background);

  &::-webkit-scrollbar {
    width: var(--spacing-xs) !important;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-header-background);
  }
}

.livestream__comments--mobile {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  overflow-y: scroll;
  overflow-x: visible;
  padding-top: var(--spacing-s);
  width: 100%;
}

.livestream-comments__scroll-to-recent {
  margin-top: -$recent-msg-button__height;
  align-self: center;
  font-size: var(--font-xsmall);
  padding: var(--spacing-xxs) var(--spacing-s);
  opacity: 0.9;
  bottom: var(--spacing-xxs);
  background-color: var(--color-header-button) !important;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid var(--color-text);

  &:hover {
    opacity: 1;
  }
}

.livestream__comment-create {
  background-color: var(--color-header-background);
  padding: var(--spacing-xs);
  margin-top: auto;

  .commentCreate {
    select,
    textarea,
    input {
      background-color: var(--color-header-button);
      @media (max-width: $breakpoint-small) {
        background-color: unset;
      }
    }
    .help {
      color: var(--color-text);
    }
    .button--file-action {
      // background-color: var(--color-header-button) !important;
      .button__label {
        color: var(--color-text);
      }
    }
    .section {
      .button-toggle {
        background-color: rgba(var(--color-header-button-base), 0.4) !important;
        &:hover {
          background-color: rgba(var(--color-header-button-base), 0.9) !important;
        }
      }
      .button-toggle--active,
      .button--secondary {
        background-color: rgba(var(--color-header-button-base), 0.9) !important;
      }
    }

    .section__actions {
      .button--alt,
      .button--link {
        border-radius: var(--border-radius);
        background-color: var(--color-header-button);
        &:hover {
          color: var(--color-primary-contrast);
          background-color: var(--color-primary);
        }
      }
      .button--link {
        margin-right: 0;
      }
      .button:last-of-type {
        margin-right: 0;
      }
    }

    /*
    .emoteSelector__list {
      background-color: rgba(var(--color-primary-dynamic), 0.02);
      .emoteSelector__listRowItems {
        .button--file-action {
          background-color: unset !important;
          .button__label {
            color: var(--color-text);
          }
          &:hover {
            background-color: rgba(var(--color-primary-dynamic), 0.2) !important;
          }
        }
      }
    }
    */

    .tabs {
      overflow: hidden;
      border: unset;
      // transition: height 0.4s;
      // animation: emojiPickerAnimation 0.2s ease-in;
      margin-bottom: var(--spacing-xs);

      .tabs__list {
        background-color: unset;
        padding: 0 !important;
        .tab {
          background-color: rgba(var(--color-header-button-base), 0.3);
          border-radius: var(--border-radius) var(--border-radius) 0 0;
          padding: var(--spacing-xxxs) var(--spacing-s) 0 var(--spacing-s);
          margin-top: var(--spacing-s);
          margin-right: 0;
          opacity: 0.8;
          &[data-selected] {
            opacity: 1;
            background-color: var(--color-header-button);
          }
          &:hover {
            color: var(--color-text);
            opacity: 1;
          }
          &::after {
            background-color: unset;
          }
        }
      }
      .selector-menu {
        background-color: var(--color-header-button);
        border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
        .button--close {
          margin-right: calc(var(--spacing-xxs) * -1);
          margin-top: 4px;
          background-color: var(--color-header-button);
          &:hover {
            background-color: var(--color-primary);
          }
        }
      }
    }
  }

  .section {
    margin-top: var(--spacing-s);
  }

  .section__actions {
    margin-top: var(--spacing-xs);
    // margin-bottom: var(--spacing-xxxs);
    margin-bottom: 4px;
    min-height: 50px;
    .comment-create__min-amount-notice {
      margin-top: -2px;
      margin-bottom: 0;
      margin-left: var(--spacing-s);
    }
  }

  @media (max-width: $breakpoint-small) {
    padding: 0px;
    // margin-left:-6.5px;
    margin-left: calc(var(--spacing-xxs) * -1);
    width: calc(100% + (var(--spacing-xxs) * 2));

    span,
    select,
    option {
      font-size: var(--font-xxsmall);
    }

    select {
      padding: 0px var(--spacing-xxs) !important;
    }

    .select--slim {
      margin: 0px;
    }
  }
}

@keyframes emojiPickerAnimation {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 200px;
    opacity: 1;
  }
}

.livestream-hyperchats__wrapper {
  flex-shrink: 0;
  position: relative;
  padding: var(--spacing-s) 0;
  font-size: var(--font-small);
  background: linear-gradient(180deg, var(--color-header-background) 0%, transparent 100%);
  margin-bottom: var(--spacing-xs);

  overflow-x: scroll;
  padding-bottom: var(--spacing-xs) !important;
  &::-webkit-scrollbar {
    width: 0px;
    height: 4px;
  }

  @media (min-width: $breakpoint-small) {
    padding: 0 var(--spacing-xs);
    // padding-bottom:0;
  }
}

.livestream-hyperchats__wrapper--mobile {
  @extend .livestream-hyperchats__wrapper;

  z-index: 9999999;
  width: 100%;
  background-color: transparent;
  padding: 0px !important;
  margin-top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  border-right: unset;
  border-bottom: none;
  scrollbar-width: 0px;
}

.livestream-comments__top-actions {
  border-left: 1px solid var(--color-header-background);
  border-right: 1px solid var(--color-header-background);
}

.livestream-comments__top-actions--mobile {
  width: calc(100% + 2px);
  position: absolute;
  display: grid;
  padding: var(--spacing-xxs) 0;
  margin-left: -8px;
  // padding-right: var(--spacing-m);
  // background-color:red;

  > div:not(:first-child) {
    margin-top: var(--spacing-xxs);
  }

  .livestream-hyperchats {
    padding: 0 var(--spacing-xxs);
  }

  .livestream__top-gradient {
    width: calc(100% + 2px);
    height: 100%;
    position: absolute;
    top: -1px;
    margin-left: -8px;

    &:after {
      position: absolute;
      bottom: 0;
      opacity: 1;
      content: '';
      height: 100%;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1;
      background: linear-gradient(180deg, var(--mui-background) 80%, transparent 100%);
    }
  }
}

.livestream-pinned__wrapper {
  display: flex;
  flex-shrink: 0;
  position: relative;

  font-size: var(--font-small);
  border-radius: var(--border-radius);
  background: linear-gradient(180deg, var(--color-primary) 0%, transparent 100%);
  padding-bottom: var(--spacing-s) !important;

  .livestream__comment {
    width: 100%;
    max-height: 6rem;
    overflow-y: scroll;
    .livestreamComment__body {
      margin-left: 0;

      .comment__author {
        color: var(--color-primary-contrast);
      }
      .comment__author--creator {
        background-color: var(--color-background);
        color: var(--color-text) !important;
      }
      .comment__pin {
        color: var(--color-primary-contrast);
        font-weight: var(--font-weight-bold);
        margin: var(--spacing-xs);
        margin-left: 0;
        @media (max-width: $breakpoint-small) {
          margin: 0;
          margin-top: var(--spacing-xxs);
          margin-right: var(--spacing-xxs);
          margin-bottom: -6px;
        }
      }
      .date_time {
        color: var(--color-primary-contrast);
        opacity: 0.8;
      }
    }
    .livestreamComment__menu {
      .menu__button {
        &[aria-expanded='true'] {
          .icon {
            stroke: var(--color-primary-contrast);
          }
        }
      }
    }
    &.livestream__comment--mentioned {
      background-color: unset;
    }
    &:hover {
      background-color: unset;
      .comment__author {
        color: var(--color-primary-contrast) !important;
      }
      .comment__author--creator {
        background-color: var(--color-background);
        color: var(--color-text) !important;
      }
    }
  }

  .close-button {
    border-left: 1px solid var(--color-background);
    padding: 0 calc(var(--spacing-m) - var(--spacing-xs)) 0 var(--spacing-m);
    color: var(--color-primary-contrast);
  }

  .comment__pin {
    width: unset;
    margin-right: calc(var(--spacing-s) + var(--spacing-xs));
    .icon {
      margin-bottom: -1px;
    }
  }

  @media (min-width: $breakpoint-small) {
    padding: var(--spacing-xs);
  }
}

.livestream__comment {
  list-style-type: none;
  position: relative;

  .date_time {
    color: var(--color-text-subtitle);
    opacity: var(--live-timestamp-opacity);
    // font-size: var(--font-xsmall) !important;
  }

  .channel-name {
    font-size: var(--font-xsmall);
  }

  span {
    font-size: var(--font-small) !important;
  }

  .close-button {
    padding: 0;
    padding-left: var(--spacing-xxs);
  }

  .livestreamComment__text {
    color: var(--color-text);
    .empty__wrap {
      justify-content: left;
    }
  }

  @media (mix-width: $breakpoint-small) {
    span {
      font-size: var(--font-xxsmall) !important;
    }
  }
  @media (min-width: $breakpoint-small) {
    &:hover {
      .comment__author {
        color: var(--color-primary);
      }
    }

    &:not(:hover) {
      .menu__button:not(:focus):not([aria-expanded='true']) {
        opacity: 0;
      }
    }
  }

  &:hover {
    .menu__button {
      opacity: 1;
    }
    .date_time {
      opacity: 0.9;
    }
  }
}

.livestream-pinned__wrapper--mobile {
  @extend .livestream-pinned__wrapper;

  z-index: 1300;
  // max-width: calc(100% + 13px);
  max-width: 100%;
  padding: 0;
  padding-left: var(--spacing-xxs);
  border-radius: var(--border-radius);
  // border: 1px solid var(--color-border);
  // margin-left:-13px;
  margin-bottom: var(--spacing-xs);

  .livestream__comment {
    overflow: hidden;

    .livestreamComment__body {
      margin: 0px;
      width: 100%;
      overflow: scroll;

      &::-webkit-scrollbar {
        width: 0 !important;
      }
    }
  }
}

.livestreamHyperchat__amount--large {
  .credit-amount {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    .icon {
      margin-bottom: 0;
    }
  }
}

.livestream-hyperchats {
  display: flex;

  .channel-thumbnail {
    margin-top: 4px !important;
    .comment__badge {
      bottom: -6px;
      left: 33%;
      width: 60%;
    }
  }
  .channel-name {
    .comment__badge {
      display: none;
    }
  }
  .close-button {
    border: 2px solid var(--color-border);
    border-radius: var(--border-radius);
    color: var(--color-text-subtitle);
    padding: 0 var(--spacing-xs);
    .button__label,
    .icon {
      color: var(--color-text);
    }
  }
}

.livestream-hyperchat {
  display: flex;
  margin-right: var(--spacing-xs);
  padding: 2px var(--spacing-xxs);
  border-radius: var(--border-radius);
  transition: border 0.4s, background-color 0.4s;
  border: 2px solid var(--color-border);
  background-color: rgba(var(--color-text-base), 0.05);

  .channel-thumbnail {
    margin-right: var(--spacing-xxs);
    margin-top: var(--spacing-xxs);
    @include handleChannelGif(2rem);

    @media (max-width: $breakpoint-small) {
      @include handleChannelGif(1.5rem);
    }
  }
  .channel-name,
  .credit-amount {
    color: var(--color-text);
  }

  .channel-name {
    max-width: 10rem;
  }
}

.hyperchat-preview-level1 {
  border: 2px solid rgba(mix(#de0050, #ffa236, 0%), 1);
  background-color: rgba(mix(#de0050, #ffa236, 0%), 0.2);
}

.hyperchat-preview-level2 {
  border: 2px solid rgba(mix(#de0050, #ffa236, 25%), 1);
  background-color: rgba(mix(#de0050, #ffa236, 25%), 0.2);
  .livestreamHyperchat__info {
    max-width: 6rem;
    .channel-name {
      p {
        max-width: 6rem;
      }
    }
  }
}

.hyperchat-preview-level3 {
  border: 2px solid rgba(mix(#de0050, #ffa236, 50%), 1);
  background-color: rgba(mix(#de0050, #ffa236, 50%), 0.2);
  .livestreamHyperchat__info {
    max-width: 7rem;
    .channel-name {
      p {
        max-width: 7rem;
      }
    }
  }
}

.hyperchat-preview-level4 {
  border: 2px solid rgba(mix(#de0050, #ffa236, 75%), 1);
  background-color: rgba(mix(#de0050, #ffa236, 75%), 0.2);

  .livestreamHyperchat__info {
    max-width: 8rem;
    .channel-name {
      p {
        max-width: 8rem;
      }
    }
  }
}

.hyperchat-preview-level5 {
  border: 2px solid rgba(mix(#de0050, #ffa236, 100%), 1);
  background-color: rgba(mix(#de0050, #ffa236, 100%), 0.2);

  .livestreamHyperchat__info {
    max-width: 10rem;
    .channel-name {
      p {
        max-width: 10rem;
      }
    }
  }
}

.livestream-hyperchat--mobile {
  @extend .livestream-hyperchat;

  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;

  span {
    font-size: var(--font-xxsmall);
    color: var(--color-text-subtitle);
  }
}

.livestream-hyperchat-orderOptions {
  padding: 0 var(--spacing-xs);
  padding-bottom: var(--spacing-xxxs);
  //border-bottom:1px solid var(--color-header-background);
  font-size: var(--font-small);
  background: linear-gradient(180deg, var(--color-header-background) 80%, transparent 100%);
}

.livestreamHyperchat__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-xsmall);

  .button {
    margin-top: calc(var(--spacing-xxs) / 2);
  }

  @media (max-width: $breakpoint-small) {
    max-height: 40px;
  }
}

.livestreamHyperchat__info--sticker {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 6.4rem;
  max-width: 6.4rem !important;
  max-height: 38px;

  .livestreamHyperchat__info--user {
    .channel-name {
      max-width: 5rem;
    }
  }

  .livestreamHyperchat__info--image {
    width: 100%;
    height: 100%;
  }
}

.livestreamHyperchat__info--user {
  .empty {
    color: var(--color-text);
    opacity: 0.9;
  }

  .channel-name {
    max-width: unset;

    p {
      max-width: 5rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.livestreamHyperchat__info--notSticker {
  flex-direction: row;
}

.livestreamHyperchat__amount--large {
  min-width: 2.5rem;
}

.livestreamComment--minimal {
  .date_time {
    // width:60px;
    margin-right: var(--spacing-xxxs);
  }
  .channel-thumbnail {
    width: var(--font-small) !important;
    height: var(--font-small) !important;
    display: inline-block;
    margin-right: var(--spacing-xxs);
  }
  .comment__author {
    display: inline-block;
    margin-right: 0;
    margin-top: 0 !important;
  }
  .livestreamComment__text {
    display: inline-block;
    max-width: 100%;
  }
  .comment__badge {
    .icon {
      margin-bottom: -3px;
    }
  }
}
