@import '../init/breakpoints';
@import '../init/mixins';
@import '../component/superchat';

.livestream__comment {
  list-style-type: none;
  position: relative;

  .date_time {
    color: var(--color-text-subtitle);
    opacity: var(--live-timestamp-opacity);
  }

  &:hover {
    background-color: rgba(var(--color-header-background-base), 0.4);

    .date_time {
      opacity: 0.5;
    }
  }

  .comment__author:not(.comment__author--creator) {
    color: rgba(var(--color-text-base), 0.5);
    margin-top: var(--spacing-xxs);
    max-width: calc(100% - 110px);

    .button__content {
      max-width: unset;
    }

    &:hover {
      color: var(--color-primary) !important;
    }

    @media (max-width: $breakpoint-small) {
      max-width: unset;
    }
  }

  .channel-name {
    color: var(--color-secondary);
    &:hover {
      color: var(--color-primary);
    }
  }

  @media (min-width: $breakpoint-small) {
    &:not(:hover) {
      .menu__button:not(:focus):not([aria-expanded='true']) {
        opacity: 0;
      }
    }
  }

  .channel-name {
    font-size: var(--font-xsmall);
  }
}

.livestream__comment--mobile {
  @extend .livestream__comment;

  display: flex;
  justify-content: space-between;
  padding: 0;

  .livestreamComment__menu {
    position: relative;
    right: 0;
    top: var(--spacing-xxs);
    .menu__button {
      opacity: 1;
    }
  }

  .comment__author {
    color: var(--color-primary);
  }

  span,
  p {
    font-size: var(--font-xsmall) !important;
  }
}

.livestream__comment--mentioned {
  background-color: rgba(var(--color-header-background-base), 0.6);
}

.livestreamComment__info {
  overflow: hidden;
  width: 100%;

  .comment__author {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .comment__badge {
    .icon {
      height: var(--font-body);
      width: var(--font-body);
      margin-bottom: -2px;
    }
    .icon--BadgeStreamer {
      height: calc(var(--font-body) + 2px);
      width: calc(var(--font-body) + 2px);
      margin-bottom: -4px;
    }
  }
}

.livestream__comment--hyperchat {
  background-color: rgba(var(--color-text-base), 0.02);
  box-shadow: 2px 0px 0px 0px rgba(var(--color-text-base), 0.4) inset;
  display: unset;
  padding-left: 0;

  + .livestream__comment--hyperchat {
    margin-bottom: var(--spacing-xxs);
  }

  .livestreamComment__body {
    display: flex;
    align-items: flex-start;
    flex-direction: unset;
    flex: unset;
    margin-left: 3px;

    .freezeframe-wrapper,
    .channel-thumbnail--xsmall {
      margin-left: var(--spacing-xs);
    }
  }

  .livestreamComment__info {
    margin-top: calc(var(--spacing-xxs) / 2);
  }

  .button__content {
    color: var(--color-primary);
  }

  .date_time {
    opacity: 1;
  }
  .livestreamComment__menu {
    position: absolute;
  }

  .livestreamComment__menu {
    top: 2px;
  }

  &::before {
    display: none;
    position: absolute;
    left: 0;
    height: 100%;
    max-height: 4rem;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 5px;
    background-color: var(--color-hyperchat);
    content: '';
  }
}

.hyperchat-level1 {
  box-shadow: 2px 0px 0px 0px mix(#de0050, #ffa236, 0%) inset;
  background-color: rgba(mix(#de0050, #ffa236, 0%), 0.05);
  .livestreamComment__hyperchatBanner {
    background-image: linear-gradient(to right, mix(#de0050, #ffa236, 0%), transparent);
  }
}

.hyperchat-level2 {
  box-shadow: 2px 0px 0px 0px mix(#de0050, #ffa236, 25%) inset;
  background-color: rgba(mix(#de0050, #ffa236, 25%), 0.05);
  .livestreamComment__hyperchatBanner {
    background-image: linear-gradient(to right, mix(#de0050, #ffa236, 25%), transparent);
  }
}

.hyperchat-level3 {
  box-shadow: 2px 0px 0px 0px mix(#de0050, #ffa236, 50%) inset;
  background-color: rgba(mix(#de0050, #ffa236, 50%), 0.05);
  .livestreamComment__hyperchatBanner {
    background-image: linear-gradient(to right, mix(#de0050, #ffa236, 50%), transparent);
  }
}

.hyperchat-level4 {
  box-shadow: 2px 0px 0px 0px mix(#de0050, #ffa236, 75%) inset;
  background-color: rgba(mix(#de0050, #ffa236, 75%), 0.05);
  .livestreamComment__hyperchatBanner {
    background-image: linear-gradient(to right, mix(#de0050, #ffa236, 75%), transparent);
  }
}

.hyperchat-level5 {
  box-shadow: 2px 0px 0px 0px mix(#de0050, #ffa236, 100%) inset;
  background-color: rgba(mix(#de0050, #ffa236, 100%), 0.05);
  .livestreamComment__hyperchatBanner {
    background-image: linear-gradient(to right, mix(#de0050, #ffa236, 100%), transparent);
  }
}

.livestreamComment__body {
  display: flex;
  align-items: flex-start;
  margin-left: var(--spacing-s);
  overflow: hidden;

  .channel-thumbnail {
    @include handleChannelGif(2rem);
    margin-top: var(--spacing-s);
    flex-shrink: 0;
  }

  @media (max-width: $breakpoint-small) {
    margin-left: 0;
  }
}

.livestreamComment__menu {
  position: absolute;
  right: var(--spacing-s);
  top: var(--spacing-xxs);
  width: 20px;
  height: 20px;

  @media (min-width: $breakpoint-small) {
    .menu__button {
      background: var(--color-background);
      border-radius: 50%;
      padding: 2px;
      border: 2px solid transparent;
      transition: transform 0.4s;
      .icon {
        width: 16px;
        height: 16px;
      }
    }
    [aria-expanded='true'].menu__button {
      opacity: 1;
      background-color: rgba(var(--color-header-button-base), 0.9);
      border: 2px solid var(--color-header-background);
      transform: rotate(90deg);
      .icon {
        stroke: var(--color-primary);
      }
    }
  }
}

.livestreamComment__hyperchatBanner {
  @extend .hyperChat;

  border-radius: 0;
  display: inline-block;
  position: relative;
  width: 90%;
  background-image: linear-gradient(to right, rgba(var(--color-text-base), 0.4), transparent);
  padding: 2px;
  margin-left: 2px;
  display: flex;

  .hyperChat {
    background-color: var(--color-header-background);
  }

  .credit-amount {
    color: var(--color-text);
    svg {
      height: var(--font-small);
      margin-bottom: -2px;
    }
  }
}

.livestreamComment__text {
  padding-right: var(--spacing-s);
  padding-bottom: var(--spacing-xxs);

  .markdown-preview {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    tr,
    th,
    td,
    li {
      word-break: break-word;
    }

    .task-list-item {
      margin-left: var(--spacing-m);
      input[type='checkbox'] {
        height: 26px;
        width: 18px;
        margin-bottom: -8px;
        margin-right: var(--spacing-xxxs);
        border: 2px solid var(--color-border);
      }
    }

    .channel-name {
      font-size: var(--font-small);
    }

    .button--link {
      .icon {
        flex-shrink: 0;
      }
    }

    .menu__button {
      opacity: 1 !important;
      color: var(--color-primary);
      &:hover {
        color: var(--color-primary);
      }
    }

    .comment__badge {
      display: none;
    }

    .emote {
      max-width: 1.25rem;
      max-height: 1.25rem;
    }
  }
}
