@import '../init/breakpoints';
@import '../init/mixins';

$discussion-header__height: 3rem;
$recent-msg-button__height: 2rem;

.livestream__chat {
  width: 100%;

  @media (min-width: $breakpoint-medium) {
    margin: 0;
    width: var(--livestream-comments-width);
    height: calc(100vh - var(--header-height));
    position: fixed;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    border-right: none;

    .card__main-actions {
      padding: 0;
    }
  }

  @media (max-width: $breakpoint-small) {
    margin: 0 !important;
    height: 100%;
    margin-bottom: 0px !important;
  }
}

.livestream__chat--popout {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  top: 0 !important;

  .livestreamComments__wrapper {
    height: 95vh !important;
  }

  .livestreamSuperchats__wrapper {
    width: 100%;
  }

  .livestreamPinned__wrapper {
    width: 100%;
  }
}

.livestreamDiscussion__header {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: var(--spacing-s);
  margin-bottom: 0;
  align-items: center;

  .recommended-content__toggles {
    button {
      height: unset;
      padding: 5px;
    }

    .button__label {
      max-height: 18px;
    }
  }

  @media (min-width: $breakpoint-small) {
    height: $discussion-header__height;
    padding: 0 var(--spacing-s);
    padding-right: 0;
  }

  @media (max-width: $breakpoint-small) {
    padding: var(--spacing-xxs);
  }
}

.livestreamDiscussion__title {
  display: flex;
  align-items: center;
  padding: 0;

  .menu__button {
    margin-left: var(--spacing-xxs);
  }

  @media (max-width: $breakpoint-small) {
    .menu__button {
      margin-left: 5px;
    }
  }
}

.livestreamComments__wrapper {
  display: flex;
  flex-direction: column;

  .main--empty {
    .yrbl__wrap {
      flex-direction: column !important;
      align-items: center;

      img {
        margin: 0;
      }
    }
  }

  @media (min-width: $breakpoint-small) {
    height: calc(100% - var(--header-height) - #{$discussion-header__height});
  }

  @media (max-width: $breakpoint-small) {
    height: 100%;
    flex-direction: column;
  }
}

.livestream__comments {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  overflow-y: scroll;
  overflow-x: visible;
  padding-top: var(--spacing-s);
  width: 100%;
}

.livestreamComments__scrollToRecent {
  margin-top: -$recent-msg-button__height;
  align-self: center;
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-xsmall);
  padding: var(--spacing-xxs) var(--spacing-s);
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

.livestream__commentCreate {
  padding: var(--spacing-s);
  border-top: 1px solid var(--color-border);
  margin-top: auto;

  @media (max-width: $breakpoint-small) {
    padding: var(--spacing-xxs);
  }
}

.livestreamSuperchats__wrapper {
  flex-shrink: 0;
  position: relative;
  overflow-x: scroll;
  padding: var(--spacing-s) var(--spacing-xs);
  border-bottom: 1px solid var(--color-border);
  font-size: var(--font-small);
  background-color: var(--color-card-background);

  @media (min-width: $breakpoint-small) {
    padding: var(--spacing-xs);
    width: var(--livestream-comments-width);
  }

  @media (max-width: $breakpoint-small) {
    position: absolute;
    z-index: 1300;
    width: 100%;
    background-color: transparent;
    padding: 0px;
    padding-left: var(--spacing-xxs);
    padding-top: var(--spacing-xxs);
    border-bottom: none;
    scrollbar-width: 0px;

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }
}

.livestreamPinned__wrapper {
  display: flex;
  flex-shrink: 0;
  position: relative;
  padding: var(--spacing-s) var(--spacing-xs);
  border-bottom: 1px solid var(--color-border);
  font-size: var(--font-small);
  background-color: var(--color-card-background-highlighted);
  width: 100%;

  .livestream__comment {
    width: 100%;
    padding-top: var(--spacing-xs);
    max-height: 6rem;
    overflow-y: scroll;
  }

  .close-button {
    border-left: 1px solid var(--color-border);
    padding: 0 calc(var(--spacing-m) - var(--spacing-xs)) 0 var(--spacing-m);
    color: var(--color-text-subtitle);
  }

  @media (min-width: $breakpoint-small) {
    padding: var(--spacing-xs);
    width: var(--livestream-comments-width);
  }
}

.livestreamSuperchat__amount--large {
  .credit-amount {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.livestreamSuperchats__inner {
  display: flex;

  .close-button {
    color: var(--color-text-subtitle);
  }
}

.livestream__superchat {
  display: flex;
  margin-right: var(--spacing-xs);
  padding: var(--spacing-xxs);
  border-radius: var(--border-radius);

  .channel-thumbnail {
    margin-right: var(--spacing-xs);
    @include handleChannelGif(2rem);

    @media (max-width: $breakpoint-small) {
      margin-right: var(--spacing-xxs);
      @include handleChannelGif(1.5rem);

      .channel-staked__wrapper {
        padding: 0px;
        left: -0.4rem;
        bottom: -0.5rem;
      }
    }
  }

  &:first-of-type {
    background-color: var(--color-superchat);

    .channel-name {
      max-width: 8rem;
    }
  }

  &:nth-of-type(2) {
    background-color: var(--color-superchat-2);
  }
  &:nth-of-type(3) {
    background-color: var(--color-superchat-3);
  }

  &:nth-of-type(-n + 3) {
    .channel-name,
    .credit-amount {
      color: var(--color-black);
    }
  }

  .channel-name {
    max-width: 5rem;
  }

  @media (max-width: $breakpoint-small) {
    padding: 5px;
    padding-bottom: 2px;

    span {
      font-size: var(--font-xxsmall);
    }
  }
}

.livestreamSuperchat__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-xsmall);

  .button {
    margin-top: calc(var(--spacing-xxs) / 2);
  }

  @media (max-width: $breakpoint-small) {
    max-height: 40px;
  }
}

.livestreamSuperchat__info--sticker {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 8rem;
  height: 3rem;

  .livestreamSuperchat__info--user {
    .channel-name {
      max-width: 5rem;
    }
  }

  .livestreamSuperchat__info--image {
    width: 100%;
    height: 100%;
  }
}

.livestreamSuperchat__info--notSticker {
  flex-direction: row;
}

.livestreamSuperchat__amount--large {
  min-width: 2.5rem;
}
