.main-wrapper {
  position: relative;
}

.main-wrapper--mac {
  margin-top: calc(var(--header-height) + var(--mac-titlebar-height));
}

.main-wrapper__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: calc(100vh - var(--header-height));
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--header-height);
  padding: var(--spacing-large);

  @media (max-width: $breakpoint-small) {
    padding: var(--spacing-small);
  }
}

.main {
  position: relative;
  width: calc(100% - var(--side-nav-width) - var(--spacing-large));

  @media (max-width: $breakpoint-small) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.main--auth-page {
  max-width: 70rem;
  margin-top: var(--spacing-main-padding);
  margin-left: auto;
  margin-right: auto;
}

.main--empty {
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  > .card {
    width: 100%;
  }

  @media (max-width: $breakpoint-small) {
    padding: 0 var(--spacing-medium);
  }
}

.main--launching {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
}

.main--contained {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50rem;
  text-align: left;

  & > * {
    width: 100%;
  }
}

.main--full-width {
  width: 100%;
}

.main__sign-in,
.main__sign-up {
  max-width: 27rem;
  margin-left: auto;
  margin-right: auto;
}

.main__channel-creation {
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;
}
