.markdown-preview {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  //color: #24292e;
  //font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  //background-color: #fff;

  & > :first-child {
    margin-top: 0 !important;
  }

  & > :last-child {
    margin-bottom: 0 !important;
  }

  p,
  blockquote,
  dl,
  ul,
  ol,
  pre,
  table {
    margin-top: 0;
    margin-bottom: var(--spacing-medium);
  }

  a[href] {
    color: #0366d6;
    text-decoration: underline;
  }

  img {
    max-width: 90%;
    background-color: #fff;
    display: block;
    margin: var(--spacing-large) auto;
    border-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;

    a,
    a:hover {
      text-decoration: none;
    }
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  h1,
  h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.85em;
    color: #6a737d;
  }

  code,
  kbd,
  pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 1em;
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
  }

  code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
  }

  pre {
    white-space: pre;
    word-wrap: normal;
    padding: var(--spacing-medium);
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;

    code {
      display: inline;
      padding: 0;
      margin: 0;
      overflow: visible;
      line-height: inherit;
      word-break: normal;
      word-wrap: normal;
      background-color: initial;
      border: 0;
    }
  }

  blockquote {
    margin: 0;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }

  blockquote > :first-child {
    margin-top: 0;
  }

  blockquote > :last-child {
    margin-bottom: 0;
  }

  ol,
  ul {
    padding-left: 2em;
  }

  ol {
    list-style-type: decimal;
  }

  ol ol,
  ul ol {
    list-style-type: lower-roman;
  }

  ol ol,
  ol ul,
  ul ol,
  ul ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  ol ol ol,
  ol ul ol,
  ul ol ol,
  ul ul ol {
    list-style-type: lower-alpha;
  }

  li {
    word-wrap: break-all;
  }

  li > p {
    margin-top: 16px;
  }

  li + li {
    margin-top: 0.25em;
  }

  dl {
    padding: 0;
  }

  dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
  }

  dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
  }

  dd {
    margin-left: 0;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: 100%;
    overflow: auto;
  }

  table th {
    font-weight: 600;
  }

  table td,
  table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }

  table tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  hr {
    overflow: hidden;
    border: 0;
    border-bottom: 1px solid #eee;
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #eee;
  }
}

/*
{
  > *:last-child {
    margin-bottom: 0;
  }

  // Headers
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-medium);

    &:not(:first-child) {
      margin-top: var(--spacing-large);
    }
  }

  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.3em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1em;
  }

  // Paragraphs
  p, ul, ol {
    margin-top: var(--spacing-medium);
  }

  p {
    svg {
      width: 1rem;
      height: 1rem;

      margin-left: 0.2rem;
      position: relative;
      top: 1px;
    }
  }

  // Tables
  table {
    margin-bottom: 1.2rem;
    padding: var(--spacing-medium);
    word-break: normal;

    tr {
      td,
      th,
      td:first-of-type,
      th:first-of-type,
      td:last-of-type,
      th:last-of-type {
        padding: var(--spacing-medium);
      }
    }
  }

  // Image
  img {
    margin-bottom: var(--spacing-medium);
    padding-top: var(--spacing-medium);
    //max-height: 40vh;
    object-position: left;

    @media (max-width: $breakpoint-small) {
      //max-height: 30vh;
      font-size: 0.8em;
    }
  }

  // Horizontal Rule
  hr {
    margin-bottom: 2rem;
    position: relative;
    top: 1rem;
  }

  // Code blocks
  pre {
    white-space: normal;
    background: transparent;

    code {
      margin-bottom: var(--spacing-medium);
      padding: var(--spacing-medium);
      display: block;
      white-space: pre-wrap;
    }
  }

  // Inline code
  code {
    background-color: var(--color-blockquote);
    display: inline-block;
    margin: var(--spacing-miniscule);
    border-radius: 0.2rem;
    font-size: var(--font-small);
    padding: calc(var(--spacing-miniscule) - 4px) var(--spacing-miniscule);
  }

  a {
    @extend .button--link;
  }

  a,
  button {
    display: inline-block;

    .button__label {
      white-space: normal;
    }
  }

  button {
    white-space: normal;
    text-align: left;
  }

  .preview-link {
    padding: 0;
    margin: 1rem 0;
    background-color: var(--color-primary-alt);
    border-left: 0.5rem solid var(--color-primary);
    display: block;
    align-items: center;
    word-break: break-all;
    overflow: hidden;

    .claim-preview {
      border: 0;
      background: transparent;
    }

    .media__subtitle {
      display: block;
    }
  }

  .preview-link__thumbnail {
    width: 12rem;
  }

  .preview-link__description {
    margin-top: var(--spacing-small);
  }
}

.editor-preview {
  background-color: var(--color-input-bg);
}
*/
