.CodeMirror {
    background: var(--color-bg-alt) !important;
    border: 0 !important;
    border-radius: 0px !important;
    color: var(--text-color) !important;
    box-shadow: var(--box-shadow-layer);
}

.editor-toolbar {
    opacity: 1 !important;
    border: 0 !important;
    background: var(--color-bg-alt);
    border-radius: 0 !important;
    border-bottom: var(--divider) !important;
    box-shadow: var(--box-shadow-layer);
}

.editor-toolbar i.separator {
  border: 0 !important;
  border-right: var(--divider) !important;
}

.editor-toolbar.fullscreen {
    background: var(--color-bg) !important;
}

div.editor-toolbar a {
    opacity: 0.75;
    color:  var(--text-color) !important;
}

.editor-toolbar a.active,
.editor-toolbar a:hover {
    opacity: 1;
    background: var(--button-bg) !important;
    border-color: transparent !important;
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
    background:  var(--color-bg-alt) !important;
    border-color: transparent !important;
}

.editor-statusbar {
    color: var(--form-label-color) !important;
}

.editor-preview {
    background: var(--card-bg) !important;
}

.editor-preview-side {
    background: var(--color-bg-alt) !important;
    border: 1px solid var(--input-border-color) !important;
}

.editor-preview pre,
.editor-preview-side pre {
    background: #eee;
}

.editor-preview table td,
.editor-preview table th,
.editor-preview-side table td,
.editor-preview-side table th {
    border: 1px solid var(--input-border-color) !important;
}

.CodeMirror .CodeMirror-code .cm-tag {
    color: #63a35c;
}

.CodeMirror .CodeMirror-code .cm-attribute {
    color: #795da3;
}

.CodeMirror .CodeMirror-code .cm-string {
    color: #183691;
}

.CodeMirror .CodeMirror-selected {
    background: var(--text-selection-bg) !important;
    color: var(--text-selection-color) !important;
}

.CodeMirror .CodeMirror-cursor{
    border-color: var(--text-color) !important;
}

.CodeMirror .CodeMirror-code .cm-comment {
    background: rgba(0, 0, 0, .05);
}

.CodeMirror .CodeMirror-code .cm-link {
    color: #7f8c8d;
}

.CodeMirror .CodeMirror-code .cm-url {
    color: #aab2b3;
}

.CodeMirror .CodeMirror-placeholder {
    opacity: .5;
}
