.home__meme {
  text-align: center;
  font-weight: bold;
  line-height: 1;
  font-size: 1rem;
  margin-bottom: var(--spacing-m);

  @media (min-width: $breakpoint-small) {
    font-size: 1.2rem;
    margin-bottom: var(--spacing-l);
  }
}
