@import "../global";

$border-radius-menu: 2px;

.menu-container {
  display: inline-block;
}

.menu {
  position: absolute;
  white-space: nowrap;
  background-color: white;
  box-shadow: $box-shadow-layer;
  border-radius: $border-radius-menu;
  padding-top: ($spacing-vertical / 5) 0px;
  z-index: 1;
}

.menu__menu-item {
  display: block;
  padding: ($spacing-vertical / 4) ($spacing-vertical / 2);
  &:hover {
    background: $color-bg-alt;
  }
}