.notifications__empty {
  background-color: var(--color-card-background);
  padding: var(--spacing-l);
}

.notification_list {
  > * {
    border-bottom: 1px solid var(--color-border);

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.notification__icon {
  .icon__wrapper {
    margin-right: var(--spacing-m);
  }
}

.notification__wrapper {
  width: 100%;
  display: flex;
  padding: var(--spacing-m);

  .channel-thumbnail {
    @include handleChannelGif(3rem);
  }

  @media (max-width: $breakpoint-small) {
    .channel-thumbnail {
      @include handleChannelGif(2rem);
    }
  }
}

.notification__wrapper--unseen {
  background-color: var(--color-card-background-highlighted);

  &:hover {
    background-color: var(--color-button-secondary-bg);
  }

  @media (max-width: $breakpoint-small) {
    padding: var(--spacing-s);
  }
}

.notification__content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $breakpoint-small) {
    align-items: flex-start;
  }
}

.notification__title {
  font-size: var(--font-small);
  color: var(--color-text);
  margin-bottom: var(--spacing-s);

  @media (max-width: $breakpoint-small) {
    margin-bottom: 0;
  }
}

.notification__text {
  font-size: var(--font-body);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.notification__time {
  @extend .help;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: var(--spacing-s);
  flex-shrink: 0;
}

.notification__bubble {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-notification);
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  color: white;
  font-size: var(--font-small);
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification__bubble--inline {
  @extend .notification__bubble;
  top: 0.75rem;
  right: 1rem;
}
