.notice {
  border: 1px solid;
  border-radius: 5px;
  padding: var(--spacing-medium) var(--spacing-large);
  text-shadow: 0 1px 0 black; //black; //white, 0.5);

  &:not(.notice--error) {
    background-color: black; //green-1;
    border-color: black; //green-2;
    color: black; //green-3;
  }
}

.notice--error {
  background-color: black; //red-1;
  border-color: black; //red-2;
  color: black; //red-3;
}
