.notifications__empty {
  background-color: var(--color-card-background);
  padding: var(--spacing-l);
}

.notification_list {
  > * {
    border-bottom: 1px solid var(--color-border);

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.notification__icon {
  .icon__wrapper {
    width: 1rem;
    height: 1rem;
    padding: 1.2rem;
    border-radius: var(--border-radius);
    margin-right: var(--spacing-m);

    @media (min-width: $breakpoint-small) {
      padding: 1.5rem;
    }
  }
}

.notification__wrapper {
  width: 100%;
  display: flex;
  padding: var(--spacing-m);

  .channel-thumbnail {
    @include handleChannelGif(3rem);
  }

  @media (max-width: $breakpoint-small) {
    .channel-thumbnail {
      @include handleChannelGif(2rem);
    }
  }
}

.notification__wrapper--unseen {
  background-color: var(--color-card-background-highlighted);

  &:hover {
    background-color: var(--color-button-secondary-bg);
  }

  @media (max-width: $breakpoint-small) {
    padding: var(--spacing-s);
  }
}

.notification__content {
  flex: 1;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.notification__title {
  font-size: var(--font-small);
  color: var(--color-text);
  margin-bottom: var(--spacing-s);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @media (max-width: $breakpoint-small) {
    margin-bottom: 0;
  }
}

.notification__text {
  font-size: var(--font-body);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.notification__title,
.notification__text {
  max-width: 30rem;
}

.notification__time {
  font-size: var(--font-small);
  color: var(--color-text-help);
  flex-shrink: 0;
  margin-top: var(--spacing-s);

  @media (min-width: $breakpoint-small) {
    margin-left: var(--spacing-s);
    margin-top: 0;
  }
}

.notification__bubble {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-notification);
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  color: white;
  font-size: var(--font-small);
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification__bubble--inline {
  @extend .notification__bubble;
  top: 0.75rem;
  right: 1rem;
}

.notification__extra {
  display: flex;
  align-items: center;
}

.notification__mark-seen {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--color-primary);
  margin-left: var(--spacing-s);
  margin-top: var(--spacing-s);

  @media (min-width: $breakpoint-small) {
    margin-top: 0;
  }
}
