ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
  float: left;
  padding: 8px 16px;
}

ul.pagination li:not(.selected) {
  background: white;
  a {
    cursor: hand;
  }
}
