.placeholder {
  @include placeholder;
}

.placeholder__wrapper {
  width: 100%;
}

.placeholder {
  display: flex;

  &.claim-preview__title {
    width: 100%;
    height: 3rem;
  }

  &.media__subtitle {
    margin-top: var(--spacing-s);

    width: 30%;
    height: 1.5em;
  }

  &.claim-tile__title {
    width: 100%;
    height: 2.5rem;
    margin-left: 0;
  }

  &.claim-tile__info {
    width: 40%;
    height: 2rem;
  }
}

.placeholder--text-document {
  @include placeholder;
  height: 60vh;
}
