.placeholder {
  @include placeholder;
}

.placeholder__wrapper {
  width: 100%;
}

.placeholder {
  display: flex;

  &.claim-preview-title {
    width: 100%;
    height: 3rem;
  }

  &.media__subtitle {
    margin-top: var(--spacing-small);

    width: 30%;
    height: 1.5em;
  }
}
