::-webkit-scrollbar {
    width: 7px;
    overflow: auto;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-bg);
    border-radius: var(--scrollbar-radius);
    margin: 16px 0;
}

::-webkit-scrollbar-thumb {
    border-radius: var(--scrollbar-radius);
    background-color: var(--scrollbar-thumb-bg);
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-bg);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active-bg);
}
