.search__header {
  width: 100%;
  margin-bottom: var(--spacing-l);

  .placeholder {
    background-color: var(--color-placeholder-background);
  }
}

.search__options {
  margin-top: var(--spacing-l);

  .search__legend {
    background-color: var(--color-secondary-alt);
    color: var(--color-secondary);
    margin-bottom: var(--spacing-s);
    padding: var(--spacing-xxs);
  }

  fieldset:not(:first-child) {
    margin-top: var(--spacing-l);
  }

  .radio,
  .checkbox {
    display: inline-block;

    &:not(:first-of-type) {
      margin-left: var(--spacing-m);
    }
  }
}

.search__top-link {
  margin-top: var(--spacing-s);
  font-weight: var(--font-weight-body);
}

.search__top-links {
  margin-bottom: 0;
  margin-top: var(--spacing-xs);

  @media (min-width: $breakpoint-small) {
    margin-top: 0;
  }
}

.recommended-content__toggles {
  button {
    padding: 0 var(--spacing-xs);
    height: 2rem;
  }
}
