.search__header {
  width: 100%;
  margin-bottom: var(--spacing-m);

  .placeholder {
    background-color: var(--color-placeholder-background);
  }
}

.search__options {
  margin-top: var(--spacing-m);
  margin-left: var(--spacing-l);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;

  &:last-child {
    margin-bottom: var(--spacing-m);
  }

  .search__legend {
    background-color: var(--color-secondary-alt);
    color: var(--color-secondary);
    margin-bottom: var(--spacing-m);
    padding: var(--spacing-xxs);
    border-radius: var(--border-radius);
  }

  &.dark {
    .search__legend {
      background-color: transparent;
      color: var(--color-secondary-alt);
    }

    .radio label::after {
      background-color: var(--color-secondary-alt);
    }
  }

  fieldset:not(:first-child) {
    margin-top: var(--spacing-m);
  }

  @media (min-width: 1229px) {
    fieldset:first-child,
    fieldset:nth-child(even) {
      margin-top: 0;
    }
  }

  .radio,
  .checkbox {
    display: inline-block;
    margin-top: 0;

    &:not(:first-of-type) {
      margin-left: var(--spacing-m);
    }
  }
}

@media (max-width: 1228px) {
  .search__options {
    grid-template-columns: 1fr;
  }
}

.search__top-link {
  margin-top: var(--spacing-s);
  font-weight: var(--font-weight-body);
}

.search__top-links {
  margin-bottom: 0;
  margin-top: var(--spacing-xs);

  @media (min-width: $breakpoint-small) {
    margin-top: 0;
  }
}
