.search__header {
  margin-bottom: var(--spacing-l);

  .placeholder {
    background-color: var(--color-placeholder-background);
  }
}

.search__options {
  margin-top: var(--spacing-l);

  .search__legend {
    background-color: var(--color-secondary-alt);
    color: var(--color-secondary);
    margin-bottom: var(--spacing-s);
    padding: var(--spacing-xxs);
    border-radius: var(--border-radius);
  }

  fieldset:not(:first-child) {
    margin-top: var(--spacing-l);
  }

  .radio,
  .checkbox {
    display: inline-block;

    &:not(:first-of-type) {
      margin-left: var(--spacing-m);
    }
  }
}
