.search__header {
  margin-bottom: var(--spacing-large);

  .placeholder {
    background-color: var(--color-placeholder-background);
  }
}

.search__options {
  margin-top: var(--spacing-large);

  .search__legend {
    background-color: var(--color-secondary-alt);
    color: var(--color-secondary);
    margin-bottom: var(--spacing-small);
    padding: var(--spacing-miniscule);
  }

  fieldset:not(:first-child) {
    margin-top: var(--spacing-large);
  }

  .radio,
  .checkbox {
    display: inline-block;

    &:not(:first-of-type) {
      margin-left: var(--spacing-medium);
    }
  }
}
