.superChat {
  border-radius: var(--border-radius);
  background: linear-gradient(to right, var(--color-superchat), var(--color-superchat-3));
  padding: 0.2rem var(--spacing-xs);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-xsmall);

  .credit-amount {
    color: var(--color-superchat-text);
  }
}

.superChat--light {
  @extend .superChat;
  background: linear-gradient(to right, var(--color-superchat__light), var(--color-superchat-3__light));

  .credit-amount {
    color: var(--color-superchat-text__light);
  }
}
