.hyperChat {
  border-radius: var(--border-radius);
  background-color: linear-gradient(to right, var(--color-hyperchat), var(--color-hyperchat-3));
  padding: 4px var(--spacing-xs);
  padding-bottom: 2px !important;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-xsmall);
  color: var(--color-primary-contrast);

  .credit-amount {
    color: var(--color-hyperchat-text);
  }
}
