.swipeable-drawer__header {
  position: absolute;
  visibility: visible;
  right: 0;
  left: 0;
  background-color: var(--color-card-background);

  .button--close {
    top: 2px !important;
    right: 2px !important;
  }

  span {
    color: var(--color-text);
  }
}

.swipeable-drawer__puller {
  width: 30px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  top: 8px;
  left: calc(50% - 15px);
}

.swipeable-drawer__header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-s) var(--spacing-xxs);
  font-size: var(--font-small);
}

.swipeable-drawer__title-menu {
  display: flex;
  align-items: center;

  svg {
    margin-left: var(--spacing-xxs);
  }
}

.swipeable-drawer__header-actions {
  display: flex;

  button {
    padding: 0.3rem;
  }

  button:not(:last-child) {
    margin-right: var(--spacing-xxs);
  }
}

.swipeable-drawer__expand-button {
  width: 100%;
  margin: var(--spacing-xxs) 0;
  border-radius: 0 !important;
}

.swipeable-drawer__expand {
  border-top: 1px solid var(--color-border);
  position: fixed;
  background-color: var(--color-card-background);
  visibility: visible;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
