.table__wrapper {
  overflow-x: auto;
}

.table__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);

  .section__subtitle {
    margin-bottom: 0;
  }
}

.table__header-text {
  width: 100%;
  margin: var(--spacing-m) var(--spacing-l);
}

.table__header-text--between {
  @extend .table__header-text;
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint-small) {
    flex-wrap: wrap;
  }
}

.table--help {
  td:nth-of-type(1) {
    min-width: 130px;
  }

  td:nth-of-type(2) {
    @include constrict(20vw);
  }
}

.table--transactions {
  td:nth-of-type(1) {
    width: 20%;
  }
  td:nth-of-type(2) {
    width: 15%;
  }
  td:nth-of-type(3) {
    // Only add ellipsis to the links in the table
    // We still want to show the entire message if a TX includes one
    a,
    button {
      @include constrict(22rem);
      vertical-align: bottom;
      display: inline-block;
    }
  }
  td:nth-of-type(4) {
    width: 15%;
  }
  td:nth-of-type(5) {
    width: 15%;
  }
}

.table--rewards {
  td:nth-of-type(1) {
    width: 40%;
  }

  td:nth-of-type(2) {
    width: 17.5%;
  }

  td:nth-of-type(3) {
    width: 17.5%;
  }

  td:nth-of-type(4) {
    width: 25%;
  }
}

.table--invites {
  svg {
    margin-bottom: -2px;
    margin-left: var(--spacing-s);
  }
}

.table--details {
  font-size: var(--font-small);
}
.table--file-details {
  @extend .table--details;

  td:nth-of-type(1) {
    width: 25%;
  }

  td:nth-of-type(2) {
    width: 75%;
    text-align: right;
  }
}

.table--lbc-details {
  @extend .table--details;

  td:nth-of-type(2) {
    text-align: right;
  }
}

.table__item--actionable {
  vertical-align: middle;
  white-space: nowrap;

  .button {
    height: 1.5rem;
    padding: var(--spacing-s);
    margin-left: var(--spacing-m);
  }
}
