.MuiAutocomplete-inputRoot {
  @media (min-width: $breakpoint-small) {
    padding: 0 !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    font-size: inherit !important;
    color: var(--color-text) !important;

    .create__comment {
      min-height: calc(var(--height-input) * 1.5) !important;
    }
  }
}

.comment-create__auth {
  .MuiAutocomplete-root {
    @media (min-width: $breakpoint-small) {
      margin-top: var(--spacing-xxs);
    }

    @media (min-width: $breakpoint-small) {
      margin-bottom: var(--spacing-m);
    }
  }
}

.livestream__comment-create {
  .comment-create__auth {
    .MuiAutocomplete-root {
      margin-top: 0px;
    }
  }
}

.comment-create--drawer {
  .MuiPaper-root {
    .form-field__two-column,
    .MuiOutlinedInput-root {
      padding: 0px var(--spacing-xxs) !important;
    }
  }
}

.livestream__comment-create {
  .MuiOutlinedInput-root {
    padding: 0px var(--spacing-xxs) !important;
  }
}

@media (min-width: $breakpoint-small) {
  .MuiOutlinedInput-notchedOutline {
    display: none;
  }
}

.comment-create--drawer .MuiOutlinedInput-notchedOutline {
  border: 1px solid var(--color-border) !important;
  border-radius: 0 !important;
}

.card__main-actions .commentCreate .MuiOutlinedInput-notchedOutline {
  border: 1px solid var(--color-border) !important;
  border-radius: var(--border-radius) !important;
}

@media (max-width: $breakpoint-small) {
  .MuiOutlinedInput-input {
    padding: 0px var(--spacing-xxs);
  }

  .MuiOutlinedInput-root {
    font-size: var(--font-xsmall) !important;
    flex-wrap: nowrap !important;
    color: var(--color-text) !important;
    padding: 0px !important;

    textarea {
      border: none;
      margin: 9px 0px;
    }

    button {
      padding: var(--spacing-xxs);
    }

    .button--primary {
      border-radius: 100%;
      height: unset;
      padding: var(--spacing-xxs);

      .button__content {
        height: unset;
      }
    }

    span {
      color: var(--color-text) !important;
    }
  }
}

.MuiAutocomplete-paper {
  @extend .card;
  background-color: var(--color-card-background);
  box-shadow: var(--card-box-shadow);
  color: var(--color-text) !important;

  .textarea-suggestions__group {
    &:last-child hr {
      display: none;
    }

    .textarea-suggestions__group-label {
      @extend .wunderbar__label;
    }

    .Mui-focused {
      background-color: var(--color-menu-background--active);
    }
  }

  > .icon {
    top: 0;
    left: var(--spacing-m);
    height: 100%;
    z-index: 1;
    stroke: var(--color-input-placeholder);
  }

  @media (min-width: $breakpoint-small) {
    padding: 0;
  }
}

.MuiAutocomplete-option {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-xxs);
  margin: 0 var(--spacing-xxs);
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: var(--border-radius);

  .channel-thumbnail {
    @include handleChannelGif(2.1rem);
    margin-right: 0;

    @media (min-width: $breakpoint-small) {
      @include handleChannelGif(2.1rem);
    }
  }

  .textarea-suggestion__label {
    @extend .wunderbar__suggestion-label;
    margin-left: var(--spacing-m);
    display: block;
    position: relative;

    .textarea-suggestion__title {
      @extend .wunderbar__suggestion-title;
    }

    .textarea-suggestion__value {
      @extend .wunderbar__suggestion-name;
    }
  }
}

.textarea-suggestions__separator {
  @extend .wunderbar__top-separator;
}

.MuiAutocomplete-loading {
  color: var(--color-text) !important;
}

.MuiPaper-root {
  .form-field__two-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
