.txo__radios {
  display: flex;
  flex-direction: row;
}

.txo__export {
  display: none;

  @media (min-width: $breakpoint-small) {
    display: block;
  }
}

.table__header-text {
  width: 124px;
  display: inline-block;
}
