.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.w-full {
  width: 100%;
}
.opacity-40 {
  opacity: 0.4;
}

.h-12 {
  height: 3rem;
}

.mt-s {
  margin-top: var(--spacing-s);
}

.mt-m {
  margin-top: var(--spacing-m);
}

.mb-m {
  margin-bottom: var(--spacing-m);
}

.mb-xl {
  margin-bottom: var(--spacing-xl);
}

.ml-m {
  margin-left: var(--spacing-m);
}

.mr-m {
  margin-right: var(--spacing-m);
}

.mb-0 {
  margin-bottom: 0;
}

@media (min-width: $breakpoint-small) {
  .md\:items-center {
    align-items: center;
  }
  .md\:flex-col {
    flex-direction: column;
  }
  .md\:ml-m {
    margin-left: var(--spacing-m);
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:w-auto {
    width: auto;
  }
  .md\:mt-0 {
    margin-top: 0;
  }
  .md\:h-12 {
    height: 3rem;
  }
}
