@import '../init/breakpoints';

.contains_view_count {
  // accommodating for large view counts on channel overview
  @media (min-width: $breakpoint-large) {
    padding: var(--spacing-s) 4px;

    .date_time {
      font-size: var(--font-xsmall);
    }
  }

  .channel-thumbnail {
    // accommodating for large view counts on channel overview
    @media (min-width: $breakpoint-large) {
      margin-right: 7px;
    }
  }
}

.view_count {
  &::after {
    content: '•';
    margin: 0 4px;
  }

  @media (min-width: $breakpoint-large) {
    &::after {
      margin: 0 2.5px;
    }

    font-size: var(--font-xsmall);
  }
}
