.add-card-prompt {
  margin-top: -21px;
  margin-bottom: -21px;
}

.wallet-send-tip-modal {
  .card__title {
    margin-top: -16px;
    margin-bottom: 16px;
  }

  .section__subtitle {
    margin-top: 16px;
    margin-bottom: -5px;
  }

  .add-a-card-help-message {
    font-size: 16px;
  }

  .confirm__wrapper {
    padding-bottom: var(--spacing-s);

    .confirm__value {
      width: 100%;
    }
    .claim-preview__wrapper--channel {
      width: 100% !important;
    }
  }
}
