.add-card-prompt {
  margin-top: -21px;
  margin-bottom: -21px;
}

.wallet-send-tip-modal {
  .card__title {
    margin-top: -16px;
    margin-bottom: 16px;
  }

  .section__subtitle {
    margin-top: 16px;
    margin-bottom: -5px;
  }

  .add-a-card-help-message {
    font-size: 16px;
  }

  .confirm__wrapper {
    padding: 0;
    padding-bottom: var(--spacing-s);

    .confirm__label {
      font-weight: var(--font-weight-bold);
    }

    .confirm__value {
      font-size: var(--font-base) !important;
      opacity: 0.8;
    }
  }
}
