@import '../init/breakpoints';

.claimPreviewReset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-subtitle);
  font-size: var(--font-small);
  flex-direction: column;
  background-color: var(--color-header-background);
  border-radius: var(--border-radius);
  padding: var(--spacing-xxs);
  padding-left: var(--spacing-s);
  margin-top: var(--spacing-s);

  .icon {
    margin-right: var(--spacing-xxxs);
    margin-bottom: -3px;
  }
  @media (min-width: $breakpoint-xsmall) {
    flex-direction: row;
  }
  @media (max-width: $breakpoint-small) {
    margin-bottom: calc(var(--spacing-xxs) * -1);
  }
}

.claimPreviewReset__hint {
  display: inline-block;
  color: var(--color-text);
  @media (min-width: $breakpoint-xsmall) {
    margin-right: var(--spacing-m);
  }
  @media (max-width: $breakpoint-small) {
    margin-bottom: var(--spacing-s);
  }
}

.claimPreviewReset__button {
  width: 100%;
  .button__content {
    justify-content: center;
  }
  @media (min-width: $breakpoint-xsmall) {
    margin-top: 0;
    width: auto;
    .button__content {
      justify-content: start;
    }
  }
}

.file-page__media-actions {
  .claimPreviewReset {
    margin-bottom: var(--spacing-s);
    @media (max-width: $breakpoint-small) {
      margin-top: 0;
    }
  }
}
