.livestream-scheduled {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: var(--spacing-m);
  left: var(--spacing-m);
  padding: var(--spacing-m);
  border-radius: var(--border-radius);
}
.livestream-scheduled__time {
  padding-left: var(--spacing-m);
  line-height: 1;
}

.livestream-scheduled__date {
  font-size: var(--font-xsmall);
}
