Pmenu// Extends reach-ui menu button base stylesheet
/* Used to detect in JavaScript if apps have loaded styles or not. */
:root {
  --reach-menu-button: 1;
}

[data-reach-menu] {
  font-family: sans-serif;
  display: block;
  position: absolute;
  z-index: 2;
  font-size: var(--font-body);
}

[data-reach-menu-list] {
  display: block;
  white-space: nowrap;
  outline: none;
  background-color: var(--color-menu-background);
  border-top: none;
}

[data-reach-menu-item] {
  display: block;
  z-index: 2;

  &:focus {
    box-shadow: none;
  }
}

[data-reach-menu-item] {
  cursor: pointer;
  display: block;
  color: inherit;
  font: inherit;
  text-decoration: initial;

  .icon {
    stroke: var(--color-menu-icon);
  }
}

[data-reach-menu-item][data-selected] {
  background-color: var(--color-menu-background--active);
  box-shadow: none;

  .icon {
    stroke: var(--color-menu-icon-active);
  }
}

.menu__list {
  margin-left: calc(var(--spacing-medium) * -1);
  box-shadow: var(--card-box-shadow);
  animation: menu-animate-in var(--animation-duration) var(--animation-style);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.menu__list--header {
  @extend .menu__list;
  margin-top: 19px;
}

.menu__link {
  display: flex;
  align-items: center;
  padding: var(--spacing-medium);
  padding-right: var(--spacing-large);

  .icon {
    stroke: var(--color-menu-icon);
    margin-right: var(--spacing-small);
  }

  .badge {
    margin-left: var(--spacing-small);
    margin-bottom: 5px;
  }
}

.menu__link-help {
  @extend .menu__link;
  color: var(--color-text-help);
  font-size: var(--font-small);
  padding-top: 0;
}
