.notificationsBlocked {
  display: flex;
  align-items: center;
  background-color: rgba(var(--color-primary-dynamic), 0.06);
  padding: var(--spacing-m);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-primary);
}

.notificationsBlocked__icon {
  flex-shrink: 0;
  margin-right: var(--spacing-m);
}

.notificationsBlocked__subText {
  display: inline-block;
  color: var(--color-text-subtitle);
  font-size: var(--font-small);
}

.notificationsBlocked__subTextList {
  li {
    margin-left: var(--spacing-m);
  }
}
