.section {
  position: relative;

  ~ .section {
    margin-top: var(--spacing-large);
  }
}

.section--padded {
  padding: var(--spacing-medium);
}

.section--small {
  max-width: 40rem;
}

.section__header {
  margin-bottom: var(--spacing-large);
}

.section__flex {
  display: flex;
  align-items: flex-start;
  > .icon__wrapper:first-child {
    margin-right: var(--spacing-large);
  }
}

.section__title {
  text-align: left;
  font-size: var(--font-title);
  font-weight: var(--font-weight-light);
}

.section__title--small {
  @extend .section__title;
  font-size: var(--font-body);
  margin-top: var(--spacing-medium);
}

.section__title--large {
  @extend .section__title;
  margin-right: var(--spacing-medium);
  display: inline-block;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-heading);

  @media (max-width: $breakpoint-small) {
    font-size: var(--font-title);
  }
}

.section__subtitle {
  color: var(--color-text-subtitle);
  margin: var(--spacing-small) 0;
  font-size: var(--font-body);
}

.section__subtitle--status {
  @extend .section__subtitle;
  padding: var(--spacing-small);
  background-color: var(--color-text-warning);
}

.section__divider {
  display: flex;
  flex-direction: column;

  hr {
    margin: var(--spacing-large) 0;
  }

  p {
    color: var(--color-subtitle);
    text-align: center;
    font-size: var(--font-large);
    font-weight: var(--font-weight-base);
    background-color: var(--color-background);
    transform: translateY(-150%);
    padding: 0 var(--spacing-large);
    display: inline-block;
    margin: auto;
  }
}

.section__body {
  margin-top: var(--spacing-medium);
}

.section__actions {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-large);

  ~ .section {
    margin-top: var(--spacing-large);
  }

  &:only-child,
  &:first-child {
    margin-top: 0;
  }

  > *:not(:last-child) {
    margin-right: var(--spacing-medium);
  }

  @media (max-width: $breakpoint-small) {
    flex-wrap: wrap;

    > * {
      margin-bottom: var(--spacing-small);
    }
  }

  .button--primary,
  .button ~ .button--link {
    @media (min-width: $breakpoint-small) {
      &:focus {
        @include focus;
      }
    }
  }

  .button--primary ~ .button--link {
    margin-left: var(--spacing-small);
    padding: var(--spacing-xsmall);
  }
}

.section__actions--centered {
  @extend .section__actions;
  justify-content: center;

  @media (max-width: $breakpoint-small) {
    justify-content: flex-start;
  }
}

.section__actions--no-margin {
  margin-top: 0;
}

.section__start-at {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-large);
  fieldset-section {
    width: 6em;
    margin-top: 0;
  }
  .checkbox {
    margin-right: 10px;
  }
}
