.tabs {
  position: relative;
}

.tabs__list {
  display: flex;
  align-items: center;
  background-color: var(--color-tabs-background);
  padding: var(--spacing-m) var(--spacing-main-padding);
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  & > *:not(.tab) {
    // If there is anything after the tabs, render it on the opposite side of the page
    margin-left: auto;
  }

  .tab {
    flex: inherit;
    white-space: nowrap;
    &:hover {
      color: var(--color-link);
    }
    @media (max-width: $breakpoint-small) {
      &[aria-selected='true'] {
        color: var(--color-primary);
        &::after {
          background: var(--color-primary);
          height: 4px !important;
          bottom: calc(var(--tab-indicator-size) * -2 + 13px);
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.tabs__list.isSticky {
  z-index: 4;
}

.channel__thumbnail--channel-page.isSticky {
  position: fixed;
  background-color: #b95e5e;
  margin-top: 100px;
}

.commentCreate {
  .tabs {
    overflow: hidden;
    border-radius: var(--border-radius);
    background-color: var(--color-header-background);
    height: 0;
    margin-top: 0;
    transition: height 0.3s, marginTop 0.3s;

    &.tabs--open {
      height: 250px;
      margin-top: var(--spacing-xs);
    }

    .tabs__list {
      background-color: unset;
      padding: 0;
      padding-left: 0 !important;
      margin: 10px;

      .tab {
        background-color: rgba(var(--color-header-button-base), 0.3);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        padding: var(--spacing-xxxs) var(--spacing-s) 0 var(--spacing-s);
        margin: 0;
        opacity: 0.8;

        &[data-selected] {
          background-color: var(--color-header-button);
          opacity: 1;
        }

        &::after {
          display: none;
        }
        &:hover {
          color: var(--color-text);
        }
      }
    }

    .selector-menu {
      border: unset;
      background-color: var(--color-header-button);
      border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
      padding-bottom: 20px;
      margin: 10px;
      margin-top: 0;
      .button--close {
        margin-right: 4px;
        margin-top: 4px;
        background-color: var(--color-header-button);
        &:hover {
          background-color: var(--color-primary);
        }
      }
      &::-webkit-scrollbar {
        background-color: rgba(var(--color-header-background-base), 0.4) !important;
      }
    }
  }
}

.tabs__list--comment-selector {
  @extend .tabs__list--channel-page;
  padding-left: var(--spacing-m) !important;
  border: 0 !important;
  border-radius: 0 !important;
  margin-bottom: 0px !important;
  height: unset !important;

  + .tab__divider {
    display: none;
  }

  @media (max-width: $breakpoint-small) {
    position: sticky;
    padding: 0px;
    height: 3rem !important;

    button {
      font-size: var(--font-xxsmall);
    }
  }
}

.tabs__list--channel-page {
  padding-left: calc(var(--channel-thumbnail-width) + var(--spacing-xl));
  padding-right: var(--spacing-m);
  margin-bottom: var(--spacing-l);
  height: 4rem;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-top: none;

  @media (max-width: $breakpoint-small) {
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
    .tab {
      margin-right: var(--spacing-m);
    }

    + .tab__divider {
      display: none;
    }

    [data-selected] {
      color: var(--color-primary);
    }
  }
}

.tabs__list--channel-page--absolute {
  position: fixed;
  top: var(--header-height);
  z-index: 10;
  width: var(--page-max-width);
}

.tabs__list--collection-edit-page {
  padding-right: var(--spacing-m);
  margin-bottom: var(--spacing-l);
  height: 4rem;
  border-radius: var(--border-radius);

  @media (max-width: $breakpoint-small) {
    padding-left: var(--spacing-m);
  }
}

.tab {
  @extend .button--link;
  margin-right: var(--spacing-l);
  padding: 5px 0;
  color: var(--color-tab-text);
  position: relative;
  font-size: var(--font-body);

  &::after {
    position: absolute;
    bottom: calc(var(--tab-indicator-size) * -2 + 1px);
    height: 0;
    width: 100%;
    content: '';

    @media (max-width: $breakpoint-small) {
      bottom: calc(var(--tab-indicator-size) * -2 - 1px);
    }
  }

  &:focus {
    box-shadow: none;
  }

  @media (max-width: $breakpoint-xsmall) {
    margin-right: var(--spacing-s);
  }
}

.tab__divider {
  position: absolute;
  margin-top: calc(var(--tab-indicator-size) * -1 - var(--spacing-l));
  @media (max-width: $breakpoint-small) {
    display: none !important;
  }
}

.tab::after,
.tab__divider {
  display: block;
  transition: all var(--animation-duration) var(--animation-style);
}

.tab:hover::after,
.tab__divider {
  height: var(--tab-indicator-size);
  background-color: var(--color-link);
}
