[theme='dark'] {
  // Color overrides
  --color-brand-blue: rgb(49, 135, 148);
  --color-brand: rgb(43, 187, 144);
  --color-brand-contrast: var(--color-white);
  --color-primary: rgb(43, 187, 144);
  --color-primary-static: rgb(43, 187, 144);
  --color-primary-alt: rgb(62, 103, 93);
  --color-primary-alt-2: rgb(6, 95, 70);
  --color-primary-alt-3: rgb(52, 229, 176);
  --color-secondary: #204166;
  --color-secondary-alt: #dbeafe;
  --color-secondary-alt-2: #bfdbfe;
  --color-secondary-alt-3: #2c5c8c;
  --color-primary-contrast: #ffffff;
  --color-secondary-contrast: #ffffff;

  // Structure
  --color-background: var(--color-gray-9);
  --color-background-overlay: #21252999;
  --color-border: #333338;
  --color-card-background: var(--color-gray-9);
  --color-card-background2: var(--color-header-background);
  --color-card-background-highlighted: var(--color-gray-8);

  // Text
  --color-text-base: 255, 255, 255;
  --color-text: var(--color-white);
  --color-text-subtitle: var(--color-gray-4);
  --color-text-empty: var(--color-text-subtitle);
  --color-text-help: var(--color-primary-contrast);
  --color-text-warning: #212529;
  --color-text-warning--background: var(--lbry-yellow-1);
  --color-text-error: #f87171;
  --color-error: #61373f;

  // Header
  --color-header-button-hover: var(--color-gray-6);
  --color-header-button-active: var(--color-gray-6);
  --color-header-button-base: 45, 45, 45;
  --color-header-button: rgba(var(--color-header-button-base), 0.7);
  --color-header-background-base: 17, 17, 17;
  --color-header-background: rgba(var(--color-header-background-base), 0.9);
  --color-header-background-transparent: rgba(7, 3, 3, 0.95);

  // Tags (words)
  --color-tag-words: var(--color-text);
  --color-tag-words-bg: var(--color-gray-5);
  --color-tag-words-hover: var(--color-white);
  --color-tag-words-bg-hover: var(--color-gray-4);

  // Buttons
  // pri
  --color-button-primary-text-hover: white;
  --color-button-primary-background: var(--color-background);
  --color-button-primary-background-hover: var(--color-primary);
  --color-button-primary-bg: var(--color-primary-alt);
  --color-button-primary-bg-hover: var(--color-primary-alt-2);
  --color-button-primary-text: var(--color-gray-2);
  --color-button-primary-hover-text: var(--color-primary-alt);
  // sec
  --color-button-secondary-border: var(--color-secondary);
  --color-button-secondary-bg: rgba(var(--color-header-background-base), 0.8);
  --color-button-secondary-text: rgba(var(--color-text-base), 0.9);
  --color-button-secondary-bg-hover: rgba(var(--color-header-background-base), 1);
  --color-button-secondary-text-hover: var(--color-text);

  // alt
  --color-button-alt-bg: var(--color-header-background);
  --color-button-alt-text: var(--color-text);
  --color-button-alt-bg-hover: rgba(var(--color-header-background-base), 0.5);
  --color-button-alt-text-hover: var(--color-text);

  // toggle
  --color-button-toggle-bg: rgba(var(--color-header-background-base), 0.4);
  --color-button-toggle-text: rgba(var(--color-text-base), 0.8);
  --color-button-toggle-bg-hover: rgba(var(--color-header-background-base), 0.7);
  --color-button-toggle-text-hover: var(--color-text);
  --color-button-toggle-bg-active: rgba(var(--color-header-background-base), 1);
  --color-button-toggle-text-active: var(--color-text);
  --color-toggle-custom: var(--color-secondary);

  // link
  --color-link: var(--color-primary);
  --color-button-border: #191919;
  --color-link-hover: var(--color-primary-alt-3);
  --color-link-active: var(--color-brand-blue);
  --color-link-focus-bg: #3d2d4e;

  // Input
  --color-input: var(--color-white);
  --color-input-bg-copyable: var(--color-gray-6);
  --color-input-border: var(--color-border);
  --color-input-border-active: var(--color-secondary);
  --color-input-toggle: var(--color-primary-alt-3);
  --color-input-toggle-bg: var(--color-input-bg);
  --color-input-prefix-border: var(--color-gray-4);
  --select-toggle-background: url("data:image/svg+xml,%3Csvg viewBox='0 0 96 96' xmlns='http://www.w3.org/2000/svg' fill='%23ffffff'%3E%3Cpath d='M17.172, 31.172c1.562, -1.562 4.095, -1.562 5.656, 0l25.172, 25.171l25.172, -25.171c1.562, -1.562 4.095, -1.562 5.656, 0c1.562, 1.562 1.562, 4.095 0, 5.656l-28, 28c-1.562, 1.562 -4.095, 1.562 -5.656, 0l-28, -28c-0.781, -0.781 -1.172, -1.805 -1.172, -2.828c0, -1.023 0.391, -2.047 1.172, -2.828Z'/%3E%3C/svg%3E%0A");
  --color-input-label: var(--color-text);
  --color-input-placeholder: #f4f4f5;
  --color-input-bg: var(--color-header-background);
  --color-input-bg-selected: var(--color-primary);
  --color-input-toggle-bg-hover: rgba(var(--color-primary-dynamic), 0.03);
  --color-input-prefix-bg: var(--color-primary);

  // Navigation
  --color-navigation-icon: var(--color-gray-4);
  --color-navigation-link: var(--color-gray-4);
  --color-navigation-hover-bg: var(--color-gray-7);
  --color-navigation-active: var(--color-primary);
  --color-navigation-active-text: var(--color-primary-contrast);
  --color-navigation-hover: rgba(var(--color-background-base), 0.6);
  --color-navigation-hover: red;
  --color-navigation-hover-text: var(--color-primary);

  // Tags
  --color-tag: var(--color-secondary-contrast);
  --color-tag-bg: var(--color-secondary);
  --color-tag-hover: var(--color-primary-contrast);
  --color-tag-bg-hover: var(--color-primary);

  // Menu
  --color-menu-background--active: var(--color-gray-7);
  --color-menu-background: var(--color-header-background);
  --color-menu-background-active: var(--color-primary);
  --color-menu-icon: #ffffff;
  --color-menu-icon-active: var(--color-button-toggle-text);

  // Comments
  --color-comment-highlighted: #484734;
  --color-comment-menu: #6a6a6a;
  --color-comment-menu-hovering: #e0e0e0;
  --color-comment-highlighted: rgba(var(--color-primary-dynamic), 0.1);
  --color-comment-threadline: var(--color-primary);
  --color-comment-threadline-hover: var(--color-primary);

  // Snack
  --color-snack-bg: var(--color-secondary);

  // Superchat
  --color-superchat-text: var(--color-black);
  --color-superchat-text__light: var(--color-text);
  --color-superchat: #fcd34d;
  --color-superchat__light: #ef4e1647;
  --color-superchat-2: #fde68a;
  --color-superchat-3: #fef3c7;
  --color-superchat-3__light: #58066087;
  --color-superchat-4: #fffbeb;

  // Other
  --color-focus: #93cff2;
  --color-nag: var(--color-orange);
  --color-tab-text: var(--color-white);
  --color-tabs-background: var(--color-header-background);
  --color-tab-divider: var(--color-primary);
  --color-modal-background: var(--color-card-background);
  --color-notice: #58563b;
  --color-purchased: #ffd580;
  --color-purchased-alt: var(--color-purchased);
  --color-purchased-text: var(--color-gray-5);
  --color-thumbnail-background: var(--color-gray-5);
  --color-tooltip-bg: #2f3337;
  --color-help-warning-bg: #d97706;
  --color-help-warning-text: white;
  --color-blockquote: var(--color-gray-5);
  --color-login-graphic-background: var(--color-background);
  --color-tooltip-text: var(--color-text);
  --color-placeholder-background: var(--color-header-background);
  --color-spinner-light: white;
  --color-spinner-dark: #212529;

  // Editor
  --color-editor-cursor: var(--color-text);
  --color-editor-quote: #d3d3d3;
  --color-editor-tag: #efbe5d;
  --color-editor-attr: #68ccf9;
  --color-editor-string: #ff8b6b;
  --color-editor-inline-code-fg: #ce9178;
  --color-editor-inline-code-fg-preview: #e8b692;
  --color-editor-inline-code-bg: rgba(20, 68, 102, 0.3);
  --color-editor-inline-code-bg-preview: #464b50;
  --color-editor-selected: #264f78;
  --color-editor-link: var(--color-link);
  --color-editor-url: var(--color-editor-string);
  --color-editor-hr: var(--color-editor-tag);
  --color-editor-hr-preview: #a0a0a0;

  // Ads
  --color-ads-background: #475057;
  --color-ads-text: #111;
  --color-ads-link: var(--color-primary-alt);

  // Scrollbar
  --color-scrollbar-thumb-bg: rgba(255, 255, 255, 0.2);
  --color-scrollbar-track-bg: transparent;

  --background-shade: linear-gradient(-180deg, rgba(25, 25, 25, 0.2) 2%, #202020),
    radial-gradient(circle at 50% 117%, rgba(25, 25, 25, 0.2) 0, #202020 100%);

  --mui-background: #000;
}
