/* #2c3237 - 5% */
/* #383f45 - 10% */
/* #434b53;  - 15% */
/* #4e5862;  - 20% */
/* #5a6570;  - 25% */

[theme='dark'] {
  --color-primary: #e50054;
  --color-primary-alt: #66001880;
  --color-fire: #ff6635;
  --color-fire-outside: #ff9b20;

  // Button
  --color-link: var(--color-primary);
  --color-link-hover: #d75673;
  --color-link-active: #ec1d4c;

  --color-navigation-icon: #76808a;
  --color-navigation-link: #b9c3ce;
  --color-navigation-active: #2b2037;
  --color-navigation-active-text: #c6bcd2;
  --color-navigation-hover: #21182a;
  --color-navigation-hover-text: #c6bcd2;

  --color-button-primary-text: white;
  --color-button-primary-hover-text: var(--color-primary-alt);
  --color-button-secondary-bg: #2c1543;
  --color-button-secondary-border: #4f1c82;
  --color-button-secondary-bg-hover: #3b1c5b;
  --color-button-secondary-text: #efefef;
  --color-button-alt-bg: #241a2d;
  --color-button-alt-bg-hover: #2b2037;

  --color-button-alt-text: #e2e9f0;
  --color-header-button: #2b2037;
  --color-button-border: #3d2d4e;
  --color-button-toggle-bg-hover: var(--color-primary-alt);
  --color-button-toggle-text: var(--color-text);
  --color-link-focus-bg: #3d2d4e;

  // Color
  --color-background: #0a070d;
  --color-background-overlay: #0c0d0e95;
  --color-border: #21182a;
  --color-card-background: #140e1b;
  --color-card-background-highlighted: #2b2037;
  --color-header-background: #140f1a;
  --color-tab-text: var(--color-white);
  --color-tabs-background: var(--color-card-background);
  --color-tab-divider: var(--color-white);
  --color-modal-background: var(--color-card-background);
  --color-comment-menu: #6a6a6a;
  --color-comment-menu-hovering: #e0e0e0;
  --color-notice: #58563b;
  --color-error: #61373f;
  --color-purchased: #ffd580;
  --color-purchased-alt: var(--color-purchased);
  --color-purchased-text: black;
  --color-comment-highlighted: #484734;
  --color-thumbnail-background: var(--color-gray-5);
  --color-comment-threadline: #24192f;
  --color-comment-threadline-hover: var(--color-gray-4);
  --color-tooltip-bg: #2f3337;
  --color-focus: #e91e6329;
  --color-placeholder-background: #0f0b14;

  // Text
  --color-text: #d8d8d8;
  --color-text-error: #f5748c;
  --color-help-warning-bg: #fbbf2450;
  --color-help-warning-text: white;
  --color-text-empty: var(--color-text-subtitle);

  --color-text-help: #bbbbbb;
  --color-text-subtitle: #9fafc0;
  --color-text-warning: #212529;
  --color-text-warning--background: var(--lbry-yellow-1);
  --color-blockquote: var(--color-gray-5);
  --color-blockquote-bg: var(--color-card-background-highlighted);

  // Input
  --color-input: #f4f4f5;
  --color-input-label: #a7a7a7;
  --color-input-placeholder: #f4f4f5;
  --color-input-bg: #2b2037;
  --color-input-bg-copyable: #4f5861;
  --color-input-border: var(--color-border);
  --color-input-border-active: var(--color-secondary);
  --color-input-toggle: var(--color-primary);
  --color-input-toggle-bg: var(--color-input-bg);
  --color-input-toggle-bg-hover: var(--color-secondary);
  --color-input-bg-selected: var(--color-primary-alt);
  --select-toggle-background: url("data:image/svg+xml,%3Csvg viewBox='0 0 96 96' xmlns='http://www.w3.org/2000/svg' fill='%23ffffff'%3E%3Cpath d='M17.172, 31.172c1.562, -1.562 4.095, -1.562 5.656, 0l25.172, 25.171l25.172, -25.171c1.562, -1.562 4.095, -1.562 5.656, 0c1.562, 1.562 1.562, 4.095 0, 5.656l-28, 28c-1.562, 1.562 -4.095, 1.562 -5.656, 0l-28, -28c-0.781, -0.781 -1.172, -1.805 -1.172, -2.828c0, -1.023 0.391, -2.047 1.172, -2.828Z'/%3E%3C/svg%3E%0A");

  // Menu
  --color-menu-background: var(--color-header-background);
  --color-menu-background--active: var(--color-primary-alt);
  --color-menu-icon: #928b9b;
  --color-menu-icon-active: #d6d6d6;

  // Table
  --color-table-highlight: #1a151e;

  // Search
  --color-search-suggestion: var(--color-text);
  --color-search-suggestion-background: var(--color-primary-alt);
  --color-spinner-light: white;
  --color-spinner-dark: #212529;
  --color-wunderbar: #89939e;

  // Tags
  --color-tag: #ff85b1;
  --color-tag-bg: var(--color-navigation-hover);
  --color-tag-hover: var(--color-white);
  --color-tag-bg-hover: var(--color-primary-alt-2);
  --color-tag-mature-bg: var(--color-primary-alt-2);

  // Editor
  --color-editor-cursor: var(--color-text);
  --color-editor-quote: #d3d3d3;
  --color-editor-tag: #efbe5d;
  --color-editor-attr: #68ccf9;
  --color-editor-string: #ff8b6b;
  --color-editor-inline-code-fg: #ce9178;
  --color-editor-inline-code-fg-preview: #e8b692;
  --color-editor-inline-code-bg: rgba(20, 68, 102, 0.3);
  --color-editor-inline-code-bg-preview: #464b50;
  --color-editor-selected: #264f78;
  --color-editor-link: var(--color-link);
  --color-editor-url: var(--color-editor-string);
  --color-editor-hr: var(--color-editor-tag);
  --color-editor-hr-preview: #a0a0a0;

  // Ads
  --color-ads-background: #475057;
  --color-ads-text: #111;
  --color-ads-link: var(--color-primary-alt);

  // Scrollbar
  --color-scrollbar-thumb-bg: rgba(255, 255, 255, 0.2);
  --color-scrollbar-track-bg: transparent;
}
