:root {
  // Color overrides
  --color-primary-static: 202, 0, 75;
  --color-primary-dynamic: 202, 0, 75;
  --color-primary: rgba(var(--color-primary-dynamic), 1);
  --color-primary-contrast-static: #ffffff;
  --color-primary-contrast: #ffffff;
  --color-primary-text-hover: #ffffff;
  --color-odysee: rgba(var(--color-primary-static), 1);
  --color-odysee-contrast: var(--color-primary-contrast-static);
  --color-secondary-static: 137, 0, 116;
  --color-secondary-dynamic: 239, 102, 152;
  --color-secondary: rgba(var(--color-secondary-dynamic), 1);
  --color-secondary-contrast-static: #ffffff;
  --color-secondary-contrast: #ffffff;
  //--color-fire: #d62912;
  --color-fire: #c91800;
  --color-fire-outside: #ff9b20;
  --color-slime: #7bc45e;

  --color-primary-alt-2: #f77937;
  --color-primary-alt-3: #fbcbdd;
  --color-secondary-alt: #fee8d2;
  --color-secondary-alt-2: #fefcf6;

  // Structure
  --color-border: rgba(0, 0, 0, 0.2);
  --color-background-base: 231, 231, 231;
  --color-background: rgba(var(--color-background-base), 1);
  --color-background-overlay: #21252980;
  --color-card-background: var(--color-header-background);
  --color-card-background-highlighted: #fff5f5;

  // Text
  --color-text-base: 0, 0, 0;
  --color-text: #000000;
  --color-text-selection-bg: var(--color-primary);
  --color-text-selection: white;
  --color-text-error: #da0004;
  --color-text-empty: #999999;
  --color-text-help: var(--color-primary-contrast);
  --color-text-subtitle: var(--color-blockquote);
  --color-text-warning: #212529;
  --color-blockquote: rgba(var(--color-text-base), 0.6);
  --color-blockquote-bg: var(--color-gray-1);
  --color-tooltip-bg: #222;
  --color-tooltip-text: var(--color-text);

  // Header
  --color-header-button-base: 220, 220, 220;
  --color-header-button: rgba(var(--color-header-button-base), 0.75);
  --color-header-background-base: 255, 255, 255;
  --color-header-background: rgba(var(--color-header-background-base), 0.92);
  --color-header-background-transparent: rgba(240, 240, 240, 0.95);

  // Button
  --color-button-primary-bg: var(--color-primary);
  --color-button-primary-bg-hover: var(--color-primary-alt-2);
  --color-button-primary-text: white;

  --color-button-secondary-bg: rgba(var(--color-header-background-base), 0.9);
  --color-button-secondary-border: var(--color-primary-alt-3);
  --color-button-secondary-text: black;
  --color-button-secondary-bg-hover: rgba(var(--color-header-background-base), 0.4);
  --color-button-secondary-text-hover: var(--color-primary);

  --color-button-alt-bg: var(--color-header-background);
  --color-button-alt-text: var(--color-text);
  --color-button-alt-bg-hover: rgba(var(--color-header-background-base), 0.5);
  --color-button-alt-text-hover: var(--color-text);

  --color-button-toggle-bg: rgba(var(--color-header-background-base), 0.4);
  --color-button-toggle-text: rgba(var(--color-text-base), 0.8);
  --color-button-toggle-bg-hover: rgba(var(--color-header-background-base), 0.9);
  --color-button-toggle-text-hover: var(--color-text);
  --color-button-toggle-bg-active: rgba(var(--color-header-background-base), 1);
  --color-button-toggle-text-active: var(--color-text);

  --color-button-border: var(--color-gray-3);
  --color-link: var(--color-primary);
  --color-link-hover: var(--color-secondary);
  --color-link-active: var(--color-secondary);
  --color-link-focus-bg: #f1f1f1;

  // Input
  --color-input-bg-selected: var(--color-secondary);
  --color-input-color: #111111;
  --color-input-label: var(--color-text);
  --color-input-placeholder: #212529;
  --color-input-bg: var(--color-header-background);
  --color-input-bg-selected: var(--color-primary);
  --color-input-border: var(--color-border);
  --color-input-toggle: var(--color-secondary);
  --color-input-toggle-bg: var(--color-gray-1);
  --color-input-toggle-bg-hover: rgba(var(--color-primary-dynamic), 0.03);
  --color-input-prefix-bg: var(--color-primary);
  --color-input-prefix-border: var(--color-gray-5);
  --select-toggle-background: url("data:image/svg+xml,%3Csvg viewBox='0 0 96 96' xmlns='http://www.w3.org/2000/svg' fill='%23212529'%3E%3Cpath d='M17.172, 31.172c1.562, -1.562 4.095, -1.562 5.656, 0l25.172, 25.171l25.172, -25.171c1.562, -1.562 4.095, -1.562 5.656, 0c1.562, 1.562 1.562, 4.095 0, 5.656l-28, 28c-1.562, 1.562 -4.095, 1.562 -5.656, 0l-28, -28c-0.781, -0.781 -1.172, -1.805 -1.172, -2.828c0, -1.023 0.391, -2.047 1.172, -2.828Z'/%3E%3C/svg%3E%0A");

  // Navigation
  --color-navigation-icon: #333333;
  --color-navigation-link: #333333;
  --color-navigation-active: var(--color-primary);
  --color-navigation-active-text: var(--color-primary-contrast);
  --color-navigation-hover: rgba(var(--color-background-base), 0.6);
  --color-navigation-hover-text: var(--color-primary);

  // Tags
  --color-tag: var(--color-secondary-contrast);
  --color-tag-bg: var(--color-secondary);
  --color-tag-hover: var(--color-primary-contrast);
  --color-tag-bg-hover: var(--color-primary);

  // Menu
  --color-menu-background: var(--color-header-background);
  --color-menu-background-active: var(--color-primary);
  --color-menu-icon: #000000;
  --color-menu-icon-active: var(--color-button-toggle-text);

  // Comments
  --color-comment-menu: #e0e0e0;
  --color-comment-menu-hovering: #6a6a6a;
  --color-comment-highlighted: rgba(var(--color-primary-dynamic), 0.1);
  --color-comment-threadline: var(--color-primary);
  --color-comment-threadline-hover: var(--color-primary);

  // Superchat
  --color-superchat-text: var(--color-black);
  --color-superchat: #fcd34d;
  --color-superchat__light: #fcd34d50;
  --color-superchat-2: #fde68a;
  --color-superchat-3: #fef3c7;
  --color-superchat-3__light: #fef3c750;
  --color-superchat-4: #fffbeb;

  // Color
  --color-focus: #8dbff0;
  --color-nag: #fa8700;
  --color-error: #fcafca;
  --color-notice: #fef3ca;
  --color-purchased: var(--color-cost);
  --color-purchased-alt: #ffebc2;
  --color-purchased-text: black;
  --color-thumbnail-background: var(--color-gray-1);
  --color-spinner-light: #ffffff;
  --color-spinner-dark: #212529;
  --color-placeholder-background: #f0f0f0;
  --color-file-viewer-background: var(--color-card-background);
  --color-tabs-background: var(--color-header-background);
  --color-tab-divider: var(--color-primary);
  --color-modal-background: var(--color-card-background);
  --color-placeholder-background: var(--color-header-background);

  // Icons
  --color-follow-bg: var(--color-header-background);
  --color-follow-icon: #e2495e;
  --color-view-bg: var(--color-header-background);
  --color-view-icon: #33c435;

  // Editor
  --color-editor-cursor: var(--color-text);
  --color-editor-quote: #707070;
  --color-editor-tag: #ea9400;
  --color-editor-attr: #04b0f4;
  --color-editor-string: #ff7451;
  --color-editor-inline-code-fg: var(--color-text);
  --color-editor-inline-code-fg-preview: #2e3439;
  --color-editor-inline-code-bg: rgba(157, 161, 165, 0.3);
  --color-editor-inline-code-bg-preview: #d0e8ff;
  --color-editor-selected: #add6ff;
  --color-editor-link: var(--color-link);
  --color-editor-url: var(--color-editor-string);
  --color-editor-hr: var(--color-editor-tag);
  --color-editor-hr-preview: #cccccc;

  // Ads
  --color-ads-background: #fae5ff;
  --color-ads-link: var(--color-link);

  // Scrollbar
  --color-scrollbar-thumb-bg: rgba(0, 0, 0, 0.2);
  --color-scrollbar-track-bg: transparent;
  --color-body-scrollbar-track-bg: var(--color-header-button);

  --background-shade: linear-gradient(-180deg, rgba(var(--color-background-base), 0.6) 2%, #f1f1f1),
    radial-gradient(circle at 50% 217%, rgba(var(--color-background-base), 0.6) 0, #f8f8f8 100%);

  --mui-background: #fff;
  --mui-button: var(--color-header-button);
}
