@import "global";

html
{
  height: 100%;
  font-size: $font-size;
}
body
{
  font-family: 'Source Sans Pro', sans-serif;
  line-height: $font-line-height;
}

#window
{
  min-height: 100vh;
  background: $color-canvas;
}

.badge
{
  background: $color-money;
  display: inline-block;
  padding: 2px;
  color: white;
  border-radius: 2px;
}
.credit-amount--indicator
{
  font-weight: bold;
  color: $color-money;
}

#main-content
{
  padding: $spacing-vertical;
  margin-top: $height-header;
  main.constrained-page
  {
    max-width: $width-page-constrained;
    margin-left: auto;
    margin-right: auto;
  }
}