@charset "UTF-8";

$spacing-vertical: 24px;
$width-page-constrained: 800px;

@mixin absolute-center()
{

}

@mixin linear-gradient($from-color, $to-color) {
  background-color: $to-color; /* Fallback Color */
  background-image: -webkit-linear-gradient(top, $from-color, $to-color); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $from-color, $to-color); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $from-color, $to-color); /* IE10 */
  background-image:         linear-gradient(top, $from-color, $to-color);
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder {@content}
  &:-ms-input-placeholder {@content}
}

@mixin text-link($color: var(--color-primary), $hover-opacity: 0.70) {
  .icon
  {
    &:first-child {
      padding-right: 5px;
    }
    &:last-child:not(:only-child) {
      padding-left: 5px;
    }
  }

  &:not(.no-underline) {
    text-decoration: underline;
    .icon {
      text-decoration: none;
    }
  }
  &:hover
  {
    opacity: $hover-opacity;
    transition: opacity  var(--transition-duration) var(--transition-type);
    text-decoration: underline;
    .icon {
      text-decoration: none;
    }
  }

  color: $color;
  cursor: pointer;
}
