:root {

  --spacing-vertical: 24px;
  --padding-button: 12px;
  --padding-text-link: 4px;

  /* Colors */
  --color-primary: #155B4A;
  --color-primary-light: #155B4A;
  --color-light-alt: #155B4A;
  --color-text-dark: #000;
  --color-black-transparent: rgba(32,32,32,0.9);
  --color-help: rgba(0,0,0,.6);
  --color-notice: #8a6d3b;
  --color-error: #a94442;
  --color-load-screen-text: #c3c3c3;
  --color-canvas: #f5f5f5;
  --color-bg: #ffffff;
  --color-bg-alt: #D9D9D9;
  --color-money: #216C2A;
  --color-meta-light: #505050;
  --color-form-border: rgba(160,160,160,.5);

  /* Font */
  --font-size: 16px;
  --font-line-height: 1.3333;

  --mobile-width-threshold: 801px;
  --max-content-width: 1000px;
  --max-text-width: 660px;

  --width-page-constrained: 800px;
  --width-input-text: 330px;

  --height-button: --spacing-vertical * 1.5;
  --height-header: --spacing-vertical * 2.5;
  --height-video-embedded: --width-page-constrained * 9 / 16;

  --box-shadow-layer: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  --box-shadow-focus: 2px 4px 4px 0 rgba(0,0,0,.14),2px 5px 3px -2px rgba(0,0,0,.2),2px 3px 7px 0 rgba(0,0,0,.12);

  --transition-standard: .225s ease;

  --blur-intensity-nsfw: 20px;

}
