@import '~ui/scss/init/breakpoints';

$OPTIONS_MIN_WIDTH: 250px;

.clh__wrapper {
  // These changes should be done in the main file, but no time to test
  // the collection's claim list header (which shares the same selector),
  // hence the wrapper.

  .claim-search__menus {
    padding: 0;
  }
}

.clh-tag-search {
  display: flex;
  margin-left: var(--spacing-s);

  .button-toggle {
    border-radius: var(--border-radius);
  }

  .button-toggle--active {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border-right: 1px solid var(--color-input-border);
  }

  input::placeholder {
    font-size: var(--font-small);
  }

  .clh-tag-search__clear {
    background: unset;
    &:hover {
      background: unset;
    }
  }

  .clh-tag-search__clear--hidden {
    display: none;
  }
}

.clh-tag-search__input {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.clh-tag-search__input--hidden {
  display: none;
}

.claim-search__menus.duration {
  // Customizations to make "Duration" the same length as "Additional Filters"
  // for the typical case. Localization could still extend the width.

  .claim-search__input-container {
    @media (min-width: $breakpoint-small) {
      min-width: $OPTIONS_MIN_WIDTH;
    }

    padding-right: 0;
  }

  .claim-search__input-container:nth-child(2) {
    // In Mobile, this padding would also automatically serve as an indent.
    padding-left: var(--spacing-s);
  }

  .claim-search__dropdown {
    padding-right: 0;
  }
}
