@import '../../scss/init/breakpoints';

$emote-item-size--small: 2.5rem;
$emote-item-size--big: 3rem;
$sticker-item-size: 5rem;

// -- EMOJIS --
.selector-menu {
  overflow-y: scroll;
  overflow-x: hidden;

  @media (min-width: $breakpoint-small) {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    max-height: 25vh;
    padding: var(--spacing-xs);
  }

  @media (max-width: $breakpoint-small) {
    max-height: 30vh;
    padding-top: var(--spacing-s);

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
}

// -- STICKERS --
.sticker-categories {
  position: absolute;
  top: 44px;
  left: 2px;
  background: var(--color-header-background);
  border-radius: var(--border-radius);
  padding: var(--spacing-xs);

  img {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    margin-bottom: var(--spacing-xs);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.emote-categories {
  position: absolute;
  top: 49px;
  left: 2px;
  background: var(--color-header-background);
  border-radius: var(--border-radius);
  padding: var(--spacing-xs);

  img,
  svg {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    margin-bottom: var(--spacing-xs);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  // tmp fix
  svg {
    margin-bottom: var(--spacing-xs) !important;
  }
}

.chatImage-category-title {
  font-size: var(--font-small);
  padding-left: var(--spacing-xxs);
  width: 100%;
  font-weight: var(--font-weight-bold);

  @media (min-width: $breakpoint-small) {
    padding-top: var(--spacing-xs);
  }

  @media (max-width: $breakpoint-small) {
    font-size: var(--font-xsmall);
  }
}

.emote-selector__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, $emote-item-size--small);
  justify-items: center;
  justify-content: space-evenly;

  button {
    margin: 0px !important;
    padding: var(--spacing-xxxs) !important;
    height: unset;

    &:hover {
      background-color: var(--color-header-background);
    }

    &:first-child {
      margin-right: 0px;
    }

    @media (max-width: $breakpoint-small) {
      &:focus,
      &:hover {
        background-color: transparent !important;
      }
    }

    @media (min-width: $breakpoint-small) {
      padding: var(--spacing-xxxs);
    }
  }

  /*
  @media (min-width: $breakpoint-small) {
    grid-template-columns: repeat(auto-fit, $emote-item-size--big);
  }
  */
}

.sticker-selector__items {
  @extend .emote-selector__items;
  grid-template-columns: repeat(auto-fit, $sticker-item-size);

  .button--file-action {
    overflow: hidden;
    margin: unset;
    padding: var(--spacing-xs);
    height: unset;

    .sticker-item--priced {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin-bottom: var(--spacing-s);
      }
    }

    img {
      margin: 0px;
    }
  }
}
