.banner {
  display: flex;
  overflow: hidden;
  background-color: $lbry-black;
  color: $lbry-white;
}

.banner--first-run {
  height: 310px;
  padding-right: var(--spacing-vertical-medium);

  // Adjust this class inside other `.banner--xxx` styles for control over animation
  .banner__item--static-for-animation {
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.banner__item {
  &:not(:first-child) {
    margin-left: var(--spacing-vertical-large);
  }
}

.banner__content {
  display: flex;
  align-items: center;
  height: 100%;
}
