.card {
  background-color: $lbry-white;
  margin-bottom: var(--spacing-large);
  position: relative;
  border-radius: var(--card-radius);
  box-shadow: var(--card-box-shadow) $lbry-gray-1;
  overflow: hidden;
  font-size: 1.25rem;

  html[data-mode='dark'] & {
    background-color: lighten($lbry-black, 5%);
    box-shadow: var(--card-box-shadow) darken($lbry-gray-1, 80%);
  }
}

.card--disabled {
  opacity: 0.3;
  pointer-events: none;
}

.card--link {
  cursor: pointer;
}

.card--section {
  position: relative;
  padding: var(--spacing-large);
}

.card--space-between {
  @include between;
}

.card--wallet-balance {
  background-repeat: no-repeat;
  background-size: cover;
  color: $lbry-white;
  justify-content: space-between;
}

.card--reward-total {
  background-repeat: no-repeat;
  background-size: cover;
  // justify-content: space-between;
  color: $lbry-white;
}

.card--modal {
  box-shadow: none;
}

//  C A R D
//  A C T I O N S

.card__actions {
  display: flex;
  align-items: center;
  font-size: 1.15rem;

  > *:not(:last-child) {
    margin-right: var(--spacing-medium);
  }
}

.card__actions--between {
  @include between;
}

.card__actions--bottom-corner {
  right: 2rem;
  bottom: 2rem;
  position: absolute;
}

.card__actions--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__actions--top-corner {
  top: 0;
  right: 0;
  position: absolute;
}

.card__actions--top-space {
  padding-top: var(--spacing-small);
}

.card__actions--table {
  padding: var(--spacing-medium);
}

//  C A R D
//  C O N T E N T

.card__content {
  &:not(:last-of-type) {
    margin-bottom: var(--spacing-medium);
  }

  p:not(:last-child) {
    margin-bottom: var(--spacing-medium);
  }
}

.card__content--large {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

//  C A R D
//  H E A D E R

.card__header {
  position: relative;

  &:not(.card__header--flat) {
    margin-bottom: var(--spacing-medium);
  }
}

//  C A R D
//  L I S T

.card__list {
  column-count: 2;
  column-gap: var(--spacing-medium);
  display: block;

  .card {
    display: inline-block;
    margin: 0 0 var(--spacing-medium);
  }
}

//  C A R D
//  M E S S A G E

.card__message {
  border-left: 0.5rem solid;
  padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-medium) var(--spacing-large);

  &:not(&--error):not(&--failure):not(&--success) {
    background-color: rgba($lbry-teal-1, 0.1);
    border-color: $lbry-teal-3;
  }
}

.card__message--error {
  background-color: rgba($lbry-orange-1, 0.1);
  border-color: $lbry-orange-3;
}

.card__message--failure {
  background-color: rgba($lbry-red-1, 0.1);
  border-color: $lbry-red-3;
}

.card__message--success {
  background-color: rgba($lbry-green-1, 0.1);
  border-color: $lbry-green-3;
}

//  C A R D
//  S U B T I T L E

.card__subtitle {
  @extend .help;
  color: darken($lbry-gray-5, 25%);
  background-color: lighten($lbry-gray-1, 5%);
  font-size: 1.15rem;
  margin-bottom: var(--spacing-small);
  flex: 1;

  p {
    margin-bottom: var(--spacing-small);
  }

  .badge {
    bottom: -0.12rem;
    position: relative;
    margin-left: 0;
  }

  [data-mode='dark'] & {
    background-color: darken($lbry-gray-5, 20%);
  }
}

//  C A R D
//  T I T L E

.card__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: var(--spacing-medium);

  + .card__content {
    margin-top: var(--spacing-medium);
  }
}

.card__title--flex {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: var(--spacing-medium);
  }
}

.card__title--flex-between {
  display: flex;
  @include between;
  align-items: center;
}
