$cover-z-index: 0;
$metadata-z-index: 1;

.channel-cover {
  background-image: linear-gradient(to right, $lbry-indigo-4, $lbry-cyan-5 80%);
  display: flex;
  align-items: flex-end;
  box-sizing: content-box;
  color: $lbry-white;
  border-top-left-radius: var(--card-radius);
  border-top-right-radius: var(--card-radius);
}

.channel-cover__custom {
  z-index: $cover-z-index;
  align-self: flex-start;
  position: absolute;
  object-fit: cover;
  filter: brightness(30%);
}

.channel-cover,
.channel-cover__custom {
  height: var(--cover-photo-height);
  width: 100%;
}

.channel-thumbnail {
  display: flex;
  height: 5rem;
  width: 5rem;
  background-size: cover;
  margin-right: var(--spacing-medium);
}

.channel__thumbnail--channel-page {
  position: absolute;
  height: var(--channel-thumbnail-width);
  width: var(--channel-thumbnail-width);
  box-shadow: 0px 8px 40px -3px $lbry-black;
  left: var(--spacing-medium);
}

.channel-thumbnail__custom {
  width: 100%;
  object-fit: cover;
}

.channel-thumbnail__default {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-end;
}

.channel-thumbnail,
.channel-thumbnail__custom {
  border-radius: var(--card-radius);
}

.channel-thumbnail__default--0 {
  background-color: $lbry-indigo-3;
}
.channel-thumbnail__default--1 {
  background-color: $lbry-orange-2;
}
.channel-thumbnail__default--2 {
  background-color: $lbry-blue-3;
}
.channel-thumbnail__default--3 {
  background-color: $lbry-red-1;
}

.channel__primary-info {
  // Ensure the profile pic/title sit ontop of the default cover background
  z-index: $metadata-z-index;
  // Jump over the thumbnail photo because it is absolutely positioned
  // Then add normal page spacing, _then_ add the actual padding
  padding-left: calc(var(--channel-thumbnail-width) + var(--spacing-large));
  padding-right: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
  min-width: 0;
  width: 100%;
}

.channel__title {
  margin-right: var(--spacing-small);
  overflow: hidden;
  text-overflow: ellipsis;
  // line-height: var(--font-heading);
  font-size: xx-large;
  font-weight: 800;

  // Quick hack to get this to work
  // We should have a generic style for "header with button next to it"
  .button {
    margin-left: var(--spacing-medium);
  }
}

.channel__meta {
  display: flex;
  justify-content: space-between;
}

.channel__image--blurred {
  filter: blur(16px);
}

.channel__quick-actions {
  @extend .card__actions;
  position: absolute;
  top: 0;
  right: var(--spacing-medium);
  z-index: $metadata-z-index;
}
