$border-color: rgba($lbry-teal-5, 0.1);
$border-color--dark: var(--dm-color-04);

.claim-list__header {
  display: flex;
  align-items: center;
  min-height: 4.5rem;
  padding: var(--spacing-medium);
  font-size: var(--font-body);
  border-top-left-radius: var(--card-radius);
  border-top-right-radius: var(--card-radius);
  color: $lbry-white;

  & > *:not(:last-child) {
    margin-right: 0.5rem;
  }

  fieldset-section {
    margin-top: 0;
    margin-bottom: 0;
  }

  // Normal link buttons are too dark on the black file list background
  .button--link {
    color: $lbry-teal-3;

    &:hover {
      color: $lbry-teal-1;
    }

    [data-mode='dark'] & {
      color: $lbry-teal-4;
      &:hover {
        color: $lbry-teal-1;
      }
    }
  }

  // Fix this in @lbry/components, we shouldn't need to be this specific
  checkbox-element input[type='checkbox']:checked + label {
    color: $lbry-white;
  }

  [data-mode='dark'] & {
    color: var(--dm-color-01);
  }
}

.claim-list__header--small {
  height: 3rem;
  min-height: 3rem;
}

.claim-list__dropdown {
  margin-bottom: 0;
  padding: 0 var(--spacing-medium);
  padding-right: var(--spacing-large);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 96 96' xmlns='http://www.w3.org/2000/svg' fill='%23ffffff'%3E%3Cpath d='M17.172, 31.172c1.562, -1.562 4.095, -1.562 5.656, 0l25.172, 25.171l25.172, -25.171c1.562, -1.562 4.095, -1.562 5.656, 0c1.562, 1.562 1.562, 4.095 0, 5.656l-28, 28c-1.562, 1.562 -4.095, 1.562 -5.656, 0l-28, -28c-0.781, -0.781 -1.172, -1.805 -1.172, -2.828c0, -1.023 0.391, -2.047 1.172, -2.828Z'/%3E%3C/svg%3E%0A");
  border: 1px solid $lbry-white;
  color: $lbry-white;
  background-color: lighten($lbry-black, 10%);

  [data-mode='dark'] & {
    color: var(--dm-color-01);
  }
}

.claim-list__header,
.claim-list__dropdown {
  background-color: lighten($lbry-black, 10%);

  [data-mode='dark'] & {
    background-color: var(--dm-color-07);
  }
}

.claim-list__alt-controls {
  display: flex;
  align-items: center;
  margin-left: auto;

  & > * {
    margin-left: var(--spacing-small);
  }
}

.claim-preview {
  display: flex;
  position: relative;
  overflow: visible;
  padding: var(--spacing-medium);

  &:not(.claim-preview--inline) {
    @include mediaThumbHoverZoom;
    cursor: pointer;
  }

  .media__thumb {
    width: var(--file-list-thumbnail-width);
    flex-shrink: 0;
    margin-right: var(--spacing-medium);
  }
}

.claim-preview--injected {
  padding: var(--spacing-medium);
  position: relative;
}

.claim-preview--injected,
.claim-preview {
  border-bottom: 1px solid $border-color;

  &:only-of-type {
    border: none;
  }

  [data-mode='dark'] & {
    color: $lbry-white;
    border-color: $border-color--dark;
  }
}

.claim-preview--injected + .claim-preview {
  border-top: 1px solid $border-color;

  [data-mode='dark'] & {
    border-color: $border-color--dark;
  }
}

.claim-preview--large {
  border: none;
  padding: 0;
  margin: var(--spacing-medium);
  font-size: var(--font-multiplier-large);

  &:hover {
    background-color: transparent;
  }

  .media__thumb {
    width: 14rem;
  }

  .channel-thumbnail {
    width: 7.5rem;
    height: 7.5rem;
  }

  [data-mode='dark'] & {
    border: none;
  }
}

.claim-preview--small {
  font-size: var(--font-multiplier-small);
  padding: var(--spacing-small);

  .media__thumb {
    width: 8rem;
  }

  .channel-thumbnail {
    width: 4rem;
    height: 4rem;
  }
}

.claim-preview--visited {
  // Still keep the normal styles on hover regardless of if they have visited the claim
  &:not(:hover) {
    color: lighten($lbry-black, 35%);

    [data-mode='dark'] & {
      color: darken($lbry-white, 35%);
    }
  }
}

.claim-preview--pending {
  cursor: pointer;
  opacity: 0.6;

  &:hover {
    background-color: $lbry-white;

    [data-mode='dark'] & {
      background-color: lighten($lbry-black, 5%);
    }
  }
}

.claim-preview--inline {
  padding: 0;
  padding-top: var(--spacing-large);
  border-bottom: none;

  .channel-thumbnail {
    width: var(--channel-thumbnail-width--small);
    height: var(--channel-thumbnail-width--small);
  }
}

.claim-preview--tooltip {
  [data-mode='dark'] & {
    background-color: $lbry-black;
  }
}

.claim-preview-title {
  font-weight: 600;
  margin-right: auto;
  padding-right: var(--spacing-medium);
  font-size: larger;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.claim-preview-metadata {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.claim-preview-info {
  align-items: flex-start;
}

.claim-preview-info,
.claim-preview-properties {
  display: flex;
  justify-content: space-between;
}

.claim-preview-actions {
  display: flex;
  justify-content: space-evenly;
}
.claim-preview__button {
  margin-left: 2rem;
}

.claim-preview-properties {
  align-items: flex-end;
  flex: 1;
  font-size: var(--font-subtext);
}
