.comments {
  margin-top: var(--spacing-large);
}

.comment {
  padding: var(--spacing-medium) 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--lbry-gray-1);

    [data-mode='dark'] & {
      border-color: rgba($lbry-gray-5, 0.2);
    }
  }
  display: flex;
  flex-direction: column;
  padding: 0;
}

// .comment__actions-wrap {
//   align-items: center;
//   display: flex;
//   justify-content: space-between;
//   width: 4.5rem;
// }

// .comment__action {
//   @include hide-text;
//   width: 0;
//   height: 0;
//   transition: border-color 0.2s;

//   &.downvote {
//     border-top: 2rem solid var(--lbry-orange-3);
//     border-right: 1rem solid transparent;
//     border-left: 1rem solid transparent;

//     &:hover {
//       border-top-color: var(--lbry-yellow-3);
//     }
//   }

//   &.upvote {
//     border-right: 1rem solid transparent;
//     border-bottom: 2rem solid var(--lbry-teal-4);
//     border-left: 1rem solid transparent;

//     &:hover {
//       border-bottom-color: var(--lbry-green-2);
//     }
//   }
// }

.comment__meta {
  time {
    opacity: 0.3;
  }
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.comment__message {
  white-space: pre-line;
  margin-bottom: 1rem;
}

.comment__author {
  margin-bottom: 1rem;
  text-overflow: ellipsis; // This is where the magic happens
  flex-basis: 400px;
  flex-shrink: 1;
  font-weight: 600;
}

.comment__time {
  flex-basis: 200px;
  text-align: right;
}
