.content__viewer {
  @extend .card;
  position: absolute;
  top: var(--spacing-large);
}

.content__viewer--floating {
  position: fixed;
  margin-bottom: 0;
  height: calc(var(--floating-viewer-height) + var(--floating-viewer-info-height));
  overflow: hidden;
  left: calc(var(--spacing-large) + var(--spacing-small));
  z-index: 9999;

  &:hover {
    .content__actions {
      visibility: visible;
    }
  }
}

.content__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.content__wrapper--floating {
  height: var(--floating-viewer-height);
  width: var(--floating-viewer-width);
}

.content__actions {
  visibility: hidden;
  position: absolute;
  right: var(--spacing-small);
  top: var(--spacing-small);
  z-index: 1;
  display: flex;

  .button {
    position: relative;
    margin-left: var(--spacing-small);
  }
}

.content__info {
  cursor: grab;
  height: var(--floating-viewer-info-height);
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
}

.content__cover {
  @include thumbnail;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;

  &:not(.card__media--nsfw) {
    background-color: #000; // solid black to blend nicely when the video starts (if it doesn't take the full width)
  }

  &:hover {
    cursor: pointer;

    .button--view,
    .button--play {
      background-color: $lbry-teal-2;
    }
  }

  &:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }
}

.content__loading {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--spacing-large);
  background-color: #000;
}

.content__loading-text {
  color: $lbry-white;
}
