.credit-amount {
  font-size: 0.8rem;
  white-space: nowrap;
}

.credit-amount--inherit {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
}

.credit-amount--large {
  font-size: 36px;
  font-weight: 600;
}
