.file-properties {
  display: flex;
  position: relative;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: var(--spacing-small);
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.file-properties--large {
  flex-wrap: wrap;
  font-size: 18px;
  margin: var(--spacing-small) 0;

  & > * {
    margin-top: var(--spacing-small);
  }
}
