.file-properties {
  display: flex;
  position: relative;
  align-items: center;
  font-size: var(--font-label);

  .icon {
    stroke: rgba($lbry-black, 0.5);

    [data-mode='dark'] & {
      stroke: rgba($lbry-white, 0.7);
    }
  }

  & > *:not(:last-child) {
    margin-right: var(--spacing-small);
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.file-properties--large {
  flex-wrap: wrap;
  margin-bottom: var(--spacing-large);

  & > * {
    margin-top: var(--spacing-small);
  }
}
