.file-list__header {
  display: flex;
  align-items: center;
  height: 4.5rem;
  padding: var(--spacing-medium);
  font-size: 1rem; // Ensures select & header text have same font-size
  color: $lbry-white;
  border-top-left-radius: var(--card-radius);
  border-top-right-radius: var(--card-radius);

  & > *:not(:last-child) {
    margin-right: 0.5rem;
  }

  fieldset-section {
    margin-bottom: 0;
  }

  // Normal link buttons are too dark on the black file list background
  .button--link {
    color: $lbry-teal-3;

    &:hover {
      color: $lbry-teal-1;
    }
  }
}

.file-list__header--small {
  height: 3rem;
  font-size: 1em;
}

.file-list__dropdown {
  background-position: 95% center;
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 96 96' xmlns='http://www.w3.org/2000/svg' fill='%23ffffff'%3E%3Cpath d='M17.172, 31.172c1.562, -1.562 4.095, -1.562 5.656, 0l25.172, 25.171l25.172, -25.171c1.562, -1.562 4.095, -1.562 5.656, 0c1.562, 1.562 1.562, 4.095 0, 5.656l-28, 28c-1.562, 1.562 -4.095, 1.562 -5.656, 0l-28, -28c-0.781, -0.781 -1.172, -1.805 -1.172, -2.828c0, -1.023 0.391, -2.047 1.172, -2.828Z'/%3E%3C/svg%3E%0A");
  height: 2.5rem;
  padding: 0 var(--spacing-medium);
  padding-right: var(--spacing-large);
  margin-bottom: 0;
  border: 1px solid $lbry-white;
  color: $lbry-white;
  background-color: lighten($lbry-black, 10%);
}

.file-list__header,
.file-list__dropdown {
  background-color: lighten($lbry-black, 10%);

  [data-mode='dark'] & {
    background-color: darken($lbry-black, 10%);
  }
}

.file-list__header-text {
  display: flex;
  align-items: center;
}

.file-list__header-text,
.file-list__dropdown {
  font-size: 1.3rem;
}

.file-list__alt-controls {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 1.4em;

  & > * {
    margin-left: var(--spacing-small);
  }
}

.file-list__item {
  display: flex;
  position: relative;
  font-size: 1.3rem;
  padding: var(--spacing-medium);
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: darken($lbry-white, 5%);

    [data-mode='dark'] & {
      background-color: lighten($lbry-black, 10%);
    }
  }

  .media__thumb {
    width: var(--file-list-thumbnail-width);
    flex-shrink: 0;
    margin-right: var(--spacing-medium);
  }
}

.file-list__item--injected,
.file-list__item {
  border-bottom: 1px solid rgba($lbry-teal-5, 0.1);
}

.file-list__item--large {
  @include mediaThumbHoverZoom;
  font-size: 1.6rem;
  border-bottom: 0;
  padding: 0;
  padding-bottom: var(--spacing-medium);

  &:hover {
    background-color: transparent;
  }

  .media__thumb {
    width: 20rem;
  }
}

.file-list__item-metadata {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.file-list__item-info {
  align-items: flex-start;
}

.file-list__item-info,
.file-list__item-properties {
  display: flex;
  justify-content: space-between;
}

.file-list__item-properties {
  align-items: flex-end;
}

.file-list__item-title {
  font-weight: 600;
  margin-right: auto;
}

.file-list__item-tags {
  margin-left: 0;
}

.file-list__meta {
  padding: var(--spacing-medium);
  background-color: lighten($lbry-teal-5, 55%);
}
