.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  z-index: 2; // Main content uses z-index: 1, this ensures it always scrolls under the header
  background-color: $lbry-white;
  border-bottom: 1px solid $lbry-gray-1;

  html[data-mode='dark'] & {
    background-color: rgba($lbry-black, 0.9);
    background-color: mix($lbry-black, $lbry-gray-3, 90%);
    color: $lbry-white;
    border-bottom: none;
  }
}

.header__navigation {
  display: flex;

  // First navigation item is the top left wrapper
  // This contains the Lbry logo (home link) and forward/back arrows on desktop
  &:first-of-type {
    @media (min-width: 601px) {
      width: calc(var(--side-nav-width) - 1px);
    }
  }
}

.header__navigation-arrows {
  display: flex;

  .button__content {
    justify-content: center;
  }
}

.header__navigation-item {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;

  svg {
    stroke: $lbry-black;
  }

  &:hover {
    background-color: $lbry-gray-1;
  }

  &.header__navigation-item--active {
    &::after {
      height: 0.2em;
      bottom: 0;
      width: 100%;
      background-color: $lbry-teal-3;
      content: '';
      position: absolute;
    }
  }

  html[data-mode='dark'] & {
    &:hover {
      background-color: $lbry-gray-5;
    }

    svg {
      stroke: $lbry-white;
    }
  }
}

.header__navigation-item--back,
.header__navigation-item--forward,
.header__navigation-item--menu {
  width: var(--header-height);
}

.header__navigation-item--lbry {
  flex: 1;
  font-weight: 800;
  font-size: 1.2rem;

  .lbry-icon {
    height: 2rem;
    width: 2rem;
  }
}

.header__navigation-item--right-action {
  .button__content {
    padding: 0 var(--spacing-vertical-large);
  }
}

.header__navigation-item--right-action:not(:last-child),
.header__navigation-item--lbry {
  border-right: 1px solid $lbry-gray-1;

  html[data-mode='dark'] & {
    border-right: 1px solid $lbry-gray-5;
  }
}

.header__navigation-item--upgrade {
  background-color: $lbry-teal-5;
  color: $lbry-white;
  svg {
    stroke: $lbry-white;
  }

  &:hover {
    background-color: $lbry-teal-4;
  }
}

.header__navigation-item--menu {
  // Add this back once we have an actual menu for mobile
  // @media (min-width: 601px) {
  display: none;
  // }
}

// Hide links that will live in the menu bar
@media (max-width: 600px) {
  .header__navigation-item--back,
  .header__navigation-item--forward,
  .header__navigation-item--right-action {
    display: none;
  }

  .header__navigation-item--lbry {
    padding: var(--spacing-vertical-medium);
  }
}
