.icon__wrapper {
  background-color: var(--color-card-actions);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: calc(3.5rem / 2);
  position: relative;

  .icon {
    position: absolute;
    stroke: $lbry-gray-5;
  }

  [data-mode='dark'] & {
    background-color: var(--color-card-actions--dark);
  }
}

.icon--help {
  margin-left: var(--spacing-small);
  bottom: -0.3rem;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
}
