.item-list {
  background-color: $lbry-white;
  margin-bottom: var(--spacing-large);
  padding: var(--spacing-large);

  [data-mode='dark'] & {
    background-color: rgba($lbry-white, 0.1);
  }

  .card__actions {
    margin-top: var(--spacing-medium);
    margin-left: var(--spacing-small);
  }
}

.item-list__row {
  align-items: center;
  display: flex;
  padding: var(--spacing-small);

  fieldset-section {
    margin-bottom: 0;
  }
}

.item-list__element {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:not(:first-of-type) {
    padding-left: var(--spacing-small);
  }
}

.item-list__row:hover,
.item-list__row--selected {
  background-color: rgba($lbry-black, 0.1);

  [data-mode='dark'] & {
    background-color: rgba($lbry-black, 0.5);
  }
}
