.load-screen {
  width: 100vw;
  height: 100vh;

  align-items: center;
  background-color: #270f34;
  display: flex;
  justify-content: center;
  overflow: hidden;

  css-doodle {
    --color: @p(var(--lbry-teal-1), var(--lbry-orange-1), var(--lbry-cyan-3), var(--lbry-pink-5));
    --rule: (
      :doodle {
        @grid: 30x1 / 18vmin;
        --deg: @p(-180deg, 180deg);
      }
      :container {
        perspective: 30vmin;
      }
      :after, :before {
        // content: '';
        // background: var(--color); 
        // @place-cell: @r(100%) @r(100%);
        // @size: @r(6px);
        // @shape: heart;
      }
    
      @place-cell: center;
      @size: 100%;
    
      box-shadow: @m2(0 0 50px var(--color));
      background: @m100(
        radial-gradient(var(--color) 50%, transparent 0) 
        @r(-20%, 120%) @r(-20%, 100%) / 1px 1px
        no-repeat
      );
    
      will-change: transform, opacity;
      animation: scale-up 12s linear infinite;
      animation-delay: calc(-12s / @size() * @i());

      @keyframes scale-up {
        0%, 95.01%, 100% {
          transform: translateZ(0) rotate(0);
          opacity: 0;
        }
        10% { 
          opacity: 1; 
        }
        95% {
          transform: 
            translateZ(35vmin) rotateZ(@var(--deg));
        }
      }
    )
  }
}

// .load-screen__actions {
//   font-size: 1.2em;
//   margin-top: var(--spacing-vertical-medium);
// }

// .load-screen__button {
//   border-bottom: 1px solid $lbry-white;
//   color: $lbry-white;
//   transition: none;

//   &:hover {
//     border-bottom: 1px solid $lbry-blue-1;
//     color: $lbry-blue-1;
//   }
// }

// .load-screen__details {
//   font-weight: 600;
//   line-height: 1;
//   max-width: 400px;
// }

.load-screen__header {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-vertical-medium);
}

.load-screen__overlay {
  // @include center;

  color: $lbry-white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 1;
}

.load-screen__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  color: $lbry-white;
  position: absolute;
  
  // sup {
  //   margin-left: -var(--spacing-vertical-tiny);
  //   padding: var(--spacing-vertical-miniscule) var(--spacing-vertical-small);

  //   background-color: rgba($lbry-white, 0.3);
  //   border-radius: 0.2rem;
  //   color: $lbry-white;
  //   font-size: 0.6rem;
  //   font-weight: 400;
  //   letter-spacing: 0.1rem;
  //   line-height: 1;
  //   position: absolute;
  //   text-transform: uppercase;
  //   top: 1.5rem;
  // }
}



// .load-screen--help {
//   font-size: 14px;
//   padding-top: $spacing-vertical;
// }
