.load-screen {
  min-width: 100vw;
  min-height: 100vh;

  align-items: center;
  background-image: linear-gradient(to right, $lbry-teal-5, $lbry-cyan-5 100%);
  background-size: cover;
  color: $lbry-white;
  cursor: default;
  display: flex;
  justify-content: center;
  text-align: center;

  .spinner {
    margin-right: auto;
    margin-left: auto;
  }
}

.load-screen__button {
  color: $lbry-white;
  // border-bottom: 1px solid $lbry-white;

  &:hover {
    // border-bottom: 1px solid $lbry-blue-1;
    color: $lbry-blue-1;
  }
}
.load-screen__button:not(:disabled) {
  &:not(:hover) {
    color: $lbry-white;
    // border-bottom: 1px solid $lbry-white;
  }

  &:hover {
    // border-bottom: 1px solid $lbry-blue-1;
    color: $lbry-blue-1;
  }
}

.load-screen__details {
  font-weight: 600;
  line-height: 1;
  max-width: 400px;
}

.load-screen__header {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-vertical-medium);
}

.load-screen__help {
  font-size: 1.25rem;
  padding-top: var(--spacing-vertical-large);
}

.load-screen__message {
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: var(--spacing-vertical-medium);
}

.load-screen__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  position: relative;

  sup {
    margin-left: -var(--spacing-vertical-tiny);
    padding: var(--spacing-vertical-miniscule) var(--spacing-vertical-small);

    background-color: rgba($lbry-white, 0.3);
    border-radius: 0.2rem;
    color: $lbry-white;
    font-size: 0.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 1;
    position: absolute;
    text-transform: uppercase;
    top: 2.15rem;
  }
}

.load-screen--help {
  font-size: 14px;
  padding-top: $spacing-vertical;
}

.load-screen__actions {
  font-size: 1.2em;
  margin-top: var(--spacing-vertical-medium);
}
