.main {
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &.main--contained {
    max-width: 1000px;
  }

  &:not(.main--no-padding) {
    padding: var(--spacing-vertical-large);
  }
}

.main--file-page {
  max-width: var(--file-page-max-width);
  display: grid;
  grid-gap: var(--spacing-vertical-large);
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'content content'
    'info    related';

  @media (min-width: 1470px) {
    grid-template-areas:
      'content related'
      'info    related';
  }

  .grid-area--content {
    grid-area: content;
  }
  .grid-area--info {
    grid-area: info;
  }
  .grid-area--related {
    grid-area: related;
  }
}
