.main-wrapper {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  padding-top: var(--header-height);
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
  background-color: mix($lbry-white, $lbry-gray-1, 70%);
  display: flex;

  [data-mode='dark'] & {
    background-color: $lbry-black;
  }
}

.main-wrapper-inner {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--spacing-large);
  position: relative;
}

.main {
  min-width: 0;
  width: calc(100% - var(--side-nav-width) - var(--spacing-main-padding));
  position: relative;

  @media (max-width: 600px) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.main--file-page {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  max-width: calc(100% - var(--side-nav-width) - var(--spacing-main-padding));

  grid-template-areas:
    'content content'
    'info related';

  .grid-area--content {
    width: 100%;
  }

  .grid-area--content {
    grid-area: content;
  }
  .grid-area--info {
    grid-area: info;
  }
  .grid-area--related {
    grid-area: related;
    min-width: 30rem;
    max-width: 35rem;
  }

  @media (max-width: 600px) {
    grid-template-areas:
      'content'
      'info'
      'related';

    .grid-area--related {
      grid-area: related;
      width: auto;
    }
  }
}

.main--empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.main__status {
  @extend .help;
  display: flex;
  justify-content: space-between;
  background-color: $lbry-teal-4;
  color: $lbry-white;

  svg {
    stroke: $lbry-white;
  }
}
