.markdown-preview {
  // Headers
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 600;
    margin-bottom: var(--spacing-vertical-medium);
    padding-top: var(--spacing-vertical-medium);
  }

  // Paragraphs
  p {
    font-size: 1.15rem;
    margin-bottom: var(--spacing-vertical-medium);
    // word-break: break-all;

    svg {
      width: 1rem;
      height: 1rem;

      margin-left: 0.2rem;
      position: relative;
      top: 1px;
    }
  }

  // Strikethrough text
  del {
  }

  // Tables
  table {
    margin-bottom: 1.2rem;
    padding: var(--spacing-vertical-medium);

    tr {
      td,
      th,
      td:first-of-type,
      th:first-of-type,
      td:last-of-type,
      th:last-of-type {
        padding: var(--spacing-vertical-medium);
      }
    }
  }

  // Image
  img {
    margin-bottom: var(--spacing-vertical-medium);
    padding-top: var(--spacing-vertical-medium);
  }

  // Horizontal Rule
  hr {
    width: 100%;
    height: 1px;

    background-color: $lbry-gray-1;
    margin-bottom: 2rem;
    position: relative;
    top: 1rem;

    html[data-mode='dark'] & {
      background-color: rgba($lbry-gray-5, 0.2);
    }
  }

  // Code
  pre {
    white-space: normal;
  }

  code {
    margin-bottom: var(--spacing-vertical-medium);
    padding: var(--spacing-vertical-medium);

    background-color: $lbry-gray-1;
    color: $lbry-gray-5;
    display: block;
    font-family: Consolas, 'Lucida Console', 'Source Sans', monospace;
  }

  a {
    color: $lbry-blue-1;
    display: inline-block;
  }

  // Lists
  ul,
  ol {
    margin-bottom: var(--spacing-vertical-medium);

    > li {
      list-style-position: outside;
    }
  }

  ul {
    list-style: initial;
  }

  li {
    margin-left: var(--spacing-vertical-large);

    p {
      display: inline-block;
    }
  }

  button {
    white-space: normal;
    text-align: left;
  }

  .preview-link {
    margin: var(--spacing-vertical-medium) 0;
    padding: 1.2rem 0.8rem;
    background-color: rgba($lbry-teal-5, 0.1);
    border-left: 0.5rem solid $lbry-teal-5;
    display: block;
    align-items: center;
    width: 40rem;
  }

  .preview-link--description {
    display: block;
    margin: var(--spacing-vertical-medium) 0;
  }
}
