.modal-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  align-items: center;
  background-color: rgba($lbry-black, 0.7);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 9999;

  [data-mode='dark'] & {
    background-color: rgba($lbry-black, 0.7);
  }
}

.modal {
  background-color: $lbry-white;
  line-height: 1.55;
  max-width: var(--modal-width);
  overflow: auto;
  padding: var(--spacing-large);
  word-break: break-word;

  @media (min-width: 501px) {
    min-width: 500px;
  }
}

.error-modal__content {
  display: flex;
  padding: 0 var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);
}

.error-modal {
  max-width: none;
  width: var(--modal-width);
  white-space: pre-wrap;
}

.error-modal__error-list {
  max-width: var(--modal-width);
  max-height: 400px;
  margin-top: var(--spacing-small);
  padding: var(--spacing-small);

  background-color: $lbry-red-1;
  border-left: 2px solid $lbry-red-5;
  color: $lbry-red-5;
  list-style: none;
  overflow-y: scroll;
  white-space: pre-wrap;
}
