.navigation {
  width: var(--side-nav-width);
  font-size: var(--font-body);
  // padding-top: 100px;

  @media (max-width: 600px) {
    display: none;
  }
}

.navigation-links {
  @extend .ul--no-style;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.navigation-links--small {
  @extend .navigation-links;
  font-size: var(--font-multiplier-small);
}

.navigation-link__wrapper {
  margin: var(--spacing-miniscule) 0;
}

.navigation-link {
  display: block;
  position: relative;
  text-align: left;
  transition: color 0.2s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: lighten($lbry-black, 20%);
  margin-top: var(--spacing-small);

  .icon {
    stroke: $lbry-gray-5;
  }

  &:hover {
    color: $lbry-teal-4;
    .icon {
      color: $lbry-teal-4;
    }
  }

  &.navigation-link--active {
    color: $lbry-teal-5;
    .icon {
      color: $lbry-teal-4;
    }
  }

  [data-mode='dark'] & {
    color: var(--dm-color-01);

    svg {
      stroke: var(--dm-color-01);
    }

    &:hover,
    &.navigation-link--active {
      color: $lbry-teal-4;

      .icon {
        stroke: $lbry-teal-4;
      }
    }
  }
}
