.navigation-wrapper {
  width: var(--side-nav-width);
  left: calc(100% - var(--side-nav-width));
  height: 100%;
  position: absolute;
}

.navigation {
  width: var(--side-nav-width);
  padding-bottom: var(--spacing-main-padding);
  font-size: 1.4rem;

  @media (max-width: 600px) {
    display: none;
  }
}

.navigation__links {
  position: relative;
}

.navigation__links--small {
  @extend .navigation__links;
  font-size: 1.2rem;
  margin-top: var(--spacing-small);
}

.navigation__link {
  display: block;
  position: relative;
  text-align: left;
  transition: color 0.2s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: lighten($lbry-black, 20%);
  margin-top: var(--spacing-miniscule);

  .icon {
    margin-right: var(--spacing-small);
  }

  &:hover {
    color: $lbry-teal-4;
    .icon {
      color: $lbry-teal-4;
    }
  }

  &.navigation__link--active {
    color: $lbry-teal-5;
    .icon {
      color: $lbry-teal-4;
    }
  }

  [data-mode='dark'] & {
    color: var(--dm-color-01);

    svg {
      color: var(--dm-color-01);
    }

    &:hover,
    &.navigation__link--active {
      color: $lbry-teal-4;

      .icon {
        color: $lbry-teal-4;
      }
    }
  }
}

.navigation__link--title {
  margin-top: var(--spacing-large);
  color: $lbry-gray-5;
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.navigation__link-items {
  font-size: 1.15rem;
  padding-left: var(--spacing-large);
}

.navigation__link-item {
  position: relative;

  &::before {
    width: 0.25rem;
    height: 0.25rem;
    top: 44%;
    left: -1rem;

    border-radius: 50%;
    content: '';
    position: absolute;
    transition: background-color 0.2s;
  }

  &:not(.navigation__link-item--active) {
    color: $lbry-gray-5;

    &::before {
      background-color: transparent;
    }
  }

  &:hover,
  .navigation__link-item--active {
    &::before {
      background-color: $lbry-black;

      [data-mode='dark'] & {
        color: $lbry-gray-1;
      }
    }
  }
}

.navigation__link--indented {
  padding-left: 2rem;
}
