.pagination {
  display: flex;
  align-items: center;

  + .form-field {
    margin-left: var(--spacing-medium);
  }
}

.pagination__item {
  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  text-align: center;

  &:not(.pagination__item--selected):hover {
    color: $lbry-black;
  }

  &:not(.pagination__item--selected):not(.pagination__item--break):not(.disabled):hover {
    background-color: $lbry-gray-1;
  }

  &:not(.pagination__item--previous):not(.pagination__item--next) {
    font-weight: 600;
    line-height: 3rem;
    margin: 0 0.5em;
  }

  &:not(.pagination__item--break):not(.disabled) {
    cursor: pointer;
  }

  > a {
    display: block;
  }
}

.pagination__item--break {
  opacity: 0.3;
}

.pagination__item--previous,
.pagination__item--next {
  font-size: 2.5rem;
  line-height: 1;
  position: relative;
}

.pagination__item--selected {
  background-color: $lbry-teal-5;
  color: $lbry-white;
}
