.search__header {
  margin-bottom: var(--spacing-large);

  .placeholder {
    background-color: rgba($lbry-white, 0.1);
  }
}

.search__options {
  margin-top: var(--spacing-large);

  legend {
    &.search__legend--1 {
      background-color: $lbry-teal-4;
    }

    &.search__legend--2 {
      background-color: $lbry-cyan-4;
    }

    &.search__legend--3 {
      background-color: $lbry-pink-4;
    }
  }

  fieldset:not(:first-child) {
    margin-top: var(--spacing-large);
  }

  label {
    color: $lbry-white;
  }
}
