.snack-bar {
  bottom: 2rem;
  left: 2rem;

  background-color: $lbry-teal-4;
  border-radius: 0.5rem;
  color: $lbry-white;
  padding: var(--spacing-vertical-small) var(--spacing-vertical-large) var(--spacing-vertical-small)
    var(--spacing-vertical-medium);
  position: fixed;
  transition: all var(--transition-duration) var(--transition-type);
  z-index: 10000; // hack to get it over react modal
}

.snack-bar--error {
  background-color: $lbry-red-5;
}

.snack-bar__action {
  display: inline-block;
  margin: var(--spacing-vertical-small) 0;
  min-width: min-content;
  text-transform: uppercase;

  span:hover {
    text-decoration: underline;
  }
}

.snack-bar__message {
  align-items: center;
  display: flex;
  flex-direction: row;

  div {
    &:nth-of-type(1) {
      font-size: 1.5rem;
      margin-right: var(--spacing-vertical-medium);
    }

    &:nth-of-type(2) {
      font-size: 1.25rem;
    }
  }
}
