.splash {
  width: 100vw;
  height: 100vh;

  align-items: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.splash__button {
  border-bottom: 1px solid $lbry-white;
  color: $lbry-white;
  transition: none;

  &:hover {
    border-bottom: 1px solid $lbry-blue-1;
    color: $lbry-blue-1;
  }
}

.splash__details {
  position: absolute;
  line-height: 1;
  font-weight: 300;
  color: $lbry-white;
  margin-top: 2rem;
}

.splash__title {
  position: absolute;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  color: $lbry-white;
  margin-top: -1rem;
}

.splash__animation-toggle {
  position: fixed;
  bottom: var(--spacing-large);
  right: var(--spacing-large);
  padding: var(--spacing-medium);
  border-color: $lbry-white;
  color: $lbry-white;
  background-color: rgba($lbry-white, 0.2);
  font-size: var(--font-label);

  &:hover {
    color: $lbry-white;
    background-color: rgba($lbry-white, 0.5);
    .icon {
      stroke: $lbry-white;
    }
  }
}

.splash__error {
  position: absolute;
  margin-top: 20rem;
  box-shadow: var(--card-box-shadow) $lbry-gray-5;
}

.doodle {
  position: fixed;
}
