.splash {
  width: 100vw;
  height: 100vh;

  align-items: center;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

// .splash__actions {
//   margin-top: var(--spacing-medium);
//   align-items: center;
// }

.splash__button {
  border-bottom: 1px solid $lbry-white;
  color: $lbry-white;
  transition: none;

  &:hover {
    border-bottom: 1px solid $lbry-blue-1;
    color: $lbry-blue-1;
  }
}

.splash__details {
  font-weight: 600;
  line-height: 1;
  max-width: 400px;
}

.splash__title {
  position: absolute;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  color: $lbry-white;
}

.splash__error {
  position: absolute;
  margin-top: 25rem;
  box-shadow: var(--card-box-shadow) $lbry-gray-5;
}
