@import '~@lbry/components/sass/table/_index.scss';

table,
.table {
  margin: var(--spacing-small) 0;

  [data-mode='dark'] & {
    background-color: transparent;

    th {
      border-bottom: 2px solid $lbry-white;
    }
  }

  th,
  td {
    padding-left: var(--spacing-large);
  }
}

td {
  overflow: hidden;
}

.table__header {
  margin: var(--spacing-large);
  margin-bottom: 0;
}

.table__item--actionable {
  span {
    vertical-align: top;
  }
}

.table__item-label {
  font-size: var(--font-multiplier-small);
  font-weight: 300;
}

.table--help {
  td:nth-of-type(1) {
    min-width: 130px;
  }

  td:nth-of-type(2) {
    @include constrict(20vw);
  }
}

.table--transactions {
  table-layout: fixed;

  td:nth-of-type(3) {
    // Only add ellipsis to the links in the table
    // We still want to show the entire message if a TX includes one
    a,
    button {
      @include constrict(10rem);
      vertical-align: bottom;
      display: inline-block;
    }
  }
}

.table--rewards {
  td:nth-of-type(1) {
    width: 40%;
  }

  td:nth-of-type(2) {
    width: 17.5%;
  }

  td:nth-of-type(3) {
    width: 17.5%;
  }

  td:nth-of-type(4) {
    width: 25%;
  }
}

.table--invites {
  svg {
    margin-bottom: -2px;
    margin-left: var(--spacing-small);
  }
}
