@import '~@lbry/components/sass/table/_index.scss';

table,
.table {
  [data-mode='dark'] & {
    background-color: transparent;

    th {
      border-bottom: 2px solid $lbry-white;
    }
  }
}

.table__item--actionable {
  .button svg {
    top: 3px;
  }
}

.table--help {
  td:nth-of-type(1) {
    font-weight: 600;
    min-width: 130px;
  }

  td:nth-of-type(2) {
    @include constrict(20vw);
  }
}

.table--transactions {
  table-layout: fixed;

  td:nth-of-type(1) {
    // TX amounts
    font-size: 0.9em;
    font-weight: 600;
  }

  td:nth-of-type(3) {
    // Only add ellipsis to the links in the table
    // We still want to show the entire message if a TX includes one
    @include constrict(10rem);
    vertical-align: bottom;
    display: inline-block;
  }
}

.table--rewards {
  td:nth-of-type(1) {
    width: 40%;
  }

  td:nth-of-type(2) {
    width: 17.5%;
  }

  td:nth-of-type(3) {
    width: 17.5%;
  }

  td:nth-of-type(4) {
    width: 25%;
  }
}

.table--invites {
  svg {
    margin-bottom: -2px;
    margin-left: var(--spacing-small);
  }
}
