.wunderbar {
  min-width: 175px;
  height: 100%;

  cursor: text;
  display: flex;
  flex: 1;
  position: relative;
  z-index: 1;

  html[data-mode='dark'] & {
    border-color: $lbry-gray-5;
  }

  > .icon {
    top: 0;
    left: var(--spacing-vertical-small);

    height: 100%;
    position: absolute;
    z-index: 1;

    html[data-mode='dark'] & {
      color: $lbry-gray-5;
    }
  }
}

.wunderbar__active-suggestion {
  background-color: $lbry-blue-2;
  color: $lbry-black;

  html[data-mode='dark'] & {
    background-color: $lbry-blue-4;
    color: inherit;
  }
}

.wunderbar__input {
  width: 100%;
  height: 100%;

  align-items: center;
  border-right: 1px solid $lbry-gray-1;
  border-left: 1px solid $lbry-gray-1;
  border-bottom: none;
  border-top: none;
  display: flex;
  justify-content: center;
  padding-left: var(--spacing-vertical-large);
  transition: background-color 0.2s;

  html[data-mode='dark'] & {
    border-right: 1px solid;
    border-left: 1px solid;
    color: $lbry-white;

    &:not(:focus) {
      border-color: $lbry-gray-5;
    }

    &:focus {
      background-color: $lbry-gray-1;
      border-color: $lbry-gray-1;
      color: $lbry-black;
    }
  }
}

.wunderbar__menu {
  background-color: $lbry-white;
  box-shadow: 0 1px 5px rgba($lbry-black, 0.15);
  min-width: 100%;
  overflow: hidden;

  html[data-mode='dark'] & {
    background-color: $lbry-gray-5;
    color: $lbry-white;
  }
}

.wunderbar__suggestion {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  padding: var(--spacing-vertical-small) var(--spacing-vertical-medium);

  &:not(:first-of-type) {
    border-top: 1px solid transparent;
  }

  .icon {
    flex-shrink: 0;
  }
}

.wunderbar__suggestion-label {
  overflow: hidden;
  padding-left: var(--spacing-vertical-large);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wunderbar__suggestion-label--action {
  font-size: 1rem;
  font-weight: 600;
  line-height: 0.1; // to vertically align because the font size is smaller
  margin-left: var(--spacing-vertical-small);
  opacity: 0.7;
  text-transform: uppercase;
  white-space: nowrap;
}
