.wunderbar {
  min-width: 175px;
  height: 100%;
  cursor: text;
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
  z-index: 1;
  margin-right: var(--spacing-main-padding);
  font-size: var(--font-label);

  @media (max-width: 600px) {
    margin-right: 0;
  }

  > .icon {
    top: 0;
    left: var(--spacing-small);
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}

.wunderbar__active-suggestion {
  background-color: lighten($lbry-blue-1, 15%);
  color: $lbry-black;

  [data-mode='dark'] & {
    background-color: $lbry-blue-4;
    color: inherit;
  }
}

.wunderbar__input {
  width: 100%;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--input-height);
  border-radius: var(--input-height);
  background-color: $lbry-gray-1;
  border: none;
  padding-right: var(--spacing-small);

  padding-left: 2.5rem;
  transition: all 0.2s;

  &:focus {
    border-radius: var(--input-border-radius);
  }

  &::placeholder {
    color: $lbry-black;
    opacity: 0.9;
  }

  [data-mode='dark'] & {
    background-color: var(--dm-color-03);
    color: $lbry-white;

    &::placeholder {
      color: var(--dm-color-01);
    }
  }
}

.wunderbar__menu {
  background-color: $lbry-white;
  box-shadow: 0 1px 5px rgba($lbry-black, 0.15);
  min-width: 100%;
  overflow: hidden;

  [data-mode='dark'] & {
    background-color: $lbry-gray-5;
    color: $lbry-white;
  }
}

.wunderbar__suggestion {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  padding: var(--spacing-small) var(--spacing-small);

  &:not(:first-of-type) {
    border-top: 1px solid transparent;
  }

  .icon {
    flex-shrink: 0;
  }
}

.wunderbar__suggestion-label {
  overflow: hidden;
  padding-left: var(--spacing-small);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wunderbar__suggestion-label--action {
  margin-left: var(--spacing-medium);
  opacity: 0.6;
  white-space: nowrap;
}
