.yrbl__wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: left;
  margin-bottom: var(--spacing-xlarge);
}

.yrbl {
  height: 20rem;
  margin-right: var(--spacing-large);
}

.yrbl__content {
  max-width: 500px;
}

.yrbl--first-run {
  align-self: center;
  height: 250px;
  width: auto;
  margin: 0 var(--spacing-large);
}

.yrbl--search {
  justify-content: flex-start;
  margin: 0;

  .yrbl {
    height: 18rem;
  }
}

// Get weird here
.yrbl--enhanced {
  position: absolute;
  z-index: 9999;
  height: 95vh;
  width: 95vh;
  left: 0;
  right: 0;
  opacity: 0.5;
  animation-name: enhancedAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@-webkit-keyframes enhancedAnimation {
  from {
    left: 0;
    transform: rotate(0deg);
  }
  to {
    left: 50vw;
    transform: rotate(360deg);
  }
}
