@keyframes expand {
  0% {
    margin-top: 200px;
    opacity: 0;
  }

  100% {
    margin-top: $spacing-vertical;
    opacity: 1;
  }
}

@keyframes loading-animation {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
  }
}

@keyframes bounce {
  0% {
    width: 0;
  }

  10% {
    width: 0.5rem;
  }

  20% {
    width: 0;
  }

  30% {
    width: 0.5rem;
  }

  40% {
    width: 0;
  }
}
