.badge {
  font-weight: 600;
  vertical-align: top;
  white-space: nowrap;

  &:not(.badge--large) {
    border-radius: 0.2rem;
    display: inline-block;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 2;
    padding-right: var(--spacing-vertical-small);
    padding-left: var(--spacing-vertical-small);
  }
}

.badge--alert {
  background-color: $lbry-red-2;
  color: $lbry-white;
}

.badge--cost:not(.badge--large) {
  background-color: $lbry-yellow-2;

  html[data-theme='dark'] & {
    background-color: $lbry-yellow-3;
    color: $lbry-black;
  }
}

.badge--free {
  background-color: $lbry-blue-2;

  html[data-theme='dark'] & {
    background-color: $lbry-blue-3;
    color: $lbry-black;
  }
}

.badge--large {
  font-size: 3.5rem;
  line-height: 1;
}

.badge--nsfw {
  background-color: $lbry-grape-2;

  html[data-theme='dark'] & {
    background-color: $lbry-grape-3;
    color: $lbry-black;
  }
}
