.badge {
  border-radius: 5px;
  padding: 5px;
  font-weight: 800;
  font-size: 0.8em;
}

.badge--alert {
  background-color: $lbry-red-3;
  color: $lbry-white;
}

.badge--free {
  background-color: $lbry-blue-2;
  color: $lbry-blue-5;
}

.badge--cost {
  background-color: $lbry-yellow-3;
  color: $lbry-black;
}
