// This will be moved and updated once we figure out how it should look
// It's for the download progress "button"
.faux-button-block {
  display: inline-block;
  height: var(--button-height);
  line-height: var(--button-height);
  text-decoration: none;
  border: 0 none;
  text-align: center;
  border-radius: var(--button-radius);
  text-transform: uppercase;
  color: var(--color-white);

  .icon {
    top: 0em;
  }
  .icon:first-child {
    padding-right: 5px;
  }
  .icon:last-child {
    padding-left: 5px;
  }
  .icon:only-child {
    padding-left: 0;
    padding-right: 0;
  }
}

.btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  padding: 10px;
  height: var(--btn-height);
  min-width: var(--btn-height);
  border-radius: var(--btn-radius);
  color: var(--btn-primary-color);

  // TODO: Why does using --color-primary not work here? something is being overriden
  // background-color: var(--color-primary);
  background-color: #44b098;
  
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor; // for proper icon color
  font-size: 0.8em;

  &:hover {
    box-shadow: var(--box-shadow-layer);
  }

  .icon + .btn__label {
    padding-left: 5px;
  }
}

.btn.btn--alt {
  color: var(--btn-alt-color);
  background-color: var(--color-white);

  &:hover {
    color: #111;
  }

  &:active {
    background-color: #cdcdcd;
  }

  &:disabled {
    color: var(--color-help);
    background-color: transparent;
  }
}

.btn.btn--inverse {
  background-color: transparent;
  color: var(--btn-inverse-color);

  &:hover {
    background-color: var(--btn-inverse-bg);
  }
}

.btn.btn--link {
  padding: 0;
  margin: 0;
  background-color: inherit;
  font-size: 1em;
  color: var(--btn-inverse-color);
  border-radius: 0;
  display: inline;

  &:hover {
    border-bottom: 1px solid;
    box-shadow: none;
  }
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.btn--no-style {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  border-radius: 0;
  padding: 5px 0;
  margin: 0;

  &:hover {
    box-shadow: none;
  }
}

.btn.btn--link.btn--no-underline:hover {
  border-bottom: none;
}

.btn--link,
.btn--no-style {
  height: auto;

  .btn__label {
    padding: 0;
  }
}

.btn.btn--disabled:disabled {
  cursor: default;

  &.btn--primary {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &.btn--alt {
    // Come back to me
  }

  &:hover {
    box-shadow: none;
  }
}

.btn__label {
  padding: 0 5px;
}
