// Styles for the <Button /> component
// may be a button or a html element

/*

TODO:
Determine [disabled] or .disabled

*/

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

button:disabled.btn--disabled {
  cursor: default;
  background-color: transparent;
}

button.btn {
  padding: 10px;
  margin: 0 5px;
  border-radius: var(--btn-radius);
  color: var(--btn-primary-color);
  background-color: var(--btn-primary-bg);

  &:hover:not(.btn--disabled) {
    box-shadow: var(--box-shadow-layer);
  }
}

button.btn.btn--alt {
  color: var(--btn-alt-color);
  background-color: #efefef;

  &:hover {
    color: #111;
  }

  &:active {
    background-color: #cdcdcd;
  }

  &:disabled {
    color: var(--color-help);
    background-color: transparent;
  }
}

button.btn.btn--circle {
  border-radius: 50%;
  transition: all 0.2s;

  &:hover:not([disabled]) {
    border-radius: var(--btn-radius);
  }
}

button.btn.btn--inverse {
  box-shadow: none;
  background-color: transparent;
  color: var(--btn-primary-bg);
}

button.btn--link {
  padding: 0;
  margin: 0;
  background-color: inherit;
  font-size: 0.9em;
  color: var(--btn-primary-bg); // this should be a different color

  &:hover {
    border-bottom: 1px solid;
  }
}

.btn__label {
  padding: 0 5px;
}

.btn--with-help + .button__help {
  position: absolute;
  // display: none;
  transition: 0s display;
  z-index: 1;
  width: 120px;
  // top: -5px;
  left: 105%;
  border-radius: 5px;
  background-color: var(--color-placeholder);
  box-shadow: var(--box-shadow-layer);
}

.btn--with-help:hover + .button__help {
  display: block;
  transition-delay: 1s;
}
