.btn {
  fill: currentColor;
  position: relative;
}

.btn--alt {
  &:hover {
    text-decoration: underline;
  }
}

.btn--constrict {
  @include constrict;
}

.btn--disabled {
  opacity: 0.3;
}

.btn--external-link,
.btn--link {
  transition: color 0.2s;

  &:not(.btn--disabled):not(:hover) {
    color: $lbry-teal-5;

    html[data-theme='dark'] & {
      color: $lbry-teal-3;
    }
  }

  &:not(.btn--disabled):hover {
    color: $lbry-teal-3;

    html[data-theme='dark'] & {
      color: $lbry-teal-4;
    }
  }
}

.btn--external-link {
  font-weight: 500;
  text-align: left;
}

.btn--icon {
  width: 5rem;
  height: 5rem;

  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%;
  color: $lbry-white;
  transition: background-color 0.2s;

  &:not(:hover) {
    background-color: rgba($lbry-black, 0.7);
  }

  &:hover {
    background-color: $lbry-green-3;
  }

  &.btn--play {
    padding-left: 0.25rem;
  }

  &.btn--view {
  }

  .btn__label {
    display: none;
  }
}

.btn--inverse {
  border: 1px solid $lbry-gray-1;
  border-radius: 1rem;
  color: inherit;
  font-size: 1rem;
  padding: var(--spacing-vertical-miniscule) var(--spacing-vertical-medium);
  transition: background-color 0.2s;

  html[data-theme='dark'] & {
    border-color: rgba($lbry-white, 0.1);
  }

  &:not(:hover) {
    background-color: transparent;
  }

  &:hover {
    background-color: $lbry-gray-1;
    color: $lbry-black;

    html[data-theme='dark'] & {
      background-color: rgba($lbry-white, 0.1);
    }
  }

  // TODO: Refactor to remove need for `!important`

  .btn__label {
    margin: 0 !important;
  }

  svg {
    width: 1rem !important;
    height: 1rem !important;

    margin-right: var(--spacing-vertical-small);
    position: relative;
    top: 0.1rem;
  }

  // .btn__content {
  //   display: flex;

  //   svg {
  //     width: 1rem;
  //     height: 1rem;

  //     color: $lbry-gray-4;
  //     margin-right: var(--spacing-vertical-small);
  //   }

  //   .btn__label {
  //     line-height: 1rem;
  //   }
  // }
}

.btn--load-screen {
  border-bottom: 1px solid $lbry-white;
  display: inline-block;

  &:hover {
    border-bottom: 1px solid $lbry-blue-1;
    color: $lbry-blue-1;
  }
}

.btn--primary {
  align-self: center; // fixes buttons next to tall elements inside one with `display: flex`
  border-radius: 1rem;
  color: $lbry-white;
  padding: var(--spacing-vertical-miniscule) var(--spacing-vertical-medium);
  transition: background-color 0.2s;

  &:not(:hover) {
    background-color: $lbry-teal-5;
  }

  &:hover {
    background-color: $lbry-teal-3;

    html[data-theme='dark'] & {
      background-color: $lbry-teal-4;
    }
  }

  // TODO: Refactor to remove need for `!important`

  .btn__label {
    margin: 0 !important;
  }

  svg {
    width: 1rem !important;
    height: 1rem !important;

    margin-right: var(--spacing-vertical-small);
    position: relative;
    top: 0.1rem;
  }
}

.btn--uppercase {
  text-transform: uppercase;
}
