.card {
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--card-radius);
  overflow: auto;
  user-select: text;
  display: flex;
  position: relative;
  flex-direction: column;
}

.card--section {
  background-color: var(--card-bg);
  padding: $spacing-vertical;
  margin-top: $spacing-vertical * 2/3;
  box-shadow: var(--box-shadow-layer);
}

.card--small {
  width: var(--card-small-width);
  overflow-x: hidden;
  white-space: normal;
}
.card--small .card__media {
  height: calc(var(--card-small-width) * 9 / 16);
}

.card__link {
  cursor: pointer;

  // TODO: hover animations
  // :hover {
  //
  // }
}

.card__media {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--card-media-bg);
}

.card__media--autothumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__title-identity {
  margin-top: $spacing-vertical * 1/3;
}

.card__title-identity--file {
  display: flex;
  align-items: center;

  .credit-amount,
  .icon {
    margin-left: $spacing-vertical * 2/3;
  }
}

.card__title-identity-icons {
  display: flex;
  align-items: center;
}

.card__title {
  font-size: 1.2em;
  font-weight: 700;
  padding: 0;
}

.card__title--small {
  font-weight: 600;
  font-size: 0.9em;
}

.card__subtitle {
  color: var(--color-help);
  font-size: 0.85em;
  padding-top: $spacing-vertical * 1/3;
}

.card__subtitle--file {
  font-size: 1em;
  padding-top: 0;
}

.card__meta {
  color: var(--color-help);
  font-size: 0.85em;
  padding-top: $spacing-vertical * 2/3;
}

// .card-media__internal__links should always be inside a card
.card {
  .card-media__internal-links {
    position: absolute;
    top: $spacing-vertical * 2/3;
    right: $spacing-vertical * 2/3;
  }
}

.card--small {
  .card-media__internal-links {
    top: $spacing-vertical * 1/3;
    right: $spacing-vertical * 1/3;
  }
}

// Channel info with buttons on the right side
.card__channel-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__content {
  margin-top: var(--card-margin);
}

.card__subtext-title {
  color: inherit;
  margin-top: $spacing-vertical * 3/2;
  font-size: calc(var(--font-size-subtext-multiple) * 1.5em);
  font-weight: 700;
}

.card__subtext {
  /* color: var(--color-grey-dark); */
  opacity: 0.65;
  font-size: calc(var(--font-size-subtext-multiple) * 1em);
  padding-top: $spacing-vertical * 1/3;
  word-break: break-word;
  font-weight: 300;
}

.card__actions {
  margin-top: var(--card-margin);
  display: flex;

  .btn:nth-child(n + 2) {
    margin-left: $spacing-vertical / 3;
  }
}

.card__actions--no-margin {
  margin-top: 0;
}

.card__actions--vertical {
  flex-direction: column;
  margin-top: 0;

  .btn:not(:first-child) {
    margin-top: $spacing-vertical * 2/3;
  }
}

.card__actions--center {
  align-items: center;
  justify-content: center;

  .btn {
    margin: 0 $spacing-vertical / 3;
  }
}

.card__actions-top-corner {
  position: absolute;
  top: $spacing-vertical;
  right: $spacing-vertical;
}

/*
 .card-row is used on the discover/subscriptions page
 It is a list of cards that extend past the right edge of the screen
 There are left/right arrows to scroll the cards and view hidden content
*/
.card-row {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  min-width: var(--card-small-width);
  padding-top: $spacing-vertical;

  &:first-of-type {
    padding-top: $spacing-vertical * 2/3;
  }

  &:last-of-type {
    padding-bottom: $spacing-vertical * 2/3;
  }
}

.card-row__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // specific padding-left styling is needed here
  // this needs to be used on a page with noPadding
  // doing so allows the content to scroll to the edge of the screen
  padding-left: $spacing-vertical * 2/3;
}

.card-row__title {
  display: flex;
  align-items: center;
}

.card-row__scroll-btns {
  display: flex;
}

.card-row__scrollhouse {
  padding-top: $spacing-vertical * 2/3;
  overflow: hidden;

  .card {
    display: inline-block;
    vertical-align: top;
    margin-left: $spacing-vertical * 2/3;
    overflow: visible;
  }

  .card:last-of-type {
    margin-right: $spacing-vertical * 2/3;
  }
}

// TODO: come back to this
// Do we want an opacity over the image?
// Use a css var instead...
.card--obscured {
  background-color: #e09898;
}
