.card {
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--card-radius);
  overflow: auto;
  user-select: text;
  display: flex;
  position: relative;
}

.card--section {
  flex-direction: column;
  background-color: var(--color-white);
  padding: $spacing-vertical;
  margin-top: $spacing-vertical * 2/3;
  box-shadow: var(--box-shadow-layer);
}

.card--small {
  width: var(--card-small-width);
  overflow-x: hidden;
  white-space: normal;
}
.card--small .card__media {
  height: calc(var(--card-small-width) * 9 / 16);
}

.card__link {
  cursor: pointer;

  // TODO: hover animations
  // :hover {
  //
  // }
}

.card__media {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--color-placeholder);
}

.card__media--autothumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__title-identity {
  margin-top: $spacing-vertical * 1/3;
}

// TODO: regular .card__title
// maybe not needed?
.card__title--small {
  font-weight: 600;
  font-size: 0.9em;
}

.card__subtitle {
  color: var(--color-help);
  font-size: 0.85em;
  padding-top: $spacing-vertical * 1/3;
}

.card-media__internal-links {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card__content {
  margin-top: var(--card-margin);
  margin-bottom: var(--card-margin);
}

.card__actions {
  margin-top: var(--card-margin);
  display: flex;
}

/*
 .card-row is used on the discover/subscriptions page
 It is a list of cards that extend past the right edge of the screen
 There are left/right arrows to scroll the cards and view hidden content
*/
.card-row {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  min-width: var(--card-small-width);
  padding-top: $spacing-vertical;

  &:first-of-type {
    padding-top: $spacing-vertical * 2/3;
  }

  &:last-of-type {
    padding-bottom: $spacing-vertical * 2/3;
  }
}

.card-row__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // specific padding-left styling is needed here
  // this needs to be used on a page with noPadding
  // doing so allows the content to scroll to the edge of the screen
  padding-left: $spacing-vertical * 2/3;
}

.card-row__title {
  display: flex;
  align-items: center;
}

.card-row__scroll-btns {
  display: flex;
}

.card-row__scrollhouse {
  padding-top: $spacing-vertical * 2/3;
  overflow: hidden;

  .card {
    display: inline-block;
    vertical-align: top;
    margin-left: $spacing-vertical * 2/3;
    overflow: visible;
  }

  .card:last-of-type {
    margin-right: $spacing-vertical * 2/3;
  }
}
