.channel-info {
  .media__title {
    display: block;
    user-select: text;
    margin-bottom: var(--spacing-vertical-medium);
  }

  .channel-info__actions__group {
    margin-bottom: var(--spacing-vertical-large);
  }
}

.channel-info__actions {
  display: flex;
}

.channel-info__actions__group {
  @extend .media__action-group;
  @extend .media__action-group--large;
}

.channel-name {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
