.content__wrapper {
  max-width: var(--card-max-width);
  flex: 1 0 var(--file-page-min-width);
}

.content__embedded {
  background-color: var(--color-black);
  width: 100%;
  padding-top: var(--video-aspect-ratio);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

// Video thumbnail with play/download button
.content__cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(.card__media--nsfw) {
    background-color: var(--color-black);
  }

  &:hover {
    cursor: pointer;
  }
}

.content__view,
.content__view--container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__view--container {
  iframe {
    background: #fff;
    width: 100%;
    height: 100%;
  }
}

.content__loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.content__loading-text {
  color: var(--color-white);
}

.content__empty {
  background-color: black;
  width: 100%;
  padding-top: var(--video-aspect-ratio);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);

  &.content__empty--nsfw {
    background-color: var(--color-nsfw);
  }

  .card__media-text {
    margin-top: calc(var(--video-aspect-ratio) * -1);
  }
}

img {
  max-height: 100%;
  max-width: 100%;
}
