.content {
  flex: 1 0 var(--file-page-min-width);
  overflow: auto;
  position: relative;

  // &::after {
  //   width: 100%; height: 1px;
  //   top: 0; left: 0;

  //   background-color: $lbry-blue-2;
  //   content: "";
  //   position: fixed;
  // }
}

.content__cover {
  // Video thumbnail with play/download button
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: absolute;

  &:not(.card__media--nsfw) {
    background-color: $lbry-black;

    html[data-theme='dark'] & {
      background-color: rgba($lbry-white, 0.1);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.content__embedded {
  margin-bottom: 2rem; padding-top: var(--video-aspect-ratio);

  align-items: center;
  background-color: $lbry-black;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    position: absolute;

    &:hover {
      cursor: pointer;
    }
  }
}

.content__empty {
  align-items: center;
  background-color: $lbry-black;
  color: $lbry-white;
  display: flex;
  justify-content: center;
  padding-top: var(--video-aspect-ratio);
  width: 100%;

  &--nsfw {
    background-color: $lbry-grape-3;
  }
}

.content__loading {
  width: 100%;
  height: 100%;

  align-items: center;
  background-color: rgba($lbry-black, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.content__loading-text {
  color: $lbry-white;
}

.content__view {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;

  iframe {
    width: 100%;
    height: 100%;
    background-color: $lbry-white;
  }
}

.content__view--container {
}

.content__wrapper {
  // flex: 1 0 var(--file-page-min-width);
  // max-width: var(--card-max-width);
}
