.file-download,
.file-download__overlay {
  padding: 5px;
  width: 100%;
}

.file-download {
  color: var(--color-download);
  font-size: 12px;
  opacity: 0.8;
  font-family: 'metropolis-medium';
  height: 36px;
}

.file-download__overlay {
  background: var(--color-download);
  color: var(--color-download-overlay);
  width: 100%;
}
