.file-render {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;

  .file-render__viewer {
    margin: 0;
    width: 100%;
    height: 100%;
    background: black;

    iframe,
    webview {
      width: 100%;
      height: 100%;
    }
  }
}
