.file-render {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}

.file-render__viewer {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;

  iframe,
  webview {
    width: 100%;
    height: 100%;
  }
}

.document-viewer {
  overflow: auto;
  background-color: var(--card-bg);
  font-size: calc(var(--font-size-subtext-multiple) * 1em);
}

.document-viewer .markdown-preview {
  height: 100%;
  overflow: auto;
  padding: $spacing-vertical $spacing-width;
}

.code-viewer,
.document-viewer__content {
  overflow: auto;
  width: 100%;
  height: 100%;
}

/* Code-viewer */
.code-viewer .CodeMirror {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100px;

  /* Block native text selection */
  user-select: none;

  .CodeMirror-code {
    font-size: 1em;
    font-weight: 350;
    line-height: 1.5em;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', inconsolata, monospace;
    letter-spacing: 0.3px;
    word-spacing: 1px;
  }

  .CodeMirror-linenumber {
    color: var(--card-text-color);
  }

  .CodeMirror .CodeMirror-lines {
    padding: 4px 0;
  }

  .CodeMirror-line {
    padding-left: 16px;
  }

  .CodeMirror-gutters {
    border-right: 1px solid var(--color-divider);
    background: var(--color-bg-alt);
    padding-right: 8px;
  }

  .cm-invalidchar {
    display: none;
  }
}
