.form-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .form-field:not(:first-of-type) {
    padding-left: $spacing-vertical;
  }

  &.form-row--centered {
    justify-content: center;
  }

  &.form-row--padded {
    padding-top: $spacing-vertical * 2/3;
  }

  &.form-row--vertically-centered {
    align-items: center;
  }

  .form-field.form-field--stretch {
    width: 100%;

    input {
      width: 100%;
      max-width: 400px;
    }
  }

  input + .btn {
    margin-left: $spacing-vertical * 1/3;
  }
}

.form-field--SimpleMDE {
  display: block;
  width: 100%;
}

.form-field__input {
  display: flex;
  padding-top: $spacing-vertical / 3;

  input[type='checkbox'] {
    margin-top: 4px;
  }

  input[type='radio'] {
    margin-top: 2px;
  }

  input.paginate-channel {
    width: 35px;
  }

  &.form-field--auto-height {
    height: auto;
  }
}

.form-field__help,
.form-field__label,
.form-field__error {
  font-size: 12px;
  font-family: 'metropolis-medium';
}

.form-field__label {
  color: var(--form-label-color);
}

.form-field__help {
  color: var(--color-help);
  padding-top: $spacing-vertical * 1/3;
}

.form-field__error {
  color: var(--color-error);
}

.form-field__prefix,
.form-field__postfix {
  font-family: 'metropolis-medium';
}

.form-field__prefix {
  padding-right: $spacing-vertical * 1/3;
}

.form-field__postfix {
  padding-left: $spacing-vertical * 1/3;
}

// Not sure if I like these
// Maybe this should be in gui.scss?
.input--price-amount {
  width: 60px;
}

.input--address {
  width: 370px;
}
