.form-row {
  display: flex;
  flex-direction: row;

  .form-field:not(:first-of-type) {
    padding-left: $spacing-vertical;
  }

  &.form-row--padded {
    padding: $spacing-vertical * 2/3 0;
  }
}

.form-field__wrapper {
  display: flex;
  padding: $spacing-vertical / 3 0;

  // Hmm, not sure about this
  // without this the checkbox isn't on the same line as other form-field text
  input[type='checkbox'] {
    margin-top: 5px;
  }
}

.form-field__error {
  color: var(--color-error);
}

.form-field__label {
  color: var(--color-grey-dark);
}

.form-field__prefix {
  padding-right: 5px;
}

.form-field__postfix {
  padding-left: 5px;
}

// Not sure if I like these
// Maybe this should be in gui.scss?
.input--lbc-amount {
  width: 75px;
  font-weight: 700;
}

.input--address {
  width: 370px;
}
