.form-row {
  align-items: flex-end;
  display: flex;
  flex-direction: row;

  &.form-row--centered {
    justify-content: center;
  }

  &.form-row--padded {
    padding-top: $spacing-vertical * 1/3;
  }

  &.form-row--right {
    justify-content: flex-end;
  }

  &.form-row--stretch {
    flex: 1;
  }

  &.form-row--vertically-centered {
    align-items: center;
  }

  .form-field {
    &:not(:first-of-type) {
      padding-left: $spacing-vertical;
    }

    &.form-field--stretch {
      width: 100%;

      input {
        max-width: 400px;
        width: 100%;
      }
    }
  }

  input + .btn {
    margin-left: $spacing-vertical * 1/3;
  }
}

.form-field.form-field--disabled {
  opacity: 0.4;
  pointer-events: none;
}

.form-field--SimpleMDE {
  display: block;
  width: 100%;
}

.form-field__input {
  display: flex;
  padding-top: $spacing-vertical / 3;

  &.form-field--auto-height {
    height: auto;
  }

  &.form-field--first-item {
    padding: 0;
  }

  input {
    &[type='checkbox'] {
      margin-top: 4px;
    }

    &[type='radio'] {
      margin-top: 2px;
    }

    &.paginate-channel {
      width: 35px;
    }

    &.input--thumbnail {
      width: 400px;
    }
  }
}

.form-field__help,
.form-field__label,
.form-field__error {
  font-size: 12px;
  font-weight: 500;
}

.form-field__error {
  color: $lbry-red-5;
}

.form-field__help {
  color: $lbry-gray-5;
  padding-top: $spacing-vertical * 1/3;
}

.form-field__label {
  color: rgba($lbry-black, 0.5);
}

.form-field__prefix,
.form-field__postfix {
  font-weight: 500;

  &.form-field--align-center {
    align-self: center;
  }

  &.form-field--fix-no-height {
    line-height: 1;
  }
}

.form-field__prefix {
  padding-right: $spacing-vertical * 1/3;
}

.form-field__postfix {
  padding-left: $spacing-vertical * 1/3;
}

.form-field__select {
  background-color: $lbry-gray-3;
  border-radius: 8px;
  color: $lbry-black;
  font-size: 12px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  min-width: 60px;

  &:disabled {
    opacity: 0.5;
  }
}

// Not sure if I like these
// Maybe this should be in gui.scss?
.input--price-amount {
  width: 80px;
}

.input--address {
  width: 370px;
}
