.form-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .form-field:not(:first-of-type) {
    padding-left: $spacing-vertical;
  }

  &.form-row--padded {
    padding-top: $spacing-vertical * 2/3;
  }

  &.form-row--centered {
    align-items: center;
  }
}

.form-field__input {
  display: flex;
  padding-top: $spacing-vertical / 3;

  input[type='checkbox'],
  input[type='radio'] {
    margin-top: 5px;
  }
}

.form-field {
  label {
    cursor: pointer;
  }
}

.form-field__error {
  color: var(--color-error);
}

.form-field__label {
  color: var(--color-grey-dark);
}

.form-field__help {
  color: var(--color-grey-dark);
  font-size: 0.8em;
  padding-top: $spacing-vertical * 1/3;
}

.form-field__prefix {
  padding-right: $spacing-vertical * 1/3;
}

.form-field__postfix {
  padding-left: $spacing-vertical * 1/3;
}

// Not sure if I like these
// Maybe this should be in gui.scss?
.input--price-amount {
  width: 50px;
  font-weight: 700;
}

.input--address {
  width: 370px;
}
