.form-field {
  &:not(:last-of-type) {
    margin-bottom: var(--spacing-vertical-small);
  }

  &.form-field--disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

.form-field--SimpleMDE {
  display: block;
  width: 100%;
}

.form-field__input {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  margin-bottom: var(--spacing-vertical-small);

  &.form-field--auto-height {
    height: auto;
  }

  &.form-field--first-item {
    padding: 0;
  }

  input {
    &.paginate-channel {
      width: 35px;
    }

    &.input--thumbnail {
      width: 400px;
    }
  }
}

.form-field__input--level {
  line-height: 2;
}

.form-field__help,
.form-field__label,
.form-field__error {
  font-weight: 500;
}

// TODO: Refactor to remove need for `!important`

.form-field__error {
  color: $lbry-red-5 !important;

  html[data-theme='dark'] & {
    color: $lbry-red-2 !important;
  }
}

.form-field__help {
  color: $lbry-gray-5;
  padding-top: var(--spacing-vertical-small);
}

.form-field__label {
  color: inherit;
  font-size: 1.25rem;
  opacity: 0.7;
}

.form-field__prefix,
.form-field__postfix {
  font-weight: 500;
  // line-height: 2;

  &.form-field--align-center {
    align-self: center;
  }

  &.form-field--fix-no-height {
    line-height: 1;
  }
}

.form-field__prefix {
  padding-right: var(--spacing-vertical-small);
}

.form-field__postfix {
  padding-left: var(--spacing-vertical-small);
}

.form-field__select-wrapper {
  position: relative;
  width: 20rem;
  height: 3rem;

  &::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    // TRIANGLE_DOWN
    // background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cpath d='M3 4 L21 4 12 20 3 4 Z' stroke='black' stroke-width='2' fill='black' fill-rule='evenodd' stroke-linejoin='round'/%3E %3C/svg%3E"),
      // linear-gradient(to right, transparent 80%, $lbry-gray-1 85%);
    background-position: 95% center, right top;
    background-repeat: no-repeat;
    background-size: 0.8rem, 100%;
    content: '';
    pointer-events: none;
    position: absolute;
  }
}

.form-field__select {
  width: 100%;
  height: 100%;

  background-color: $lbry-gray-1;
  border-radius: 0;
  padding: var(--spacing-vertical-small);

  -webkit-appearance: none;

  &:disabled {
    opacity: 0.5;
  }
}
