.header {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacing-width * 1/3;
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow-header);

  @media (min-width: $medium-breakpoint) {
    padding: 0 $spacing-width;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}

.header__history {
  display: flex;
  padding: 0 $spacing-width * 1/2;

  @media only screen and (min-width: $medium-breakpoint) {
    .btn {
      padding: 0 $spacing-width * 1/6;
    }
  }
}

.header__actions-right {
  margin-left: auto;
  display: flex;

  .btn {
    margin-left: $spacing-width * 1/3;
  }
}
