.header {
  width: 100%;
  height: var(--header-height);

  align-items: center;
  background-color: $lbry-white;
  box-shadow: 0 1px 5px rgba($lbry-black, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0 $spacing-width * 1/3;
  position: fixed;
  z-index: 1;

  @media (min-width: $medium-breakpoint) {
    padding: 0 $spacing-width;
  }
}

.header__actions-right {
  display: flex;
  margin-left: auto;

  .btn {
    margin-left: $spacing-width * 1/3;
  }
}

.header__history {
  display: flex;
  padding: 0 $spacing-width * 1/2;

  @media only screen and (min-width: $medium-breakpoint) {
    .btn {
      padding: 0 $spacing-width * 1/6;
    }
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}
