.header {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  padding: $spacing-width $spacing-width 0 $spacing-width;
  background-color: var(--color-bg);
}

.header__actions-right {
  margin-left: auto;
  padding-left: $spacing-vertical / 2;
  display: flex;

  .btn {
    margin-left: $spacing-vertical * 1/3;
  }
}
