.header {
  width: 100%;
  height: var(--header-height);

  align-items: center;
  background-color: $lbry-white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;

  html[data-theme='dark'] & {
    background-color: rgba($lbry-black, 0.9);
    color: $lbry-white;
  }
}

.header__navigation {
  display: flex;

  &:first-of-type {
    html[data-theme='dark'] & {
      border-color: $lbry-gray-5;
    }

    @media (min-width: 601px) {
      width: 250px;
    }

    @media (max-width: 600px) {
      width: calc(var(--header-height) * 3 + 1px);
    }
  }

  &:last-of-type {
    @media (min-width: 601px) {
      width: 10rem;
    }

    @media (max-width: 600px) {
      width: var(--header-height);
    }
  }
}

.header__navigation__item {
  width: var(--header-height);
  height: var(--header-height);

  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

  &:not(:disabled):hover {
    background-color: $lbry-gray-1;

    html[data-theme='dark'] & {
      background-color: $lbry-gray-5;
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  &.back {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='black' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E %3Cpath d='M4, 12 L21, 12'/%3E %3Cpolyline stroke-linejoin='round' transform='translate(7.000000, 12.000000) scale(-1, 1) translate(-7.000000, -12.000000)' points='3 4 11 12 3 20'/%3E %3C/g%3E %3C/svg%3E");

    html[data-theme='dark'] & {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='white' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E %3Cpath d='M4, 12 L21, 12'/%3E %3Cpolyline stroke-linejoin='round' transform='translate(7.000000, 12.000000) scale(-1, 1) translate(-7.000000, -12.000000)' points='3 4 11 12 3 20'/%3E %3C/g%3E %3C/svg%3E");
    }
  }

  &.forward {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='black' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E %3Cpath d='M3, 12 L20, 12'/%3E %3Cpolyline stroke-linejoin='round' points='13 4 21 12 13 20'/%3E %3C/g%3E %3C/svg%3E");

    html[data-theme='dark'] & {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='white' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E %3Cpath d='M3, 12 L20, 12'/%3E %3Cpolyline stroke-linejoin='round' points='13 4 21 12 13 20'/%3E %3C/g%3E %3C/svg%3E");
    }
  }

  &.home {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='black' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E %3Cpath d='M1, 11 L12, 2 C12, 2 22.9999989, 11.0000005 23, 11'/%3E %3Cpath d='M3, 10 C3, 10 3, 10.4453982 3, 10.9968336 L3, 20.0170446 C3, 20.5675806 3.43788135, 21.0138782 4.00292933, 21.0138781 L8.99707067, 21.0138779 C9.55097324, 21.0138779 10, 20.5751284 10, 20.0089602 L10, 15.0049177 C10, 14.449917 10.4433532, 14 11.0093689, 14 L12.9906311, 14 C13.5480902, 14 14, 14.4387495 14, 15.0049177 L14, 20.0089602 C14, 20.5639609 14.4378817, 21.0138779 15.0029302, 21.0138779 L19.9970758, 21.0138781 C20.5509789, 21.0138782 21.000006, 20.56848 21.000006, 20.0170446 L21.0000057, 10'/%3E %3C/g%3E %3C/svg%3E");

    html[data-theme='dark'] & {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='white' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E %3Cpath d='M1, 11 L12, 2 C12, 2 22.9999989, 11.0000005 23, 11'/%3E %3Cpath d='M3, 10 C3, 10 3, 10.4453982 3, 10.9968336 L3, 20.0170446 C3, 20.5675806 3.43788135, 21.0138782 4.00292933, 21.0138781 L8.99707067, 21.0138779 C9.55097324, 21.0138779 10, 20.5751284 10, 20.0089602 L10, 15.0049177 C10, 14.449917 10.4433532, 14 11.0093689, 14 L12.9906311, 14 C13.5480902, 14 14, 14.4387495 14, 15.0049177 L14, 20.0089602 C14, 20.5639609 14.4378817, 21.0138779 15.0029302, 21.0138779 L19.9970758, 21.0138781 C20.5509789, 21.0138782 21.000006, 20.56848 21.000006, 20.0170446 L21.0000057, 10'/%3E %3C/g%3E %3C/svg%3E");
    }
  }

  &.menu {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3E path %7B fill: none; fill-rule: evenodd; stroke: %23000; stroke-width: 1; %7D %3C/style%3E %3Cpath d='M3.5, 7 C3.5, 7.27910535 3.72002141, 7.5 3.99339768, 7.5 L20.0066023, 7.5 C20.2782464, 7.5 20.5, 7.27680164 20.5, 7 C20.5, 6.72089465 20.2799786, 6.5 20.0066023, 6.5 L3.99339768, 6.5 C3.72175357, 6.5 3.5, 6.72319836 3.5, 7 Z M3.5, 12 C3.5, 12.2791054 3.72002141, 12.5 3.99339768, 12.5 L20.0066023, 12.5 C20.2782464, 12.5 20.5, 12.2768016 20.5, 12 C20.5, 11.7208946 20.2799786, 11.5 20.0066023, 11.5 L3.99339768, 11.5 C3.72175357, 11.5 3.5, 11.7231984 3.5, 12 Z M3.5, 17 C3.5, 17.2791054 3.72002141, 17.5 3.99339768, 17.5 L20.0066023, 17.5 C20.2782464, 17.5 20.5, 17.2768016 20.5, 17 C20.5, 16.7208946 20.2799786, 16.5 20.0066023, 16.5 L3.99339768, 16.5 C3.72175357, 16.5 3.5, 16.7231984 3.5, 17 Z'/%3E %3C/svg%3E");

    html[data-theme='dark'] & {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3E path %7B fill: none; fill-rule: evenodd; stroke: %23fff; stroke-width: 1; %7D %3C/style%3E %3Cpath d='M3.5, 7 C3.5, 7.27910535 3.72002141, 7.5 3.99339768, 7.5 L20.0066023, 7.5 C20.2782464, 7.5 20.5, 7.27680164 20.5, 7 C20.5, 6.72089465 20.2799786, 6.5 20.0066023, 6.5 L3.99339768, 6.5 C3.72175357, 6.5 3.5, 6.72319836 3.5, 7 Z M3.5, 12 C3.5, 12.2791054 3.72002141, 12.5 3.99339768, 12.5 L20.0066023, 12.5 C20.2782464, 12.5 20.5, 12.2768016 20.5, 12 C20.5, 11.7208946 20.2799786, 11.5 20.0066023, 11.5 L3.99339768, 11.5 C3.72175357, 11.5 3.5, 11.7231984 3.5, 12 Z M3.5, 17 C3.5, 17.2791054 3.72002141, 17.5 3.99339768, 17.5 L20.0066023, 17.5 C20.2782464, 17.5 20.5, 17.2768016 20.5, 17 C20.5, 16.7208946 20.2799786, 16.5 20.0066023, 16.5 L3.99339768, 16.5 C3.72175357, 16.5 3.5, 16.7231984 3.5, 17 Z'/%3E %3C/svg%3E");
    }

    @media (min-width: 601px) {
      display: none;
    }
  }

  &.publish,
  &.wallet {
    @media (max-width: 600px) {
      display: none;
    }
  }

  &.publish {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='black' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E %3Cpath d='M8, 18 L5, 18 L5, 18 C2.790861, 18 1, 16.209139 1, 14 C1, 11.790861 2.790861, 10 5, 10 C5.35840468, 10 5.70579988, 10.0471371 6.03632437, 10.1355501 C6.01233106, 9.92702603 6, 9.71495305 6, 9.5 C6, 6.46243388 8.46243388, 4 11.5, 4 C14.0673313, 4 16.2238156, 5.7590449 16.8299648, 8.1376465 C17.2052921, 8.04765874 17.5970804, 8 18, 8 C20.7614237, 8 23, 10.2385763 23, 13 C23, 15.7614237 20.7614237, 18 18, 18 L16, 18' stroke-linejoin='round'/%3E %3Cpath d='M12, 13 L12, 21'/%3E %3Cpolyline stroke-linejoin='round' transform='translate(12.000000, 12.500000) scale(1, -1) translate(-12.000000, -12.500000)' points='15 11 12 14 9 11'/%3E %3C/g%3E %3C/svg%3E");
    background-position: 20% center;
    background-size: 18%;
    padding-left: 1.75rem;
    position: relative;
    width: 100%;

    html[data-theme='dark'] & {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='white' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E %3Cpath d='M8, 18 L5, 18 L5, 18 C2.790861, 18 1, 16.209139 1, 14 C1, 11.790861 2.790861, 10 5, 10 C5.35840468, 10 5.70579988, 10.0471371 6.03632437, 10.1355501 C6.01233106, 9.92702603 6, 9.71495305 6, 9.5 C6, 6.46243388 8.46243388, 4 11.5, 4 C14.0673313, 4 16.2238156, 5.7590449 16.8299648, 8.1376465 C17.2052921, 8.04765874 17.5970804, 8 18, 8 C20.7614237, 8 23, 10.2385763 23, 13 C23, 15.7614237 20.7614237, 18 18, 18 L16, 18' stroke-linejoin='round'/%3E %3Cpath d='M12, 13 L12, 21'/%3E %3Cpolyline stroke-linejoin='round' transform='translate(12.000000, 12.500000) scale(1, -1) translate(-12.000000, -12.500000)' points='15 11 12 14 9 11'/%3E %3C/g%3E %3C/svg%3E");
    }
  }

  &.wallet {
    border-right: 1px solid $lbry-gray-1;
    width: calc(100% - (var(--header-height) * 3));

    html[data-theme='dark'] & {
      border-color: $lbry-gray-5;
    }

    .btn__content {
      line-height: var(--header-height);
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      width: 100%;

      &::after {
        top: -0.5rem;
        right: 2.85rem;

        content: '℄';
        opacity: 0.3;
        position: absolute;
      }
    }
  }
}
