.header {
  grid-area: header;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $spacing-vertical;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: var(--color-bg);
}

.header__actions-right {
  margin-left: auto;
  padding-left: $spacing-vertical / 2;
  display: flex;

  .btn {
    margin-left: $spacing-vertical * 1/3;
  }
}
