.item-list {
  background-color: $lbry-white;
  margin-top: var(--spacing-vertical-large);
  padding: var(--spacing-vertical-large);

  html[data-mode='dark'] & {
    background-color: rgba($lbry-white, 0.1);
  }
}

.item-list__item {
  align-items: center;
  display: flex;
  padding: var(--spacing-vertical-small);

  input,
  .item-list__item--cutoff {
    margin-right: var(--spacing-vertical-large);
  }

  fieldset-section {
    margin-bottom: 0;
  }
}

.item-list__item--cutoff {
  max-width: 350px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-list__item--selected {
  background-color: $lbry-gray-1;

  html[data-mode='dark'] & {
    background-color: rgba($lbry-black, 0.5);
  }
}
