.item-list {
  background-color: $lbry-white;
  margin-top: var(--spacing-vertical-large); // $spacing-vertical;
  padding: var(--spacing-vertical-large); // $spacing-vertical;

  html[data-theme='dark'] & {
    background-color: rgba($lbry-white, 0.1);
  }
}

.item-list__item {
  align-items: center;
  display: flex;
  padding: var(--spacing-vertical-small); // $spacing-vertical * 1/3;

  input,
  &--cutoff {
    margin-right: var(--spacing-vertical-large); // $spacing-vertical;
  }
}

.item-list__item--cutoff {
  max-width: 350px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-list__item--selected {
  background-color: $lbry-gray-1;
}
