.load-screen {
  min-width: 100vw;
  min-height: 100vh;

  align-items: center;
  background-color: $lbry-teal-3;
  background-size: cover;
  color: $lbry-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.load-screen__header {
  display: flex;
}

.load-screen__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 100px;
  margin-left: 40px; // width of "beta" superscript
}

.load-screen__beta {
  padding-top: 23px;
  padding-left: 10px;
}

.load-screen__message {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-top: $spacing-vertical * 2/3;
  text-align: center;
}

.load-screen__details {
  font-size: 12px;
  line-height: 1;
  max-width: 400px;
  padding-top: $spacing-vertical * 2/3;
}
