.load-screen {
  color: white;
  background: var(--color-primary);
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.load-screen__title {
  font-weight: 800;
  font-size: 4em;
}

.load-screen__message {
  font-size: 1.5em;
  margin-top: $spacing-vertical * 2/3;
  text-align: center;
}

.load-screen__details {
  padding-top: $spacing-vertical * 2/3;
  max-width: 400px;
}
