.load-screen {
  color: white;
  background: var(--color-primary);
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.load-screen__header {
  display: flex;
}

.load-screen__title {
  font-family: 'metropolis-bold';
  font-size: 60px;
  line-height: 100px;
  margin-left: 40px; // width of "beta" superscript
}

.load-screen__beta {
  padding-top: 23px;
  padding-left: 10px;
}

.load-screen__message {
  font-family: 'metropolis-semibold';
  font-size: 16px;
  line-height: 20px;
  margin-top: $spacing-vertical * 2/3;
  text-align: center;
}

.load-screen__details {
  font-family: 12px 'metropolis-medium';
  font-size: 12px;
  line-height: 1;
  padding-top: $spacing-vertical * 2/3;
  max-width: 400px;
}
