.CodeMirror {
  border-top: none;
  border-right: 1px solid $lbry-gray-1;
  border-bottom: 1px solid $lbry-gray-1;
  border-left: 1px solid $lbry-gray-1;
  border-radius: 0;
  background: $lbry-white;
  color: $lbry-black;

  .CodeMirror-cursor {
    border-color: $lbry-teal-3;
  }

  .CodeMirror-placeholder {
    opacity: 0.5;
  }

  .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    text-decoration: underline;
    text-decoration-color: $lbry-red-3;
    text-decoration-style: dotted;
  }

  html[data-mode='dark'] & {
    border-left: 1px solid rgba($lbry-white, 0.2);
    border-right: 1px solid rgba($lbry-white, 0.2);
    border-bottom: 1px solid rgba($lbry-white, 0.2);
    background-color: rgba($lbry-white, 0.1);
    color: $lbry-white;

    .CodeMirror-selectedtext {
      color: $lbry-black;
    }

    .editor-preview.editor-preview-active {
      background-color: $lbry-gray-5;
      color: $lbry-black;
    }
  }
}

// Fix selection
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background-color: $lbry-teal-1;
}

.editor-toolbar {
  background-color: $lbry-gray-1;
  border: none;
  border-radius: 0;
  opacity: 1; // ?

  &:hover {
    opacity: 1; // ?
  }

  &.disabled-for-preview a:not(.no-disable) {
    background-color: $lbry-gray-1;
    border-color: transparent;
    opacity: 0.3;
  }

  &.fullscreen {
    background-color: $lbry-gray-1;

    &::before,
    &::after {
      display: none;
    }
  }

  a {
    color: $lbry-black;
    transition: opacity 0.3s ease;

    &:not(.active),
    &:not(:hover) {
      opacity: 0.6;
    }

    &.active,
    &:hover {
      border-color: transparent;
      opacity: 1;
    }
  }

  i.separator {
    border: none;
  }

  html[data-mode='dark'] & {
    background-color: rgba($lbry-white, 0.2);

    a {
      color: $lbry-white !important; // We need to use !important to override the CodeMirror styles

      &.active {
        background-color: rgba($lbry-black, 0.4);
      }

      &:hover {
        color: $lbry-black !important;
      }
    }

    &.disabled-for-preview {
      a:not(.no-disable) {
        background-color: transparent;
      }

      // The markdown preview button is highlighted during preview when the other buttons are disabled
      a.no-disable {
        background-color: rgba($lbry-white, 0.3);
      }
    }
  }
}

.editor-statusbar {
  color: rgba($lbry-black, 0.5);
  font-size: 1rem;
  padding: var(--spacing-vertical-medium) 0; // overriding styles from elsewhere

  html[data-mode='dark'] & {
    color: inherit;
  }
}

.form-field--SimpleMDE {
  margin-top: var(--spacing-vertical-large);
}
