.CodeMirror {
  border: 0px;
  border-radius: 0px;
  background: var(--card-bg);
  color: var(--text-color);
}

.editor-toolbar {
  opacity: 1;
  border: 0;
  background: var(--color-bg-alt);
  border-radius: 0;
  box-shadow: var(--box-shadow-layer);
}

.editor-toolbar:hover {
  opacity: 1;
}

.editor-toolbar i.separator {
  border: 0;
}

.editor-toolbar.fullscreen {
  background: var(--color-bg-alt);
}

.editor-toolbar.fullscreen::before,
.editor-toolbar.fullscreen::after {
  display: none;
}

.editor-toolbar a {
  opacity: 0.6;
  color: var(--text-color) !important;
  transition: opacity 0.3s ease;
}

.editor-toolbar a.active,
.editor-toolbar a:hover {
  opacity: 1;
  background: var(--button-bg);
  border-color: transparent;
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  background: var(--color-bg-alt);
  border-color: transparent;
  opacity: 0.3;
}

.editor-statusbar {
  color: var(--form-label-color);
}

.editor-preview {
  font-size: calc(var(--font-size-subtext-multiple) * 1em);
  background: var(--color-bg);
  border: 0;
}

.CodeMirror .CodeMirror-cursor {
  border-color: var(--color-primary);
}

.CodeMirror .CodeMirror-placeholder {
  opacity: 0.5;
}

/* Fix selection */
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: var(--text-selection-bg);
}

.CodeMirror .CodeMirror-selected {
  background: transparent;
}

.CodeMirror .CodeMirror-selectedtext {
  background: var(--editor-text-selection-bg) !important;
  color: var(--text-selection-color) !important;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background: none;
  text-decoration: underline;
  text-decoration-color: #f00;
  text-decoration-style: dotted;
}
