.menu-container {
  display: inline-block;

  .menu {
    padding-top: var(--spacing-vertical-medium); // ($spacing-vertical / 5) 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
  }
}
