
.modal-overlay, .error-modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var(--modal-overlay-bg);
  z-index: 9999;
}

.modal-overlay--clear {
  background-color: transparent;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: var(--modal-border);
  background: var(--modal-bg);
  overflow: auto;
  border-radius: 4px;
  padding: $spacing-vertical;
  box-shadow: var(--box-shadow-layer);
  max-width: var(--modal-width);

  word-break: break-word;
}

.modal__header {
  margin-bottom: $spacing-vertical * 2/3;
  text-align: center;
}

.modal__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $spacing-vertical * 2/3;
}

.modal__button {
  margin: 0px 6px;
}

.error-modal-overlay {
  background: var(--modal-overlay-bg);
}

.error-modal__content {
  display: flex;
  padding: 0px 8px 10px 10px;
}

.error-modal__warning-symbol {
  margin-top: 6px;
  margin-right: 7px;
}

.download-started-modal__file-path {
  word-break: break-all;
}

.error-modal {
  max-width: none;
  width: var(--modal-width);
}
.error-modal__error-list { /*shitty hack/temp fix for long errors making modal unusable*/
  border: 1px solid var(--input-border-color);
  padding: 8px;
  list-style: none;
  max-height: 400px;
  max-width:  var(--modal-width);
  overflow-y: hidden;
}
