.modal-overlay,
.error-modal-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  align-items: center;
  background-color: rgba($lbry-white, 0.7);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 9999;

  html[data-theme='dark'] & {
    background-color: rgba($lbry-black, 0.7);
  }
}

.modal-overlay--clear {
  background-color: transparent;
}

.modal {
  background-color: $lbry-white;
  border: 1px solid $lbry-gray-3;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.55;
  max-width: var(--modal-width);
  overflow: auto;
  padding: $spacing-vertical;
  word-break: break-word;

  @media (min-width: 501px) {
    min-width: 500px;
  }

  html[data-theme='dark'] & {
    background-color: $lbry-black;
    border-color: $lbry-gray-5;
  }

  .card__content:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .btn.btn--alt {
    background-color: $lbry-white; // Set modal buttons bg color

    html[data-theme='dark'] & {
      background-color: transparent;
    }
  }

  &--fullscreen {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba($lbry-gray-1, 0.5);
    padding: $spacing-vertical;
    overflow-y: scroll;
    position: absolute;

    .main {
      // I will come back to these when I do media queries
      // They should be variables
      padding: 130px 80px 0 80px;
    }
  }
}

// For slide down animation on the search modal
// Slide down isn"t possible without doing a lot of re-work to the modal component
.ReactModal__Overlay {
  .modal--fullscreen {
    height: 0;
    transition: height var(--animation-duration) var(--animation-style);
  }

  &--after-open {
    .modal--fullscreen {
      height: 100vh;
    }
  }

  &--before-close {
    height: 0;
  }
}

.modal__header {
  font-size: 2em;
}

.modal__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $spacing-vertical * 2/3;
}

.modal__button {
  margin: 0 $spacing-vertical * 1/3;

  &.btn--link {
    // So the text is not bigger than the text inside the button
    font-size: 0.8em;
  }
}

.error-modal-overlay {
  background-color: rgba($lbry-white, 0.7);
}

.error-modal__content {
  display: flex;
  padding: 0 8px 10px 10px;
}

.error-modal__warning-symbol {
  height: 28px;
  margin-top: -5px;
}

.download-started-modal__file-path {
  word-break: break-all;
}

.error-modal {
  max-width: none;
  width: var(--modal-width);
}

.error-modal__error-list {
  max-width: var(--modal-width);
  max-height: 400px;
  margin-top: $spacing-vertical * 1/3;
  padding: $spacing-vertical * 1/3;

  background-color: $lbry-red-1;
  border-left: 2px solid $lbry-red-5;
  color: $lbry-red-5;
  list-style: none;
  overflow-y: scroll;
}
