.modal-overlay,
.error-modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($lbry-white, 0.7);
  z-index: 9999;
}

.modal-overlay--clear {
  background-color: transparent;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: $lbry-gray-1;
  background-color: rgba($lbry-gray-1, 0.5);
  overflow: auto;
  border-radius: 4px;
  padding: $spacing-vertical;
  // box-shadow: var(--box-shadow-layer);
  max-width: var(--modal-width);
  word-break: break-word;

  .btn.btn--alt {
    // Set modal buttons bg color
    background-color: $lbry-white;
  }
}

.modal--fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $spacing-vertical;
  background: rgba($lbry-gray-1, 0.5);
  overflow-y: scroll;

  .main {
    // I will come back to these when I do media queries
    // They should be variables
    padding: 130px 80px 0 80px;
  }
}

// For slide down animation on the search modal
// Slide down isn't possible without doing a lot of re-work to the modal component
.ReactModal__Overlay {
  .modal--fullscreen {
    transition: height var(--animation-duration) var(--animation-style);
    height: 0;
  }

  &--after-open {
    .modal--fullscreen {
      height: 100vh;
    }
  }

  &--before-close {
    height: 0;
  }
}

.modal__header {
  font-size: 2em;
}

.modal__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $spacing-vertical * 2/3;
}

.modal__button {
  margin: 0 $spacing-vertical * 1/3;

  &.btn--link {
    // So the text isn't bigger than the text inside the button
    font-size: 0.8em;
  }
}

.error-modal-overlay {
  background: rgba($lbry-white, 0.7);
}

.error-modal__content {
  display: flex;
  padding: 0 8px 10px 10px;
}

.error-modal__warning-symbol {
  margin-top: -5px;
  height: 28px;
}

.download-started-modal__file-path {
  word-break: break-all;
}

.error-modal {
  max-width: none;
  width: var(--modal-width);
}

.error-modal__error-list {
  margin-top: $spacing-vertical * 1/3;
  padding: $spacing-vertical * 1/3;
  list-style: none;
  max-height: 400px;
  max-width: var(--modal-width);
  overflow-y: scroll;
  color: $lbry-red-5;
  background-color: $lbry-red-1;
  border-left: 2px solid $lbry-red-5;
}
