.nav {
  grid-area: nav;
  background-color: var(--nav-bg);

  hr {
    width: 40px;
    border: solid 1px var(--nav-color);
    opacity: 0.5;
    margin: $spacing-vertical $spacing-vertical * 2/3;
  }
}

.nav__actions-top {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacing-vertical * 1/3;
}

.nav__actions-history {
  display: flex;

  .btn {
    margin-left: $spacing-vertical * 1/3;
  }
}

// Sidebar links
.nav__primary {
  padding-top: $spacing-vertical;
}

.nav__link {
  padding: $spacing-vertical / 3 0 $spacing-vertical / 3 $spacing-vertical * 2/3;
  color: var(--nav-color);
  opacity: 0.35;

  .btn:hover {
    color: var(--nav-color-hover);
    opacity: 1;
  }

  .btn__label {
    margin-left: $spacing-vertical * 1/3;
  }
}

.nav__link--primary {
  font-weight: bold;
}

.nav__link--sub {
  font-size: .9em;
  font-weight: 400;
  margin-left: 5px;
  color: var(--nav-sub-color);
  padding: 5px $spacing-vertical * 2/3;
}

.nav__link--active {
  color: var(--nav-color-active);
  opacity: 1;
}

.nav__sub-links {
  padding-top: $spacing-vertical * 1/3;
}

// Sub links animations
// The -appear, -leave classes are added by 'react-transition-group'
.nav__sub-appear,
.nav__sub-leave {
  max-height: 0;
  opacity: 0;
}

.nav__sub-appear.nav__sub-appear-active {
  // using max-height is a hack to animate to height "auto"
  // Needs to be some arbitrarily large height
  max-height: 500px;
  opacity: 1;
  transition: max-height .5s ease-in-out, opacity .5s ease-in-out;
}

.nav__sub {
  padding-top: 5px;
}
