.overlay {
  position: fixed;
  max-height: 50%;
  max-width: 50%;
  width: 20%;
  height: inherit;
  bottom: 1%;
  right: 1%;
  z-index: 3;
  box-shadow: var(--box-shadow-layer);

  &:hover .button-close {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 22px;
    width: 22px;
    top: 0px;
    right: 0px;
    color: #000;
    text-align: center;
    cursor: pointer;
    z-index: 4;
  }
}
.overlay .button-close {
  display: none;
}
