.overlay {
  position: fixed;
  max-height: 50%;
  max-width: 50%;
  width: 20%;
  height: inherit;
  bottom: 1%;
  right: 1%;
  z-index: 3;
  box-shadow: var(--box-shadow-layer);

  .video__overlay {
    position: relative;

    .video__mask {
      opacity: 0;
      background-color: rgba(0,0,8, 0.7); 
      transition: all 0.4s ease-in-out;
      width: 100%;
      height: 100%;
      overflow: hidden;
      top: 0;
      left: 0;
      position: absolute;
      display: flex;
      flex-direction: row;

      .btn {
        margin: auto;
      }
    }

    &:hover .video__mask { 
      opacity: 1;
    }
  }
}

.video_overlay__header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  width: 100%;
  height: 2rem;
  background-color: var(--header-primary-color);
  padding: 20px 10px;

  .overlay__title--small {
    font-size: 15px;
    line-height: 15px;
  }
}
