.page {
  top: var(--header-height);
  left: 0;
  bottom: 0;
  right: 0;

  background-color: mix($lbry-white, $lbry-gray-1, 70%);
  display: flex;
  position: absolute;
  z-index: 0;

  html[data-mode='dark'] & {
    background-color: $lbry-black;
  }

  &::after {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;

    background-color: $lbry-gray-1;
    content: '';
    position: absolute;
    z-index: 1;

    html[data-mode='dark'] & {
      background-color: $lbry-black;
    }
  }

  @media only screen and (min-width: $medium-breakpoint) {
    grid-template-columns: var(--side-nav-width-m) auto;
  }

  @media only screen and (min-width: $large-breakpoint) {
    grid-template-columns: var(--side-nav-width-l) auto;
  }
}

.page__header {
  padding: var(--spacing-vertical-medium) var(--spacing-vertical-medium) 0
    var(--spacing-vertical-medium);
}

.page__empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
