.pagination {
  display: block;
  padding: 0;
  text-align: center;

  + .form-field {
    margin: 0 $spacing-width * 2/3;

    .form-field__input {
      padding: 0;
    }
  }
}

.pagination__item {
  border-radius: 2px;
  display: inline-block;
  height: $spacing-vertical * 1.5;
  line-height: $spacing-vertical * 1.5;

  &:not(.pagination__item--selected):not(.pagination__item--break):not(.disabled):hover {
    background: rgba($lbry-black, 0.2);
    cursor: pointer;
  }

  > a {
    display: inline-block;
    padding: 0 $spacing-vertical * 2 / 3;
  }
}

.pagination__item--previous,
.pagination__item--next {
  font-size: 1.2em;
}

.pagination__item--break {
  padding: 0 $spacing-vertical * 2 / 3;
}

.pagination__item--selected {
  background-color: $lbry-teal-3;
  color: $lbry-white;
}
