.card--placeholder {
  animation: pulse 2s infinite ease-in-out;
  background-color: $lbry-gray-3;
}

.placeholder__channel {
  width: 70%;
  height: 1em;
  margin-top: $spacing-vertical * 1/3;
}

.placeholder__date {
  width: 50%;
  height: 1em;
  margin-top: $spacing-vertical * 1/3;
}

// Individual items we need a placeholder for
// FileCard
.placeholder__title {
  height: 3em;
  margin-top: $spacing-vertical * 1/3;
}

// FileTile
.placeholder__title--tile {
  height: 3em;
}
