@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.card--placeholder {
  animation: pulse 2s infinite ease-in-out;
  background: #eeeeee;
}

// Individual items we need a placeholder for
// FileCard
.placeholder__title {
  margin-top: $spacing-vertical * 1/3;
  height: 3em;
}
.placeholder__channel {
  margin-top: $spacing-vertical * 1/3;
  height: 1em;
  width: 70%;
}
.placeholder__date {
  height: 1em;
  margin-top: $spacing-vertical * 1/3;
  width: 50%;
}

// FileTile
.placeholder__title--tile {
  height: 3em;
}
