.wunderbar {
  z-index: 1;
  flex: 1;
  display: flex;
  min-width: 175px;
  cursor: text;
  position: relative;

  > .icon {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
  }
}

.wunderbar__input {
  height: var(--btn-height);
  border-radius: var(--btn-radius);
  width: 100%;
  color: var(--search-color);
  background-color: var(--search-bg-color);
  box-shadow: var(--box-shadow-wunderbar);
  padding: 10px;
  padding-left: 30px;
  font-size: 13px;
  font-family: 'metropolis-medium';
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;

  &:focus {
    background-color: var(--search-active-bg-color);
    border-radius: 0;
    border-bottom: 1px solid var(--color-divider);
    box-shadow: var(--box-shadow-button);
  }
}

.wunderbar__menu {
  max-width: 100px;
  border-radius: 0 0 3px 3px !important;
  padding: 0 !important;
  background: transparent !important;
  overflow-x: hidden;
}

.wunderbar__suggestion {
  padding: 5px 10px;
  background-color: var(--search-bg-color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  font-family: 'metropolis-medium';

  &:not(:first-of-type) {
    border-top: 1px solid var(--search-item-border-color);
  }

  .icon {
    flex-shrink: 0;
  }
}

.wunderbar__suggestion-label {
  overflow: hidden;
  padding-left: $spacing-vertical;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wunderbar__suggestion-label--action {
  margin-left: $spacing-vertical * 1/3;
  white-space: nowrap;
  font-family: 'metropolis-medium';
  font-size: 12px;
  line-height: 0.1; // to vertically align because the font size is smaller
}

.wunderbar__active-suggestion {
  color: var(--search-item-active-color);
  background-color: var(--color-secondary);
}

.search__top {
  padding: 0 $spacing-width $spacing-width;
  background-color: var(--search-exact-result);
}

.search__content {
  padding: $spacing-width;
}

.search__results {
  margin-top: -$spacing-width;
  padding-bottom: $spacing-vertical;
  flex-flow: wrap column;

  .search-result__row {
    padding: $spacing-vertical 0;

    &:first-of-type {
      padding-top: 0;
    }
  }
}
