.search__header {
  background-color: $lbry-black;
  color: $lbry-white;
  padding: var(--spacing-vertical-large); // 2rem;

  html[data-theme='dark'] & {
    background-color: transparent;
    border-bottom: 1px solid rgba($lbry-white, 0.1);
  }
}

.search__title {
  align-items: center;
  cursor: default;
  display: flex;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: var(--spacing-vertical-large); // 2rem;

  > * {
    margin-left: var(--spacing-vertical-small); // 0.5rem;
  }

  @media (min-width: 601px) {
    font-size: 2rem;
  }

  @media (max-width: 600px) {
    font-size: 1.75rem;
  }
}

.search__results-wrapper {
  padding: var(--spacing-vertical-large); // 2rem;
}

.search__results-section {
  margin-bottom: var(--spacing-vertical-large); // 4rem;
  position: relative;
}

.search__results-title {
  @extend .media-group__header-title;
  margin-bottom: var(--spacing-vertical-large); // 2rem;
}
