.wunderbar {
  cursor: text;
  display: flex;
  flex: 1;
  min-width: 175px;
  position: relative;
  z-index: 1;

  > .icon {
    top: 10px;
    left: 10px;

    position: absolute;
    z-index: 1;
  }
}

.wunderbar__active-suggestion {
  background-color: $lbry-blue-2;
  color: $lbry-black;
}

.wunderbar__input {
  width: 100%;
  height: var(--btn-height);

  align-items: center;
  background-color: rgba($lbry-gray-1, 0.3);
  border-bottom: none; // ?
  color: $lbry-gray-5;
  display: flex;
  font-size: 13px;
  justify-content: center;
  padding: 10px 10px 10px 30px;

  &:focus {
    background-color: rgba($lbry-gray-1, 0.5);
  }
}

.wunderbar__menu {
  background-color: transparent;
  border-radius: 0 0 3px 3px;
  max-width: 100px;
  overflow-x: hidden;
  padding: 0;
}

.wunderbar__suggestion {
  align-items: center;
  background-color: $lbry-gray-5;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  padding: 5px 10px;

  &:not(:first-of-type) {
    border-top: 1px solid transparent;
  }

  .icon {
    flex-shrink: 0;
  }
}

.wunderbar__suggestion-label {
  overflow: hidden;
  padding-left: $spacing-vertical;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wunderbar__suggestion-label--action {
  font-size: 12px;
  line-height: 0.1; // to vertically align because the font size is smaller
  margin-left: $spacing-vertical * 1/3;
  white-space: nowrap;
}

.search__content {
  padding: $spacing-width;
}

.search__results {
  margin-top: -$spacing-width;
  padding-bottom: $spacing-vertical;
  flex-flow: wrap column;

  .search-result__row {
    padding: $spacing-vertical 0;

    &:first-of-type {
      padding-top: 0;
    }
  }
}

.search__top {
  background-color: $lbry-gray-2;
  padding: 0 $spacing-width $spacing-width;
}
