.shapeshift__tx-info {
  min-height: 63px;
}

.shapeshift__deposit-address-wrapper {
  display: flex;
  flex-direction: row;

  * {
    align-self: center;
  }
}

// this should be pulled out into it's own styling when we add more qr codes
.shapeshift__qrcode {
  // don't use a variable here. adds a white border for easier reading in dark mode
  // needs to stay the same no matter what theme is present
  background-color: #fff;
  padding: 2px;
  margin-left: 40px;
}

.shapeshift__link {
  padding-left: 10px;
}
