.snack-bar {
  padding: $spacing-vertical;
  position: fixed;
  top: $spacing-vertical;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: var(--snack-bar-width);
  background: var(--color-dark-overlay);
  color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  transition: all var(--transition-duration) var(--transition-type);
  z-index: 10000; /*hack to get it over react modal */
}

.snack-bar__action {
  display: inline-block;
  text-transform: uppercase;
  color: var(--color-primary-light);
  margin: 0px 0px 0px $spacing-vertical;
  min-width: min-content;
  &:hover {
    text-decoration: underline;
  }
}
