// The gerbil is tied to subscriptions currently, but this style should move to it's own file once
// the gerbil is added in more places with different layouts
.subscriptions__gerbil {
  // height: 250px;
  // width: 210px;
}

.subscriptions__suggested {
  animation: expand 0.2s;
  left: -2rem;
  position: relative;
  width: calc(100% + 4rem);

  // width: 100%;
  // margin-top: $spacing-vertical;
}

@-webkit-keyframes expand {
  0% {
    margin-top: 200px;
    opacity: 0;
  }
  100% {
    margin-top: $spacing-vertical;
    opacity: 1;
  }
}



.yrbl-wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;

  img {
    height: 500px;
  }
}
