// Name: one-dark 1.1.1
// Author: Török Ádám (http://github.com/Aerobird98)
// Original Atom One Dark Theme (https://github.com/atom/one-dark-ui & https://github.com/atom/one-dark-syntax)

// basic
.CodeMirror {
  &.cm-s-one-dark {
    color: #abb2bf;

    .CodeMirror-cursor {
      border-left: 2px solid #56b6c2;
    }

    .CodeMirror-lines {
      background-color: transparent;
    }

    // addon: edit/machingbrackets.js & addon: edit/matchtags.js
    .CodeMirror-matchingbracket,
    .CodeMirror-matchingtag {
      border-bottom: 2px solid #56b6c2;
      color: #abb2bf !important;
      background-color: transparent;
    }

    .CodeMirror-nonmatchingbracket {
      border-bottom: 2px solid #e06c75;
      color: #abb2bf !important;
      background-color: transparent;
    }

    // addon: fold/foldgutter.js
    .CodeMirror-foldmarker,
    .CodeMirror-foldgutter,
    .CodeMirror-foldgutter-open,
    .CodeMirror-foldgutter-folded {
      border: none;
      text-shadow: none;
      color: #5c6370 !important;
      background-color: transparent;
    }

    // addon: selection/active-line.js
    .CodeMirror-activeline-background {
      background-color: rgba(153, 187, 255, 0.04);
    }

    // basic syntax
    .cm-atom,
    .cm-attribute,
    .cm-number,
    .cm-qualifier,
    .cm-strong {
      color: #d19a66;
    }

    .cm-bracket,
    .cm-meta,
    .cm-punctuation,
    .cm-m-css.cm-property {
      color: #abb2bf;
    }

    .cm-builtin,
    .cm-error,
    .cm-header,
    .cm-negative,
    .cm-positive,
    .cm-tag,
    .cm-variable {
      color: #e06c75;
    }

    .cm-comment,
    .cm-quote {
      color: #5c6370;
    }

    .cm-def {
      color: #e5c07b;
    }

    .cm-em,
    .cm-keyword {
      color: #c678dd;
    }

    .cm-comment,
    .cm-em,
    .cm-quote {
      font-style: italic;
    }

    .cm-link,
    .cm-string {
      color: #98c379;
    }

    .cm-link {
      border-bottom: 1px solid #98c379;
    }

    .cm-operator,
    .cm-property,
    .cm-m-css.cm-atom,
    .cm-m-css.cm-builtin,
    .cm-m-lua.cm-variable {
      color: #56b6c2;
    }

    .cm-strong {
      font-weight: bold;
    }

    .cm-m-css.cm-variable {
      color: #828997;
    }
  }
}
