table.table {
  word-wrap: break-word;
  max-width: 100%;
  text-align: left;
  margin-top: $spacing-width;

  tr td:first-of-type,
  tr th:first-of-type {
    padding-left: $spacing-vertical * 2/3;
  }

  tr td:last-of-type,
  tr th:last-of-type {
    padding-right: $spacing-vertical * 2/3;
  }

  thead {
    border-bottom: 1px solid var(--color-grey);
  }

  th,
  td {
    font-size: 13px;
  }

  th {
    font-family: 'metropolis-semibold';
  }

  td {
    font-family: 'metropolis-medium';
    color: var(--color-grey-dark);
    padding: $spacing-vertical * 1/6 0;

    .btn:not(.btn--link) {
      display: inline;
      margin-left: $spacing-vertical * 1/3;
    }
  }

  .table__item-label {
    font-size: 12px;
  }

  .table__item--actionable span + .btn {
    padding-left: $spacing-vertical * 1/3;
  }

  tbody {
    tr {
      &:nth-child(even):not(.odd) {
        background-color: var(--table-item-odd);
      }
      &:nth-child(odd):not(.even) {
        background-color: var(--table-item-even);
      }
      &.thead {
        background: none;
      }
      td {
        border: 0 none;
      }
    }
  }
}

table.table--stretch {
  width: 100%;
}

table.table--help {
  td:nth-of-type(1) {
    color: var(--color-black);
    font-family: 'metropolis-semibold';
    min-width: 130px;
  }
}

table.table--transactions {
  td:nth-of-type(1) {
    width: 17.5%;
  }
  td:nth-of-type(2) {
    width: 27.5%;
  }
  td:nth-of-type(3) {
    width: 22.5%;
  }
  td:nth-of-type(4) {
    width: 17.5%;
  }
  td:nth-of-type(5) {
    width: 15%;
  }
}
