table.table,
.markdown-preview table {
  word-wrap: break-word;
  max-width: 100%;
  text-align: left;

  tr {
    td:first-of-type,
    th:first-of-type {
      padding-left: $spacing-vertical * 2/3;
    }

    td:last-of-type,
    th:last-of-type {
      padding-right: $spacing-vertical * 2/3;
    }

    th,
    td {
      font-size: 13px;
    }
  }

  th {
    font-family: 'metropolis-semibold';
    border: 0;
    padding: $spacing-vertical * 2/3 $spacing-vertical * 1/3;
  }

  td {
    font-family: 'metropolis-medium';
    color: $lbry-gray-5;
    padding: $spacing-vertical * 1/6 $spacing-vertical * 1/3;

    .btn:not(.btn--link) {
      display: inline;
      margin-left: $spacing-vertical * 1/3;
    }
  }

  .table__item-label {
    font-size: 12px;
  }

  .table__item--actionable span + .btn {
    padding-left: $spacing-vertical * 1/3;
  }

  thead {
    color: $lbry-black;
    border-bottom: 1px solid $lbry-gray-1;
  }

  tbody {
    tr {
      border-bottom: 1px solid $lbry-gray-1; // "--table-item-border" does not exist
      padding: 8px 0;

      &:nth-child(even) {
        background-color: $lbry-gray-1;
      }

      &:nth-child(odd) {
        background-color: transparent;
      }

      &.thead {
        background: none;
      }

      td {
        border: 0 none;
      }
    }
  }
}

table {
  &.table--help {
    td:nth-of-type(1) {
      color: $lbry-black;
      font-family: 'metropolis-semibold';
      min-width: 130px;
    }

    td:nth-of-type(2) {
      // Tourniquets text over 20vw
      max-width: 20vw;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $lbry-gray-5;
    }
  }

  &.table--stretch {
    width: 100%;
  }

  &.table--transactions {
    td:nth-of-type(1) {
      width: 25%;
    }

    td:nth-of-type(2) {
      width: 20%;
    }

    td:nth-of-type(3) {
      width: 22.5%;
    }

    td:nth-of-type(4) {
      width: 17.5%;
    }

    td:nth-of-type(5) {
      width: 15%;
    }
  }
}
