table.table,
.markdown-preview table {
  max-width: 100%;
  text-align: left;
  word-wrap: break-word;

  tr {
    td:first-of-type,
    th:first-of-type {
      padding-left: $spacing-vertical * 2/3;
    }

    td:last-of-type,
    th:last-of-type {
      padding-right: $spacing-vertical * 2/3;
    }

    th,
    td {
      font-size: 13px;
    }
  }

  th {
    border: none;
    font-weight: 600;
    padding: $spacing-vertical * 2/3 $spacing-vertical * 1/3;
  }

  td {
    color: $lbry-gray-5;
    font-weight: 500;
    padding: $spacing-vertical * 1/6 $spacing-vertical * 1/3;

    .btn:not(.btn--link) {
      display: inline;
      margin-left: $spacing-vertical * 1/3;
    }
  }

  .table__item-label {
    font-size: 12px;
  }

  .table__item--actionable span + .btn {
    padding-left: $spacing-vertical * 1/3;
  }

  thead {
    border-bottom: 1px solid rgba($lbry-gray-1, 0.7);
    color: $lbry-black;
  }

  tbody {
    tr {
      border-bottom: 1px solid rgba($lbry-gray-1, 0.3);
      padding: 8px 0;

      &:nth-child(even) {
        background-color: rgba($lbry-gray-1, 0.3);
      }

      &:nth-child(odd) {
        background-color: transparent;
      }

      &.thead {
        background: none;
      }

      td {
        border: 0 none;
      }
    }
  }
}

table {
  &.table--help {
    td:nth-of-type(1) {
      color: $lbry-black;
      font-weight: 600;
      min-width: 130px;
    }

    td:nth-of-type(2) {
      color: $lbry-gray-5;
      max-width: 20vw; // Tourniquets text over 20vw
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.table--stretch {
    width: 100%;
  }

  &.table--transactions {
    td:nth-of-type(1) {
      width: 25%;
    }

    td:nth-of-type(2) {
      width: 20%;
    }

    td:nth-of-type(3) {
      width: 22.5%;
    }

    td:nth-of-type(4) {
      width: 17.5%;
    }

    td:nth-of-type(5) {
      width: 15%;
    }
  }
}
