// Taken from react-toggle/style.css
.react-toggle {
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &:hover {
    &:not(.react-toggle--disabled) {
      .react-toggle-track {
        background-color: $lbry-black;
      }
    }

    &.react-toggle--disabled {
      .react-toggle-track {
        background-color: $lbry-gray-5;
      }
    }
  }

  &:not(.react-toggle--checked) {
    .react-toggle-track:not(:hover) {
      background-color: $lbry-gray-5;
    }

    .react-toggle-track-check {
      opacity: 0;
    }

    .react-toggle-thumb {
      left: 1px;
    }
  }

  &:not(.react-toggle--disabled):not(.react-toggle--checked) {
    .react-toggle-thumb {
      border-color: $lbry-gray-5;
    }
  }

  &.react-toggle--disabled {
    .react-toggle-thumb {
      border-color: $lbry-gray-5;
    }
  }
}

.react-toggle--checked {
  &:hover {
    &:not(.react-toggle--disabled) {
      .react-toggle-track {
        background-color: $lbry-black;
      }

      .react-toggle-thumb {
        border-color: $lbry-black;
      }
    }
  }

  &:not(:hover) {
    .react-toggle-thumb {
      border-color: $lbry-teal-5;
    }
  }

  .react-toggle-thumb {
    left: 22px;
  }

  .react-toggle-track {
    background-color: $lbry-teal-5;
  }

  .react-toggle-track-check {
    opacity: 1;
  }

  .react-toggle-track-x {
    opacity: 0;
  }
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  transition: opacity 0.25s;
}

.react-toggle-screenreader-only {
  width: 1px;
  height: 1px;

  border: none !important;
  clip: rect(0 0 0 0);
  margin: -1px !important;
  overflow: hidden;
  position: absolute;
}

.react-toggle-thumb {
  width: 17px;
  height: 17px;

  background-color: $lbry-gray-1;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  transition: all 0.25s;
}

.react-toggle-track {
  width: 40px;
  height: 19px;
  border-radius: 30px;

  &:not(.react-toggle--disabled) {
    transition: all 0.2s;
  }
}

.react-toggle-track-check,
.react-toggle-track-x {
  align-items: center;
  display: flex;
  height: 19px;
  justify-content: center;
  line-height: 0;
  position: absolute;
  transition: opacity 0.25s;
  top: 0;
}

.react-toggle-track-check {
  left: 6px;
  width: 14px;
}

.react-toggle-track-x {
  right: 8px;
  width: 10px;
}
