// Taken from react-toggle/style.css
// Edited to add the teal color, nothing else
.react-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-bottom: auto;
  position: relative;

  &:hover {
    &:not(.react-toggle--disabled) {
      .react-toggle-track {
        background-color: $lbry-black;
      }
    }
  }
}

.react-toggle--checked {
  &:hover {
    &:not(.react-toggle--disabled) {
      .react-toggle-track {
        background-color: $lbry-black;
      }
    }
  }

  .react-toggle-track {
    background-color: $lbry-teal-5;
  }

  .react-toggle-track-check {
    opacity: 1;
    transition: opacity 0.25s ease;
  }

  .react-toggle-track-x {
    opacity: 0;
  }

  .react-toggle-thumb {
    border-color: $lbry-teal-5;
    left: 22px;
  }
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  transition: opacity 0.25s;
}

.react-toggle-screenreader-only {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: none;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}

.react-toggle-thumb {
  width: 17px;
  height: 17px;
  top: 1px;
  left: 1px;

  background-color: $lbry-gray-1;
  border: 1px solid $lbry-gray-5;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  transition: all 0.25s ease;
}

.react-toggle-track {
  width: 40px;
  height: 19px;

  background-color: $lbry-gray-5;
  border-radius: 30px;
  padding: 0;
  transition: all 0.2s ease;
}

.react-toggle-track-check {
  width: 14px;
  height: 10px;
  top: 0;
  left: 6px;
  bottom: 0;

  line-height: 0;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0;
  position: absolute;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  right: 8px;

  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 1;
  position: absolute;
  transition: opacity 0.25s ease;
}
