.tooltip {
  position: relative;
  display: inline-block;
}

// When there is a label for the tooltip and not just using a button or icon
.tooltip--label {
  font-size: 14px;
  padding-left: $spacing-vertical * 1/3;

  .tooltip__body {
    margin-top: 5px;
  }
}

.tooltip--icon {
  margin-top: 5px;
}

/* Tooltip text */
.tooltip {
  .tooltip__body {
    background-color: var(--tooltip-bg);
    font-family: 'metropolis-medium';
    font-size: 12px;
    color: var(--tooltip-color);
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    width: 200px;
    text-align: center;
    white-space: pre-wrap;
    padding: $spacing-vertical * 1/3;
    visibility: hidden;
  }

  .tooltip__body--short {
    width: 130px;
  }

  .tooltip__body::after {
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    border-width: 5px;
    border-style: solid;
  }

  &.tooltip--on-component {
    .tooltip__body {
      margin-top: 10px;
    }
  }
}

.tooltip--top {
  .tooltip__body {
    bottom: 100%;
    left: 50%;
    margin-left: -100px;

    &.tooltip__body--short {
      margin-left: -65px;
    }
  }

  &::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: var(--tooltip-bg) transparent transparent transparent;
  }
}

.tooltip--right {
  .tooltip__body {
    margin-top: -30px;
    margin-left: 110%;

    &::after {
      top: 17px;
      right: 100%; /* To the left of the tooltip */
      margin-top: -5px;
      border-color: transparent var(--tooltip-bg) transparent transparent;
    }
  }
}

.tooltip--bottom {
  .tooltip__body {
    top: 90%;
    left: 50%;
    margin-left: -100px;

    &.tooltip__body--short {
      margin-left: -65px;
    }

    &::after {
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-color: transparent transparent var(--tooltip-bg) transparent;
    }
  }
}

.tooltip--left .tooltip__body {
  top: -5px;
  right: 105%;

  &::after {
    top: 17px;
    left: 100%;
    margin-top: -5px;
    border-color: transparent transparent transparent var(--tooltip-bg);
  }
}

.tooltip:hover .tooltip__body {
  visibility: visible;
}
