.video__embedded {
  position: relative;
  background-color: var(--color-black);
  min-height: var(--height-video-embedded-min);
  position: relative;
  display: flex;
  align-items: center;

  video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// Video thumbnail with play/download button
.video__cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(.card--obscured) {
    background-color: var(--color-black);
  }
}

.video__loading-screen {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video__loading-text {
  color: var(--color-white);
}
