
.video__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  z-index: 1;
}

.video__back {
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.video__back-link {
  font-size: 50px;
}

.video__back-label {
  opacity: 0.5;
  transition: opacity 100ms ease-in;
}

.video__back-link:hover + .video__back-label {
  opacity: 1;
}

$video-back-background: #333;
$video-back-size: 20px;

.video__back-label-arrow {
  color: $video-back-background;
  font-size: $video-back-size;
}

.video__back-label-content {
  display: inline-block;
  margin-left: -2px;
  font-size: $video-back-size;
  padding: $spacing-vertical / 2;
  border-radius: 3px;
  background-color: $video-back-background;
  color: #fff;
  pointer-events: none;
}
