//
// Colors are taken from this color pallette
// https://tailwindcss.com/docs/customizing-colors
// New colors should be also taken from the same color palette (if possible)
//
:root {
  // Generic colors
  --color-primary: #047857;
  --color-primary-alt: #e4f4ef;
  --color-primary-alt-2: #065f46;
  --color-primary-alt-3: #10b981;
  --color-secondary: #1e3a8a;
  --color-secondary-alt: #dbeafe;
  --color-secondary-alt-2: #bfdbfe;
  --color-secondary-alt-3: #1e40af;
  --color-tertiary: #5b21b6;
  --color-tertiary-alt: #f5f3ff;
  --color-danger: #991b1b;
  --color-danger-alt: #fecaca;
  --color-warning: #fff58c;
  --color-black: #111;
  --color-white: #fdfdfd;
  --color-white-alt: #fafafa;
  --color-gray-1: #eff1f4;
  --color-gray-2: #d8dde1;
  --color-gray-3: #ced4da;
  --color-gray-4: #abb1b7;
  --color-gray-5: #666a6d;
  --color-gray-6: #4b5563;
  --color-gray-7: #374151;
  --color-gray-8: #1f2937;
  --color-gray-9: #1f2c47;
  --color-gray-10: #111827;
  --color-amber: #f26522;

  // Structure
  --color-text: var(--color-black);
  --color-text-subtitle: var(--color-gray-5);
  --color-text-inverse: #fdfdfd;
  --color-background: #fafafa;
  --color-background--splash: #212529;
  --color-border: #ededed;
  --color-background-overlay: #21252980;
  --color-card-background: #ffffff;
  --color-card-background-highlighted: #f1f7fe;

  // Text
  --color-text-selection-bg: var(--color-secondary-alt);
  --color-text-selection: var(--color-secondary);
  --color-text-empty: #999999;
  --color-text-help: #999999;
  --color-text-subtitle: #767676;
  --color-text-warning: #212529;
  --color-help-warning-bg: #fef3c7;
  --color-help-warning-text: #555555;
  --color-text-warning--background: var(--lbry-yellow-1);
  --color-blockquote: var(--color-gray-3);
  --color-blockquote-bg: var(--color-gray-1);
  --color-text-error: var(--color-danger);
  --color-error: var(--color-danger-alt);
  --color-tooltip-bg: #222;
  --color-tooltip-text: #fafafa;

  // Header
  --color-header-background: #ffffff;
  --color-header-button: var(--color-button-alt-bg);
  --color-header-button-active: var(--color-primary-alt);
  --color-header-button-hover: var(--color-primary-alt);

  // Button
  --color-button-primary-bg: var(--color-primary);
  --color-button-primary-text: var(--color-primary-alt);
  --color-button-primary-bg-hover: var(--color-primary-alt-2);
  --color-button-primary-hover-text: var(--color-primary-alt);
  --color-button-secondary-bg: var(--color-secondary-alt);
  --color-button-secondary-border: var(--color-secondary-alt);
  --color-button-secondary-text: var(--color-secondary);
  --color-button-secondary-bg-hover: var(--color-secondary-alt-2);
  --color-button-alt-bg: var(--color-gray-1);
  --color-button-alt-text: var(--color-text);
  --color-button-alt-bg-hover: var(--color-gray-2);
  --color-button-toggle-text: var(--color-primary);
  --color-button-toggle-bg: var(--color-primary-alt);
  --color-button-border: var(--color-gray-3);
  --color-link: var(--color-primary);
  --color-link-hover: var(--color-black);
  --color-link-focus-bg: var(--color-gray-1);

  // Input
  --color-input-color: var(--color-black);
  --color-input-label: var(--color-gray-5);
  --color-input-placeholder: var(--color-gray-8);
  --color-input-bg: var(--color-gray-1);
  --color-input-border: var(--color-border);
  --color-input-border-active: var(--color-secondary);
  --color-input-toggle: var(--color-secondary);
  --color-input-toggle-bg: var(--color-gray-1);
  --color-input-toggle-bg-hover: var(--color-secondary-alt);
  --color-input-prefix-bg: var(--color-gray-2);
  --color-input-prefix-border: var(--color-gray-5);
  --color-input-bg-selected: var(--color-primary-alt);
  --select-toggle-background: url("data:image/svg+xml,%3Csvg viewBox='0 0 96 96' xmlns='http://www.w3.org/2000/svg' fill='%23212529'%3E%3Cpath d='M17.172, 31.172c1.562, -1.562 4.095, -1.562 5.656, 0l25.172, 25.171l25.172, -25.171c1.562, -1.562 4.095, -1.562 5.656, 0c1.562, 1.562 1.562, 4.095 0, 5.656l-28, 28c-1.562, 1.562 -4.095, 1.562 -5.656, 0l-28, -28c-0.781, -0.781 -1.172, -1.805 -1.172, -2.828c0, -1.023 0.391, -2.047 1.172, -2.828Z'/%3E%3C/svg%3E%0A");

  // Navigation
  --color-navigation-icon: var(--color-gray-5);
  --color-navigation-link: var(--color-gray-5);
  --color-navigation-active: var(--color-primary-alt);
  --color-navigation-active-text: var(--color-primary);
  --color-navigation-hover: var(--color-gray-1);
  --color-navigation-hover-text: var(--color-primary);

  // Tags
  --color-tag: var(--color-gray-5);
  --color-tag-bg: var(--color-button-alt-bg);
  --color-tag-hover: var(--color-primary-alt);
  --color-tag-bg-hover: var(--color-button-primary-bg);

  // Menu
  --color-menu-background: var(--color-header-background);
  --color-menu-background--active: var(--color-card-background-highlighted);
  --color-menu-icon: var(--color-navigation-link);

  // Comments
  --color-comment-menu: var(--color-gray-3);
  --color-comment-menu-hovering: var(--color-gray-6);
  --color-comment-highlighted: #fff2d9;
  --color-comment-threadline: var(--color-gray-1);
  --color-comment-threadline-hover: var(--color-gray-4);

  // Icons
  --color-follow-bg: #ffd4da;
  --color-follow-icon: #e2495e;
  --color-view-bg: var(--color-secondary-alt);
  --color-view-icon: var(--color-secondary);

  // Snack
  --color-snack-bg: var(--color-primary);
  --color-snack: var(--color-white);
  --color-snack-bg-error: var(--color-danger);
  --color-snack-upgrade: var(--color-tertiary);

  // Superchat
  --color-superchat-text: var(--color-black);
  --color-superchat: var(--color-cost);
  --color-superchat__light: #fcd34d50;
  --color-superchat-2: #fde68a;
  --color-superchat-3: #fef3c7;
  --color-superchat-3__light: #fef3c750;
  --color-superchat-4: #fffbeb;

  // Editor
  --color-editor-cursor: var(--color-text);
  --color-editor-quote: #707070;
  --color-editor-tag: #ea9400;
  --color-editor-attr: #04b0f4;
  --color-editor-string: #ff7451;
  --color-editor-inline-code-fg: var(--color-text);
  --color-editor-inline-code-fg-preview: #2e3439;
  --color-editor-inline-code-bg: rgba(157, 161, 165, 0.3);
  --color-editor-inline-code-bg-preview: #d0e8ff;
  --color-editor-selected: #add6ff;
  --color-editor-link: var(--color-link);
  --color-editor-url: var(--color-editor-string);
  --color-editor-hr: var(--color-editor-tag);
  --color-editor-hr-preview: #cccccc;

  // Other
  --color-focus: #bfdbfe;
  --color-notification: #cc190f;
  --color-live: #cc190f;
  --color-nag: var(--color-orange);
  --color-cost: #fcd34d;
  --color-notice: #fef3ca;
  --color-purchased: var(--color-cost);
  --color-purchased-alt: #ffebc2;
  --color-purchased-text: var(--color-gray-5);
  --color-thumbnail-background: var(--color-gray-1);
  --color-spinner-light: var(--color-white);
  --color-spinner-dark: var(--color-black);
  --color-placeholder-background: var(--color-gray-1);
  --color-file-viewer-background: var(--color-card-background);
  --color-tabs-background: var(--color-card-background);
  --color-tab-divider: var(--color-primary);
  --color-modal-background: var(--color-card-background);

  // Ads
  --color-ads-background: #fae5ff;
  --color-ads-link: var(--color-link);

  // Scrollbar
  --color-scrollbar-thumb-bg: rgba(0, 0, 0, 0.2);
  --color-scrollbar-track-bg: transparent;
}
