// Generic html styles used across the App
// component specific styling should go in the component scss file

*::selection {
  background-color: var(--color-text-selection-bg);
  color: var(--color-text-selection);
}

*:focus {
  outline: none;
}

html {
  @include font-sans;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;

  color: var(--color-text);
  background-color: var(--color-background);
  font-size: 16px;
}

body {
  font-size: 1em;
  cursor: default;
  line-height: 1.5;
  font-weight: 400;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

hr {
  height: 1px;
  background-color: var(--color-gray-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

p,
ol,
ul {
  & + p,
  & + ul,
  & + ol {
    margin-top: var(--spacing-s);
  }
}

ul,
ol {
  li {
    position: relative;
    list-style-position: outside;
    margin: var(--spacing-xs) 0;
    margin-left: var(--spacing-s);
    margin-bottom: 0;

    @media (min-width: $breakpoint-small) {
      margin-left: var(--spacing-xl);
    }
  }
}

.ul--no-style {
  list-style: none;
  margin-bottom: 0;

  li {
    margin: 0;
  }
}

dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: visible;
  margin-top: var(--spacing-m);
}

dt {
  flex-basis: 50%;
  text-align: left;
  font-weight: bold;
}

.dt__text {
  margin-right: var(--spacing-s);
}

dd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 45%;
  flex-grow: 1;
  margin: 0;
  text-align: right;

  .help--warning {
    margin-bottom: 0;
    margin-top: var(--spacing-s);
    text-align: left;
  }
}

.dd__text {
  display: flex;
  justify-content: flex-end;
}

.dd__button {
  margin-right: var(--spacing-s);
}

dt,
dd {
  padding: var(--spacing-m) var(--spacing-s);
  border-top: 1px solid var(--color-border);

  &:last-of-type {
    border-bottom: 1px solid var(--color-border);
  }
}

blockquote {
  padding: 0 0.8rem;
  margin-top: var(--spacing-xxs);
  margin-bottom: var(--spacing-xxs);
  opacity: 0.9;
  border-left: 0.2rem solid var(--color-blockquote);
  color: var(--color-text-subtitle);
}

code {
  @include font-mono;
  font-size: 1.5rem;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
}

img,
a {
  -webkit-user-drag: none;
}

img {
  // Hide alt text when an image fails to load
  text-indent: -9999px;
}

textarea {
  min-height: calc(var(--height-input) * 2);
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  > * {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 15rem;
    margin-bottom: var(--spacing-l);

    &:first-child {
      flex-basis: 1;
      margin-right: 1.5rem;
    }
  }

  @media (max-width: $breakpoint-small) {
    flex-direction: column;

    & > * {
      margin: 0;
      margin-bottom: var(--spacing-m);
      width: 100%;
      flex-basis: auto;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.column {
  display: flex;

  .column__item:not(:first-child) {
    padding-left: $spacing-width * 2/3;
    flex: 1;
  }

  .column__item--between {
    justify-content: space-between;
  }

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
    .column__item:not(:first-child) {
      padding-left: 0;
      flex: 1;
    }
    & > * {
      margin: 0;
      margin-bottom: var(--spacing-m);
      width: 100%;
      flex-basis: auto;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}

.truncated-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.busy-indicator__loader {
  min-width: 16px;
  min-height: 8px;
  margin: -1rem 0;
  padding: 0 30px;

  background: url('../../static/img/busy.gif') no-repeat center center;
  display: inline-block;
  vertical-align: middle;

  &:first-child {
    padding-left: 2px;
  }

  &:last-child {
    padding-right: 2px;
  }
}

.help {
  display: block;
  font-size: var(--font-xsmall);
  color: var(--color-text-help);
  margin-top: var(--spacing-s);

  &:not(:last-child) {
    margin-bottom: var(--spacing-m);
  }

  .button--link + .button--link {
    margin-left: var(--spacing-s);
  }

  @media (min-width: $breakpoint-small) {
    font-size: var(--font-small);
  }
}

.help--warning {
  @extend .help;
  padding: var(--spacing-s);
  color: var(--color-black);
  border-radius: var(--border-radius);
  background-color: var(--color-help-warning-bg);
  color: var(--color-help-warning-text);
  margin-bottom: var(--spacing-s);
  border: 1px solid var(--color-border);
}

.help--notice {
  @extend .help--warning;
  background-color: var(--color-card-background-highlighted);
}

.help--inline {
  @extend .help;
  margin-top: 0;
  margin-bottom: 0;

  &:not(:last-child) {
    margin-bottom: 0;
  }

  .icon--help {
    top: 3px;
    margin-left: 2px;
  }
}

.help--card-actions {
  @extend .help;
  margin-top: var(--spacing-m);
}

.help--dt {
  @extend .help;
  display: inline-block;
  margin-top: 0;
}

.help--spendable {
  margin-left: var(--spacing-xxs);
}

.empty {
  color: var(--color-text-empty);
  font-style: italic;
}

.empty--centered {
  text-align: center;
  padding: calc(var(--spacing-l) * 3) 0;
}

.qr-code {
  width: 134px;
  height: 134px;
  border: 3px solid white;

  &.qr-code--right-padding {
    margin-right: $spacing-vertical * 2/3;
  }

  &.qr-code--top-padding {
    margin-top: $spacing-vertical * 2/3;
  }
}

.error__wrapper {
  background-color: var(--color-error);
  padding: var(--spacing-s);
  border-radius: var(--border-radius);
}

.error__wrapper--no-overflow {
  @extend .error__wrapper;
  max-height: 10rem;
  overflow: hidden;
}

.error__text {
  color: var(--color-text-error);
}

.help--error {
  @extend .help;
  color: var(--color-text-error);
}

.thumbnail-preview {
  width: var(--thumbnail-preview-width);
  height: var(--thumbnail-preview-height);
  background-color: var(--color-thumbnail-background);
  padding: var(--spacing-s);
  font-size: var(--font-small);
  border-radius: var(--border-radius);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbnail-picker__preview {
  width: calc(var(--thumbnail-preview-width) * 1.5);
  height: calc(var(--thumbnail-preview-height) * 1.5);
  background-color: var(--color-thumbnail-background);
  padding: var(--spacing-s);
  font-size: var(--font-small);
  border-radius: var(--border-radius);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.emoji {
  font-size: 1.3em;
}

.download-text {
  font-size: var(--font-xsmall);
}

.notice-message {
  position: relative;
  border-radius: var(--border-radius);
  padding: var(--spacing-l);
  background-color: var(--color-primary-alt);

  ~ .card {
    margin-top: var(--spacing-m);
  }
}

.notice-message--loud {
  @extend .notice-message;
  background-color: #fef1f6;
  color: var(--color-black);
  font-weight: bold;

  .button {
    color: #fa6165;
  }
}

.privacy-img {
  height: 10rem;
}

.confirm__label {
  @extend label;
}

.confirm__value {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-m);
  font-size: var(--font-large);

  &:last-child {
    margin-bottom: 0;
  }
}

.confirm__value--no-gap {
  margin-bottom: 0;
}

.confirm__value--subitem {
  font-size: var(--font-xsmall);
}

.mobile-only {
  display: none;

  @media (max-width: $breakpoint-small) {
    display: block;
  }
}

.mobile-hidden {
  @media (max-width: $breakpoint-small) {
    display: none !important;
  }
}

.ads-test {
  height: 50vh;
  position: relative;

  .video-js {
    height: 50vh;
  }

  .video-js .vjs-tech {
    height: 50vh;
  }
}

.adspruce-bannerspot {
  height: 5rem;
  width: 100%;
}

.release__notes {
  max-height: 50vh;
  overflow: scroll;
}

.signup__odysee-logo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  img {
    margin-top: var(--spacing-xl);
    height: 4rem;
  }
}

.home__meme {
  text-align: center;
  font-weight: bold;
  line-height: 1;
  font-size: 1rem;
  margin-bottom: var(--spacing-m);

  @media (min-width: $breakpoint-small) {
    font-size: 1.2rem;
    margin-bottom: var(--spacing-l);
  }
}
