@mixin placeholder {
  animation: pulse 2s infinite ease-in-out;
  background-color: $lbry-gray-1;
  border-radius: var(--card-radius);

  [data-mode='dark'] & {
    background-color: var(--dm-color-04);
  }
}

@mixin mediaThumbHoverZoom {
  .media__thumb,
  img {
    transition: all 0.2s ease;
  }

  &:hover {
    .media__thumb,
    img {
      transform: scale(1.05);
    }
  }
}

@mixin focus {
  box-shadow: 0 0 0 2px $lbry-blue-1;
}
