// Mozilla prefixes are unnecessary for app, necessary for LBRY Web

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  border: none;
  box-sizing: inherit;
  outline: 0 !important;
  user-select: none;
}

area,
input,
label,
select,
summary,
textarea {
  // Remove touch delay on supported devices
  touch-action: manipulation;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ol,
ul {
  list-style-position: inside;

  > li {
    list-style-position: inside;
  }
}

ul {
  list-style-type: none;
}

label[for] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

dl {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

textarea {
  border: 1px solid black; //gray-2;
  padding: $spacing-vertical * 1/3;
  width: 100%;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
