@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../static/font/inter/300.woff2') format('woff2'), url('../../static/font/inter/300.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../../static/font/inter/300i.woff2') format('woff2'),
    url('../../static/font/inter/300i.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../static/font/inter/400.woff2') format('woff2'), url('../../static/font/inter/400.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../../static/font/inter/400i.woff2') format('woff2'),
    url('../../static/font/inter/400i.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../static/font/inter/700.woff2') format('woff2'), url('../../static/font/inter/700i.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../../static/font/inter/700i.woff2') format('woff2'),
    url('../../static/font/inter/700i.woff') format('woff');
}
