// Generic html styles used accross the App
// component specific styling should go in the component scss file

@font-face {
  font-family: 'metropolis-bold';
  src: url('../../../static/font/metropolis/bold.eot');
  src: url('../../../static/font/metropolis/bold.eot?#iefix') format('embedded-opentype'),
    url('../../../static/font/metropolis/bold.woff') format('woff'),
    url('../../../static/font/metropolis/bold.ttf') format('truetype'),
    url('../../../static/font/metropolis/bold.svg#metropolis-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metropolis-semibold';
  src: url('../../../static/font/metropolis/semibold.eot');
  src: url('../../../static/font/metropolis/semibold.eot?#iefix') format('embedded-opentype'),
    url('../../../static/font/metropolis/semibold.woff') format('woff'),
    url('../../../static/font/metropolis/semibold.ttf') format('truetype'),
    url('../../../static/font/metropolis/semibold.svg#metropolis-semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metropolis-medium';
  src: url('../../../static/font/metropolis/medium.eot');
  src: url('../../../static/font/metropolis/medium.eot?#iefix') format('embedded-opentype'),
    url('../../../static/font/metropolis/medium.woff') format('woff'),
    url('../../../static/font/metropolis/medium.ttf') format('truetype'),
    url('../../../static/font/metropolis/medium.svg#metropolis-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: $lbry-white;
  height: 100%;
}

body {
  color: $lbry-black;
  font-family: 'metropolis-medium';
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  overflow: hidden;
}

code {
  background-color: $lbry-gray-1;
  font: 1.5em Consolas, 'Lucida Console', 'Source Sans', monospace;
}

// Without this buttons do not have the app font
button {
  font-family: inherit;
  font-weight: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

input {
  background-color: transparent;
  border-bottom: var(--input-border-size) dotted $lbry-gray-5;
  color: $lbry-black;
  cursor: text;
  line-height: 1;

  &::placeholder {
    color: $lbry-gray-5;
    opacity: 0.5;
  }

  &[type='checkbox'],
  &[type='file'],
  &[type='radio'],
  &[type='select'] {
    cursor: pointer;
  }

  &[type='file'] {
    border-bottom: none;
  }

  &.input-copyable {
    background-color: $lbry-gray-1;
    border: 1px dashed $lbry-gray-3;
    color: $lbry-gray-5;
    flex: 1;
    padding: 10px 16px;
    text-overflow: ellipsis;
  }

  &:not(.input-copyable):not(.wunderbar__input):not(:placeholder-shown):not(:disabled) {
    &:hover {
      border-color: rgba($lbry-black, 0.8);
    }

    border-bottom: var(--input-border-size) solid $lbry-gray-5;
  }

  &:disabled {
    border-bottom: var(--input-border-size) solid $lbry-gray-3;
    color: $lbry-gray-3;
    cursor: default;
  }
}

textarea {
  border: 1px solid $lbry-gray-2;
  font-size: 0.8em;
  padding: $spacing-vertical * 1/3;
  width: 100%;
}

label[for] {
  cursor: pointer;
}

button + input {
  margin-left: $spacing-vertical * 2/3;
}

dl {
  margin: 0;
  padding: 0;

  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

dt {
  margin: 0;
  padding: 0;

  float: left;
  width: 20%;
}

dd {
  margin: 0;
  padding: 0;

  float: left;
  width: 80%;
}

p:not(:first-of-type) {
  margin-top: $spacing-vertical * 1/3;
}

.page {
  top: var(--header-height);
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba($lbry-gray-1, 0.3);
  display: flex;
  position: absolute;
  z-index: 0;

  @media only screen and (min-width: $medium-breakpoint) {
    grid-template-columns: var(--side-nav-width-m) auto;
  }

  @media only screen and (min-width: $large-breakpoint) {
    grid-template-columns: var(--side-nav-width-l) auto;
  }
}

/*
  Page content
*/
.content {
  flex: 1;
  overflow: auto;
}

.main {
  margin: auto;
  padding: $spacing-width $spacing-width;
  overflow: hidden;
}

.main--contained {
  margin: auto;
  max-width: 1000px;
}

.main--no-padding {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}

.main--extra-padding {
  padding-right: 100px;
  padding-left: 100px;
}

.main--for-content {
  display: flex;
  padding: $spacing-width * 2/3;
  justify-content: center;
}

.page__header {
  padding: $spacing-vertical * 2/3 $spacing-vertical * 2/3 0 $spacing-vertical * 2/3;
}

.page__title {
  // not currently using page titles on any page
}

.page__empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  text-align: center;
}

.columns {
  display: flex;
  justify-content: space-between;

  > * {
    flex-basis: 0;
    flex-grow: 1;

    &:not(:first-of-type):not(:last-of-type) {
      margin: 0 $spacing-vertical / 3;
    }

    &:first-of-type {
      margin-right: $spacing-vertical / 3;
    }

    &:last-of-type {
      margin-left: $spacing-vertical / 3;
    }
  }
}

// Custom text selection
*::selection {
  background-color: $lbry-teal-1;
  color: $lbry-white;
}

.credit-amount {
  font-size: 0.9em;
  white-space: nowrap;
}

.credit-amount--large {
  font-family: 'metropolis-semibold';
  font-size: 36px;
}

.credit-amount--file-page {
  border-radius: 5px;
  font-family: 'metropolis-bold';
  padding: 5px;
}

.credit-amount--free {
  &:not(.credit-amount--file-page) {
    color: $lbry-blue-5;
  }

  &.credit-amount--file-page {
    background-color: $lbry-blue-2;
    color: $lbry-blue-5;
  }
}

.credit-amount--cost {
  &:not(.credit-amount--file-page) {
    color: $lbry-gray-5;
  }

  &.credit-amount--file-page {
    background-color: $lbry-yellow-3;
    color: $lbry-black;
  }
}

.credit-amount--inherit {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
}

.divider__horizontal {
  border-top: $lbry-gray-2;
  margin: 16px 0;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.column {
  display: flex;

  .column__item:not(:first-child) {
    padding-left: $spacing-width * 2/3;
  }
}

.truncated-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.busy-indicator__loader {
  min-width: 16px;
  min-height: 8px;
  margin: -1em 0;
  padding: 0 30px;

  background: url('../../../static/img/busy.gif') no-repeat center center;
  display: inline-block;
  vertical-align: middle;

  &:first-child {
    padding-left: 2px;
  }

  &:last-child {
    padding-right: 2px;
  }
}

.help {
  color: $lbry-gray-5;
  font-size: 12px;
}

.help--padded {
  padding-top: $spacing-vertical * 2/3;
}

.meta {
  color: $lbry-gray-1;
  font-size: 0.8em;
}

.empty {
  color: $lbry-gray-1;
  font-style: italic;
}

.qr-code {
  width: 134px;
  height: 134px;
  border: 3px solid $lbry-white;

  &.qr-code--right-padding {
    margin-right: $spacing-vertical * 2/3;
  }

  &.qr-code--top-padding {
    margin-top: $spacing-vertical * 2/3;
  }
}

.error-text {
  color: $lbry-red-5;
}

.thumbnail-preview {
  width: var(--thumbnail-preview-width);
  height: var(--thumbnail-preview-height);

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
