// Generic html styles used accross the App
// component specific styling should go in the component scss file

@font-face {
  font-family: 'Metropolis';
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url('../../../static/font/metropolis/Metropolis-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url('../../../static/font/metropolis/Metropolis-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url('../../../static/font/metropolis/Metropolis-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url('../../../static/font/metropolis/Metropolis-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 800;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url('../../../static/font/metropolis/Metropolis-ExtraBold.woff2') format('woff2');
}

html {
  height: 100%;
  font-size: var(--font-size);
}

body {
  color: var(--text-color);
  font-family: 'Metropolis', sans-serif;
  line-height: var(--font-line-height);
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

code {
  font: 0.8em Consolas, 'Lucida Console', 'Source Sans', monospace;
  background-color: var(--color-bg-alt);
}

// Without this buttons don't have the Metropolis font
button {
  font-weight: inherit;
  font-family: inherit;
}

ul {
  list-style-type: none;
}

input {
  border-bottom: var(--input-border-size) solid var(--input-border-color);
  color: var(--input-color);
  line-height: 1;
  cursor: text;

  &[type='radio'],
  &[type='checkbox'],
  &[type='file'],
  &[type='select'] {
    cursor: pointer;
  }

  &[type='file'] {
    border-bottom: none;
  }

  &.input-copyable {
    background: var(--input-bg);
    color: var(--input-disabled-color);
    font-family: 'Consolas', 'Lucida Console', 'Adobe Source Code Pro', monospace;
    border-bottom: 1px dotted var(--color-divider);
    width: 100%;
    flex: 1;
  }

  &:disabled {
    color: var(--input-disabled-color);
    border-bottom: var(--input-border-size) solid var(--input-disabled-color);
  }
}

button + input {
  margin-left: $spacing-vertical * 2/3;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
}

dt {
  float: left;
  width: 20%;
  padding: 0;
  margin: 0;
}

dd {
  float: left;
  width: 80%;
  padding: 0;
  margin: 0;
}

.page {
  display: grid;
  grid-template-rows: var(--header-height) calc(100vh - var(--header-height));
  grid-template-columns: 170px auto;
  grid-template-areas:
    'nav header'
    'nav content';
  background-color: var(--color-bg);
}

/*
  Page content
*/
.content {
  grid-area: content;
  overflow: auto;
}

.main {
  padding: 0 $spacing-vertical $spacing-vertical;
  max-width: 900px;
  margin: auto;
}

.main--no-padding {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  max-width: none;
}

.page__header {
  padding: $spacing-vertical * 2/3;
  padding-bottom: 0;
}

.page__title {
  font-weight: 800;
  font-size: 3em;
}

.columns {
  display: flex;
  justify-content: space-between;

  > * {
    flex-grow: 1;
    flex-basis: 0;

    &:not(:first-of-type):not(:last-of-type) {
      margin: 0 $spacing-vertical / 3;
    }

    &:first-of-type {
      margin-right: $spacing-vertical / 3;
    }

    &:last-of-type {
      margin-left: $spacing-vertical / 3;
    }
  }
}

/* Custom text selection */
*::selection {
  background: var(--text-selection-bg);
  color: var(--text-selection-color);
}

.credit-amount {
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.6em;
}

.credit-amount--free {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.credit-amount--cost {
  color: var(--color-black);
  background-color: var(--color-third);
}

.credit-amount--large {
  font-size: 2em;
  font-weight: 800;
}

//
// .credit-amount--fee {
//   font-size: 0.9em;
//   color: var(--color-meta-light);
// }
//
// .credit-amount--bold {
//   font-weight: 700;
// }

.divider__horizontal {
  border-top: var(--color-divider);
  margin: 16px 0;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.truncated-text {
  //display: inline-block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.busy-indicator {
  background: url('../../../static/img/busy.gif') no-repeat center center;
  display: inline-block;
  margin: -1em 0;
  min-width: 16px;
  min-height: 8px;
  vertical-align: middle;
  padding: 0 30px;
  &:last-child {
    padding-right: 2px;
  }
  &:first-child {
    padding-left: 2px;
  }
}

.help {
  font-size: 0.85em;
  color: var(--color-help);
}

.meta {
  font-size: 0.9em;
  color: var(--color-meta-light);
}

.empty {
  color: var(--color-meta-light);
  font-style: italic;
}

/*should be redone/moved*/
.file-list__header {
  .busy-indicator {
    float: left;
    margin-top: 12px;
  }
}

// .sort-section {
//   display: block;
//   margin-bottom: $spacing-vertical * 2/3;
//
//   text-align: right;
//   line-height: 1;
//   font-size: 0.85em;
//   color: var(--color-help);
// }
//
// section.section-spaced {
//   margin-bottom: $spacing-vertical;
// }
