body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
select,
textarea,
p,
blockquote,
th,
td,
iframe {
  margin: 0;
  padding: 0;
}
:focus {
  outline: 0;
}
input::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
iframe {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ol,
ul {
  list-style-position: inside;
  > li {
    list-style-position: inside;
  }
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: 0 none;
}
img {
  width: auto;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
a {
  color: inherit;
  text-decoration: none;
}
