/*
Both of these should probably die and become variables as well
 */
$spacing-vertical: 24px;
$spacing-width: 36px;

$medium-breakpoint: 1280px;
$large-breakpoint: 1760px;

:root {
  /* Widths & spacings */
  --side-nav-width: 220px;
  --side-nav-width-m: 240px;
  --side-nav-width-l: 320px;

  --video-aspect-ratio: 56.25%; // 9 x 16
  --snack-bar-width: 756px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #d6d6d6;
  --color-grey-light: #f6f6f6;
  --color-grey-dark: #888;
  --color-primary: #44b098;
  --color-primary-dark: #2c6e60;
  --color-primary-light: #64c9b2;
  --color-secondary: #6afbda;
  --color-teal: #19a6a3;
  --color-dark-blue: #2f6f61;
  --color-light-blue: #49b2e2;
  --color-red: #e2495e;
  --color-yellow: #fbd55e;
  --color-divider: #e3e3e3;

  --text-color: var(--color-black);
  --text-color-inverse: var(--color-white);

  --color-dark-overlay: rgba(32, 32, 32, 0.9);
  --color-help: rgba(0, 0, 0, 0.54);
  --color-error: #a94442;
  --color-download: var(--color-white);
  --color-download-overlay: var(--color-black);
  --color-bg: #fafafa;
  --color-bg-alt: var(--color-grey-light);
  --color-placeholder: #ececec;
  --color-nav-bg: var(--color-grey-light);

  /* Shadows */
  --box-shadow-layer: 0 4px 9px -2px var(--color-grey);
  --box-shadow-button: 0 10px 20px rgba(0, 0, 0, 0.1);
  --box-shadow-wunderbar: 0px 10px 20px rgba(0, 0, 0, 0.03);

  /* Text */
  --text-help-color: #eee;
  --text-max-width: 660px;
  --text-link-padding: 4px;
  --text-selection-bg: rgba(saturate(lighten(#155b4a, 20%), 20%), 1); // temp color
  --text-selection-color: #fff;

  /* Form */
  --form-label-color: rgba(0, 0, 0, 0.54);

  /* Input */
  --input-bg: transparent;
  --input-label-color: var(--color-grey-dark);
  --input-color: var(--text-color);
  --input-border-size: 1px;
  --input-border-color: var(--color-grey-dark);
  --input-copyable-bg: var(--color-grey-light);
  --input-copyable-color: var(--color-grey-dark);
  --input-copyable-border: var(--color-grey);

  /* input:disabled */
  --input-disabled-border-color: rgba(0, 0, 0, 0.42);
  --input-disabled-color: rgba(0, 0, 0, 0.54);

  /* input:hover */
  --input-hover-border-color: rgba(0, 0, 0, 0.87);
  /* input:placeholder */
  --input-placeholder-color: rgba(0, 0, 0, 0.42);
  --input-placeholder-opacity: 1;

  /* Select */
  --select-bg: var(--color-bg-alt);
  --select-color: var(--text-color);
  --select-height: 30px;

  /* Button */
  --btn-bg-primary: var(--color-primary);
  --btn-color-primary: var(--color-white);
  --btn-bg-primary-hover: var(--color-primary-light);
  --btn-bg-alt: var(--color-white);
  --btn-color-alt: var(--text-color);
  --btn-color-inverse: var(--color-primary);
  --btn-external-color: var(--color-light-blue);
  --btn-bg-secondary: var(--color-teal);
  --btn-bg-danger: var(--color-red);
  --btn-radius: 20px;
  --btn-height: 36px;

  /* Header */
  --header-bg: var(--color-white);
  --header-color: var(--color-text);
  --header-active-color: rgba(0, 0, 0, 0.85);
  --header-height: $spacing-width * 3;
  --header-button-bg: transparent;
  --header-button-hover-bg: rgba(100, 100, 100, 0.15);

  /* Header -> search */
  --search-color: #666;
  --search-bg-color: #fff;
  --search-active-color: var(--header-active-color);
  --search-active-shadow: 0 6px 9px -2px var(--color-grey--dark);
  --search-modal-input-height: 70px;

  /* Table */
  --table-border: 1px solid #e2e2e2;
  --table-item-even: white;
  --table-item-odd: #f4f4f4;

  /* Card */
  --card-radius: 2px;
  --card-margin: $spacing-vertical * 2/3;
  --card-wallet-color: var(--text-color-inverse);

  /* File Tile Card */
  --file-tile--media-size: 60px;

  /* Modal */
  --modal-width: 440px;
  --modal-bg: var(--color-bg);
  --modal-overlay-bg: rgba(#f5f5f5, 0.75); // --color-canvas: #F5F5F5
  --modal-border: 1px solid rgb(204, 204, 204);

  // /* Tooltip */
  --tooltip-width: 300px;
  --tooltip-bg: var(--color-bg);
  --tooltip-color: var(--text-color);

  /* Scrollbar */
  --scrollbar-radius: 10px;
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover-bg: rgba(0, 0, 0, 0.35);
  --scrollbar-thumb-active-bg: var(--color-primary);
  --scrollbar-track-bg: transparent;

  // /* Animation :) */
  --animation-duration: 0.3s;
  --animation-style: cubic-bezier(0.55, 0, 0.1, 1);
}
