/*
Both of these should probably die and become variables as well
 */
$spacing-vertical: 24px;
$width-page-constrained: 800px;

:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #000; // I shouldn't use color names like this
  --color-grey: #d6d6d6;
  --color-grey-dark: #888;
  --color-primary: #44b098;
  --color-primary-dark: #2c6e60;
  --color-secondary: #6afbda;
  --color-third: #fbd55e;
  --color-fourth: #49b2e2;
  --color-divider: #e3e3e3;

  --text-color: var(--color-black);
  // --color-brand: #155b4a;
  --color-dark-overlay: rgba(32, 32, 32, 0.9);
  --color-help: rgba(0, 0, 0, 0.54);
  // --color-notice: #8a6d3b;
  --color-error: #a94442;
  // --color-load-screen-text: #c3c3c3;
  // --color-meta-light: #505050;
  // --color-money: #216c2a;
  // --color-download: rgba(0, 0, 0, 0.75);
  // --color-canvas: #f5f5f5;
  --color-bg: #fafafa;
  --color-bg-alt: #f6f6f6;
  --color-placeholder: #ececec;
  --color-nav-bg: #f6f6f6;

  /* Video */
  --height-video-embedded: 450px;
  --height-video-embedded-min: 325px;
  --width-video-embedded: 700px;

  // --width-video-embedded: var(--height-video-embedded) * 16/9;
  // --content-max-width: 1000px;
  // --nsfw-blur-intensity: 20px;

  /* Font */
  --font-size: 16px;
  --font-line-height: 1.7;
  --font-size-subtext-multiple: 0.82;

  /* Shadows */
  // --box-shadow-layer: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  --box-shadow-color: var(--color-grey);
  --box-shadow-layer: 0 4px 9px -2px var(--box-shadow-color);

  /* Text */
  --text-help-color: #eee;
  --text-max-width: 660px;
  --text-link-padding: 4px;
  --text-selection-bg: rgba(saturate(lighten(#155b4a, 20%), 20%), 1); // temp color
  --text-selection-color: #fff;

  /* Form */
  --form-label-color: rgba(0, 0, 0, 0.54);

  /* Input */
  --input-bg: transparent;
  --input-label-color: var(--color-grey-dark);
  --input-color: var(--text-color);
  --input-border-size: 1px;
  --input-border-color: var(--color-grey-dark);

  /* input:active */
  --input-active-bg: transparent;

  /* input:disabled */
  --input-disabled-border-color: rgba(0, 0, 0, 0.42);
  --input-disabled-color: rgba(0, 0, 0, 0.54);

  /* input:hover */
  --input-hover-border-color: rgba(0, 0, 0, 0.87);
  /* input:placeholder */
  --input-placeholder-color: rgba(0, 0, 0, 0.42);
  --input-placeholder-opacity: 1;

  /* Select */
  --select-bg: var(--color-bg-alt);
  --select-color: var(--text-color);
  --select-height: 30px;

  /* Button */
  --btn-primary-color: #fff;
  --btn-primary-bg: var(--color-primary);
  --btn-alt-bg: var(--color-white);
  --btn-alt-color: var(--text-color);
  --btn-inverse-bg: var(--btn-alt-bg);
  --btn-inverse-color: var(--color-primary);
  --btn-radius: 20px;
  --btn-height: 40px;

  /* Nav */
  --nav-bg: var(--color-nav-bg);
  /* Header */
  --header-bg: var(--color-white);
  --header-color: var(--color-text);
  --header-active-color: rgba(0, 0, 0, 0.85);
  --header-height: $spacing-vertical * 3;
  --header-button-bg: transparent; //var(--button-bg);
  --header-button-hover-bg: rgba(100, 100, 100, 0.15);

  /* Header -> search */
  --search-bg: #fff;
  --search-color: #666;
  --search-active-color: var(--header-active-color);
  --search-active-shadow: 0 6px 9px -2px var(--color-grey--dark);

  /* Table */
  --table-border: 1px solid #e2e2e2;
  --table-item-even: white;
  --table-item-odd: #f4f4f4;

  /* Card */
  --card-bg: var(--color-white);
  --card-hover-translate: 10px;
  --card-margin: $spacing-vertical * 2/3;
  --card-max-width: $width-page-constrained;
  --card-radius: 2px;
  --card-small-width: $spacing-vertical * 10;

  /* Modal */
  --modal-width: 440px;
  --modal-bg: var(--color-bg);
  --modal-overlay-bg: rgba(#f5f5f5, 0.75); // --color-canvas: #F5F5F5
  --modal-border: 1px solid rgb(204, 204, 204);

  // /* Tooltip */
  --tooltip-width: 300px;
  --tooltip-bg: var(--color-bg);
  --tooltip-color: var(--text-color);

  /* Scrollbar */
  --scrollbar-radius: 10px;
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover-bg: rgba(0, 0, 0, 0.35);
  --scrollbar-thumb-active-bg: var(--color-primary);
  --scrollbar-track-bg: transparent;

  // /* Divider */
  // --divider: 1px solid rgba(0, 0, 0, 0.12);
  //
  // /* Animation :) */
  // --animation-duration: 0.3s;
  // --animation-style: cubic-bezier(0.55, 0, 0.1, 1);
}
