/*
Both of these should probably die and become variables as well
 */
$spacing-vertical: 24px;
$width-page-constrained: 800px;

:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #44b098;
  --color-secondary: #6afbda;

  /* ? */
  --color-grey: #d6d6d6;
  --color-grey-dark: #888;
  --color-primary-dark: #2c6e60;
  --color-third: #fbd55e;
  --color-fourth: #49b2e2;
  --color-dark-overlay: rgba(32, 32, 32, 0.9);
  --color-help: rgba(0, 0, 0, 0.54);
  --color-error: #a94442;
  --color-bg: #fafafa;
  --color-bg-alt: #f6f6f6;
  --color-placeholder: #ececec;
  --color-nav-bg: #f6f6f6;

  /* Page */
  --page-bg: var(--color-bg);

  /* Font */
  --font-size: 16px;
  --font-line-height: 1.7;
  --font-size-subtext-multiple: 0.82;

  /* Shadows */
  --box-shadow-color: var(--color-grey);
  --box-shadow-layer: 0 4px 9px -2px var(--box-shadow-color);

  /* Text */
  --text-color: var(--color-black);
  --text-help-color: #eee;
  --text-max-width: 660px;
  --text-link-padding: 4px;
  --text-selection-bg: rgba(saturate(lighten(#155b4a, 20%), 20%), 1); // temp color
  --text-selection-color: #fff;

  /* Divider */
  --divider-color: #e3e3e3;

  /* Video */
  --height-video-embedded: 450px;
  --height-video-embedded-min: 325px;
  --width-video-embedded: 700px;

  /* Form */
  --form-label-color: rgba(0, 0, 0, 0.54);

  /* Input */
  --input-bg: transparent;
  --input-label-color: var(--color-grey-dark);
  --input-color: var(--text-color);
  --input-border-size: 1px;
  --input-border-color: var(--color-grey-dark);
  /* --> input:active */
  --input-active-bg: transparent;
  /* --> input:disabled */
  --input-disabled-border-color: rgba(0, 0, 0, 0.42);
  --input-disabled-color: rgba(0, 0, 0, 0.54);
  /* --> input:hover */
  --input-hover-border-color: rgba(0, 0, 0, 0.87);
  /* --> input:placeholder */
  --input-placeholder-color: rgba(0, 0, 0, 0.42);
  --input-placeholder-opacity: 1;

  /* Select */
  --select-bg: var(--color-bg-alt);
  --select-color: var(--text-color);
  --select-height: 30px;

  /* Button */
  --btn-radius: 20px;
  --btn-height: 40px;
  // --> Primary
  --btn-primary-bg: var(--color-primary);
  --btn-primary-color: var(--color-white);
  // --> Secondary
  --btn-secondary-bg: var(--color-secondary);
  --btn-secondary-color: var(--color-white);
  // --> Alternative
  --btn-alt-bg: var(--color-white);
  --btn-alt-color: var(--text-color);
  // --> Inverse
  --btn-inverse-bg: var(--btn-alt-bg);
  --btn-inverse-color: var(--color-primary);

  /* Nav */
  --nav-bg: var(--color-nav-bg);

  /* Header */
  --header-bg: var(--color-white);
  --header-color: var(--color-text);
  --header-active-color: rgba(0, 0, 0, 0.85);
  --header-height: $spacing-vertical * 3;
  --header-button-bg: transparent; //var(--button-bg);
  --header-button-hover-bg: rgba(100, 100, 100, 0.15);

  /* Header -> search */
  --search-bg: #fff;
  --search-color: #666;
  --search-active-bg: transparent;
  --search-active-color: var(--header-active-color);
  --search-active-shadow: 0 6px 9px -2px var(--color-grey--dark);
  --search-active-border-color: var(--divider-color);

  /* Table */
  --table-border: 1px solid #e2e2e2;
  --table-item-even: white;
  --table-item-odd: #f4f4f4;

  /* Card */
  --card-bg: var(--color-white);
  --card-hover-translate: 10px;
  --card-margin: $spacing-vertical * 2/3;
  --card-max-width: $width-page-constrained;
  --card-radius: 2px;
  --card-small-width: $spacing-vertical * 10;

  /* Modal */
  --modal-width: 440px;
  --modal-bg: var(--color-bg);
  --modal-overlay-bg: rgba(#f5f5f5, 0.75);
  --modal-border: 1px solid rgb(204, 204, 204);

  // /* Tooltip */
  --tooltip-width: 300px;
  --tooltip-bg: var(--color-bg);
  --tooltip-color: var(--text-color);

  /* Scrollbar */
  --scrollbar-radius: 10px;
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover-bg: rgba(0, 0, 0, 0.35);
  --scrollbar-thumb-active-bg: var(--color-primary);
  --scrollbar-track-bg: transparent;


  // /* Animation */
  // --animation-duration: 0.3s;
  // --animation-style: cubic-bezier(0.55, 0, 0.1, 1);
}
