@import "../global";

$color-download: #444;

.file-actions--stub
{
  height: $height-button;
}

.file-actions__download-status-bar
{
  padding-right: $padding-button;
  padding-left: $padding-button;
  position: relative;
  color: $color-download;
}
.file-actions__download-status-bar-overlay
{
  padding-right: $padding-button;
  padding-left: $padding-button;
  background: $color-download;
  color: white;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
  top: 0px;
  left: 0px;
}