.container {
  align-items: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: left;
  margin-bottom: var(--spacing-vertical-xlarge);
}

.yrbl {
  height: 20em;
  max-height: 20vw;
  max-width: none !important; /* Seriously, what's the the base styles, clean them up */
  margin-right: 1vw;
  min-height: 10em;
}

.content {
  max-width: 500px;
}


// Get weird here
.yrblEnhanced {
  position: absolute;
  z-index: 9999;
  height: 95vh;
  width: 95vh;
  left: 0;
  right: 0;
  opacity: 0.5;
  animation-name: enhancedAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@-webkit-keyframes enhancedAnimation {
  from {
    left: 0;
    transform: rotate(0deg);
  }
  to {
    left: 50vw;
    transform: rotate(360deg);
  }
}
